Repository mesosphere/kubernetes-base-addons, changes with the labels that .github/labeler.yml gives for each.
All labels: addon/ambassador, addon/awsebscsiprovisioner, addon/awsebsprovisioner, addon/azuredisk-csi-driver, addon/azurediskprovisioner, addon/cert-manager, addon/dashboard, addon/defaultstorageclass-protection, addon/dex, addon/dex-k8s-authenticator, addon/elasticsearch, addon/elasticsearch-curator, addon/elasticsearchexporter, addon/external-dns, addon/flagger, addon/fluentbit, addon/gatekeeper, addon/gcpdisk-csi-driver, addon/gcpdiskprovisioner, addon/istio, addon/jaeger, addon/kiali, addon/kibana, addon/konvoyconfig, addon/kube-oidc-proxy, addon/localvolumeprovisioner, addon/metallb, addon/nvidia, addon/opsportal, addon/prometheus, addon/prometheusadapter, addon/reloader, addon/traefik, addon/traefik-forward-auth, addon/velero, addon/vsphere-csi-driver

.github/labeler.yml:

---
addon/ambassador:
  - addons/ambassador/*
addon/awsebscsiprovisioner:
  - addons/awsebscsiprovisioner/*
addon/awsebsprovisioner:
  - addons/awsebsprovisioner/*
addon/azuredisk-csi-driver:
  - addons/azuredisk-csi-driver/*
addon/azurediskprovisioner:
  - addons/azurediskprovisioner/*
addon/cert-manager:
  - addons/cert-manager/*
addon/dashboard:
  - addons/dashboard/*
addon/defaultstorageclass-protection:
  - addons/defaultstorageclass-protection/*
addon/dex:
  - addons/dex/*
addon/dex-k8s-authenticator:
  - addons/dex-k8s-authenticator/*
addon/elasticsearch:
  - addons/elasticsearch/*
addon/elasticsearch-curator:
  - addons/elasticsearch-curator/*
addon/elasticsearchexporter:
  - addons/elasticsearchexporter/*
addon/external-dns:
  - addons/external-dns/*
addon/flagger:
  - addons/flagger/*
addon/fluentbit:
  - addons/fluentbit/*
addon/gatekeeper:
  - addons/gatekeeper/*
addon/gcpdisk-csi-driver:
  - addons/gcpdisk-csi-driver/*
addon/gcpdiskprovisioner:
  - addons/gcpdiskprovisioner/*
addon/istio:
  - addons/istio/*
addon/jaeger:
  - addons/jaeger/*
addon/kiali:
  - addons/kiali/*
addon/kibana:
  - addons/kibana/*
addon/konvoyconfig:
  - addons/konvoyconfig/*
addon/kube-oidc-proxy:
  - addons/kube-oidc-proxy/*
addon/localvolumeprovisioner:
  - addons/localvolumeprovisioner/*
addon/metallb:
  - addons/metallb/*
addon/nvidia:
  - addons/nvidia/*
addon/opsportal:
  - addons/opsportal/*
addon/prometheus:
  - addons/prometheus/*
addon/prometheusadapter:
  - addons/prometheusadapter/*
addon/reloader:
  - addons/reloader/*
addon/traefik:
  - addons/traefik/*
addon/traefik-forward-auth:
  - addons/traefik-forward-auth/*
addon/velero:
  - addons/velero/*
addon/vsphere-csi-driver:
  - addons/vsphere-csi-driver/*

use internal traefik fork (#1162)
  addons/traefik/traefik.yaml
Labels: addon/traefik

[release/3][BACKPORT] use internal traefik fork (#1163)
  addons/traefik/traefik.yaml
Labels: addon/traefik

[release/4][BACKPORT] use internal traefik fork (#1164)
  addons/traefik/traefik.yaml
Labels: addon/traefik

[auto-bump][chart] nvidia-0.3.6 (#1133)
  addons/nvidia/nvidia.yaml
Labels: addon/nvidia

Bump nvidia to 0.3.6
  addons/nvidia/nvidia.yaml
Labels: addon/nvidia

Bump patch version
  addons/nvidia/nvidia.yaml
Labels: addon/nvidia

Bump nvidia to 0.3.6
  addons/nvidia/nvidia.yaml
Labels: addon/nvidia

Bump patch version
  addons/nvidia/nvidia.yaml
Labels: addon/nvidia

prometheus: set nameOverride to preserve previous Service name
  addons/flagger/flagger.yaml
  addons/kiali/kiali.yaml
  addons/prometheus/prometheus.yaml
  addons/prometheusadapter/prometheusadapter.yaml
  test/prometheus_test.go
  test/testdata/prometheus-metric-output.json
  test/testdata/prometheus-metric-tests.yaml
  test/testdata/test-nightly-group-prom-metric-tests.yaml
Labels: addon/flagger, addon/kiali, addon/prometheus, addon/prometheusadapter

DNM
  test/nightly_prometheus_test.go
Labels: none

Revert "DNM"
  test/nightly_prometheus_test.go
Labels: none

Bump opsportal to 0.8.2
  addons/opsportal/opsportal.yaml
Labels: addon/opsportal

prometheus: set nameOverride to preserve previous Service name (#1172)
  addons/flagger/flagger.yaml
  addons/kiali/kiali.yaml
  addons/prometheus/prometheus.yaml
  addons/prometheusadapter/prometheusadapter.yaml
  test/prometheus_test.go
  test/testdata/prometheus-metric-output.json
  test/testdata/prometheus-metric-tests.yaml
  test/testdata/test-nightly-group-prom-metric-tests.yaml
Labels: addon/flagger, addon/kiali, addon/prometheus, addon/prometheusadapter

DNM
  test/nightly_prometheus_test.go
Labels: none

Revert "DNM"
  test/nightly_prometheus_test.go
Labels: none

adding-files-with-cherrypick-conflicts
  addons/flagger/flagger.yaml
  addons/kiali/kiali.yaml
  addons/prometheus/prometheus.yaml
  addons/prometheusadapter/prometheusadapter.yaml
  test/prometheus_test.go
  test/testdata/prometheus-metric-output.json
  test/testdata/prometheus-metric-tests.yaml
  test/testdata/test-nightly-group-prom-metric-tests.yaml
Labels: addon/flagger, addon/kiali, addon/prometheus, addon/prometheusadapter

prometheus: set nameOverride to preserve previous Service name
  addons/flagger/flagger.yaml
  addons/kiali/kiali.yaml
  addons/prometheus/prometheus.yaml
  addons/prometheusadapter/prometheusadapter.yaml
  test/prometheus_test.go
  test/testdata/prometheus-metric-output.json
  test/testdata/prometheus-metric-tests.yaml
  test/testdata/test-nightly-group-prom-metric-tests.yaml
Labels: addon/flagger, addon/kiali, addon/prometheus, addon/prometheusadapter

DNM
  test/nightly_prometheus_test.go
Labels: none

Revert "DNM"
  test/nightly_prometheus_test.go
Labels: none

Resolve conflicts
  addons/kiali/kiali.yaml
  addons/prometheusadapter/prometheusadapter.yaml
Labels: addon/kiali, addon/prometheusadapter

[release/3][BACKPORT] prometheus: set nameOverride to preserve previous Service name (#1175)
  addons/flagger/flagger.yaml
  addons/kiali/kiali.yaml
  addons/prometheus/prometheus.yaml
  addons/prometheusadapter/prometheusadapter.yaml
  test/prometheus_test.go
  test/testdata/prometheus-metric-output.json
  test/testdata/prometheus-metric-tests.yaml
  test/testdata/test-nightly-group-prom-metric-tests.yaml
Labels: addon/flagger, addon/kiali, addon/prometheus, addon/prometheusadapter

[release/4][BACKPORT] prometheus: set nameOverride to preserve previous Service name (#1176)
  addons/flagger/flagger.yaml
  addons/kiali/kiali.yaml
  addons/prometheus/prometheus.yaml
  addons/prometheusadapter/prometheusadapter.yaml
  test/prometheus_test.go
  test/testdata/prometheus-metric-output.json
  test/testdata/prometheus-metric-tests.yaml
  test/testdata/test-nightly-group-prom-metric-tests.yaml
Labels: addon/flagger, addon/kiali, addon/prometheus, addon/prometheusadapter

Bump ambassador to 6.7.10
  addons/ambassador/ambassador.yaml
Labels: addon/ambassador

Bump azuredisk-csi-driver to 0.8.0
  addons/azuredisk-csi-driver/azuredisk-csi-driver.yaml
Labels: addon/azuredisk-csi-driver

Bump kubernetes-dashboard to 4.2.0
  addons/dashboard/dashboard.yaml
Labels: addon/dashboard

Bump dex to 2.9.4
  addons/dex/dex.yaml
Labels: addon/dex

Bump prometheus-elasticsearch-exporter to 4.4.0
  addons/elasticsearchexporter/elasticsearchexporter.yaml
Labels: addon/elasticsearchexporter

Bump kiali-operator to 1.35.0
  addons/kiali/kiali.yaml
Labels: addon/kiali

Bump kube-oidc-proxy to 0.2.5
  addons/kube-oidc-proxy/kube-oidc-proxy.yaml
Labels: addon/kube-oidc-proxy

Bump opsportal to 0.8.2
  addons/opsportal/opsportal.yaml
Labels: addon/opsportal

Bump kube-prometheus-stack to 15.4.6
  addons/prometheus/prometheus.yaml
Labels: addon/prometheus

Bump reloader to v0.0.90
  addons/reloader/reloader.yaml
Labels: addon/reloader

[release/3][BACKPORT] [auto-bump][chart] nvidia-0.3.6 (#1166)
  addons/nvidia/nvidia.yaml
Labels: addon/nvidia

[release/4][BACKPORT] [auto-bump][chart] nvidia-0.3.6 (#1167)
  addons/nvidia/nvidia.yaml
Labels: addon/nvidia

4.1 release notes
  ADDONS.md
  RELEASE_NOTES.md
Labels: none

3.5 release notes
  ADDONS.md
  RELEASE_NOTES.md
Labels: none

4.1 release notes (#1190)
  ADDONS.md
  RELEASE_NOTES.md
Labels: none

3.5 release notes (#1191)
  ADDONS.md
  RELEASE_NOTES.md
Labels: none

fix: change Nvidia metrics path
  addons/prometheus/prometheus.yaml
Labels: addon/prometheus

fix: change Nvidia metrics path
  addons/prometheus/prometheus.yaml
Labels: addon/prometheus
