Repository mesosphere/kubernetes-base-addons, changes with the labels that .github/labeler.yml gives for each.
All labels: addon/ambassador, addon/awsebscsiprovisioner, addon/awsebsprovisioner, addon/azuredisk-csi-driver, addon/azurediskprovisioner, addon/cert-manager, addon/dashboard, addon/defaultstorageclass-protection, addon/dex, addon/dex-k8s-authenticator, addon/elasticsearch, addon/elasticsearch-curator, addon/elasticsearchexporter, addon/external-dns, addon/flagger, addon/fluentbit, addon/gatekeeper, addon/gcpdisk-csi-driver, addon/gcpdiskprovisioner, addon/istio, addon/jaeger, addon/kiali, addon/kibana, addon/konvoyconfig, addon/kube-oidc-proxy, addon/localvolumeprovisioner, addon/metallb, addon/nvidia, addon/opsportal, addon/prometheus, addon/prometheusadapter, addon/reloader, addon/traefik, addon/traefik-forward-auth, addon/velero, addon/vsphere-csi-driver

.github/labeler.yml:

---
addon/ambassador:
  - addons/ambassador/*
addon/awsebscsiprovisioner:
  - addons/awsebscsiprovisioner/*
addon/awsebsprovisioner:
  - addons/awsebsprovisioner/*
addon/azuredisk-csi-driver:
  - addons/azuredisk-csi-driver/*
addon/azurediskprovisioner:
  - addons/azurediskprovisioner/*
addon/cert-manager:
  - addons/cert-manager/*
addon/dashboard:
  - addons/dashboard/*
addon/defaultstorageclass-protection:
  - addons/defaultstorageclass-protection/*
addon/dex:
  - addons/dex/*
addon/dex-k8s-authenticator:
  - addons/dex-k8s-authenticator/*
addon/elasticsearch:
  - addons/elasticsearch/*
addon/elasticsearch-curator:
  - addons/elasticsearch-curator/*
addon/elasticsearchexporter:
  - addons/elasticsearchexporter/*
addon/external-dns:
  - addons/external-dns/*
addon/flagger:
  - addons/flagger/*
addon/fluentbit:
  - addons/fluentbit/*
addon/gatekeeper:
  - addons/gatekeeper/*
addon/gcpdisk-csi-driver:
  - addons/gcpdisk-csi-driver/*
addon/gcpdiskprovisioner:
  - addons/gcpdiskprovisioner/*
addon/istio:
  - addons/istio/*
addon/jaeger:
  - addons/jaeger/*
addon/kiali:
  - addons/kiali/*
addon/kibana:
  - addons/kibana/*
addon/konvoyconfig:
  - addons/konvoyconfig/*
addon/kube-oidc-proxy:
  - addons/kube-oidc-proxy/*
addon/localvolumeprovisioner:
  - addons/localvolumeprovisioner/*
addon/metallb:
  - addons/metallb/*
addon/nvidia:
  - addons/nvidia/*
addon/opsportal:
  - addons/opsportal/*
addon/prometheus:
  - addons/prometheus/*
addon/prometheusadapter:
  - addons/prometheusadapter/*
addon/reloader:
  - addons/reloader/*
addon/traefik:
  - addons/traefik/*
addon/traefik-forward-auth:
  - addons/traefik-forward-auth/*
addon/velero:
  - addons/velero/*
addon/vsphere-csi-driver:
  - addons/vsphere-csi-driver/*

fix merge conflicts
  Dispatchfile
  Makefile
  test/addons_test.go
Labels: none

adding-files-with-cherrypick-conflicts
  .github/mergeable.yml
Labels: none

adding-files-with-cherrypick-conflicts (#923)
  .github/mergeable.yml
Labels: none

[release/3.3][BACKPORT] Automated chart bump jaeger-operator-2.18.4 (#918)
  addons/jaeger/jaeger.yaml
Labels: addon/jaeger

build(deps): bump github.com/datawire/ambassador in /test (#916)
  test/go.mod
  test/go.sum
Labels: none

fix: prometheusadapter reporting double CPU and memory
  addons/prometheusadapter/prometheusadapter.yaml
Labels: addon/prometheusadapter

chore: Bump prometheus to 12.11.9 (#900)
  addons/prometheus/prometheus.yaml
Labels: addon/prometheus

Semi-Automated chart bump prometheus-operator-12.11.9 (#868)
  addons/prometheus/prometheus.yaml
Labels: addon/prometheus

build(deps): bump github.com/google/uuid from 1.1.4 to 1.2.0 in /test (#914)
  test/go.sum
Labels: none

bump konvoy from 1.5.0 to 1.6.1 (#913)
  test/dispatch-ci.sh
  test/run-tests.sh
  test/scripts/setup-konvoy.sh
Labels: none

[release/3.3][BACKPORT] Automated chart bump fluent-bit-0.7.13 (#911)
  addons/fluentbit/fluentbit.yaml
Labels: addon/fluentbit

Bump prometheus-elasticsearch-exporter to 4.0.1 (#910)
  addons/elasticsearchexporter/elasticsearchexporter.yaml
Labels: addon/elasticsearchexporter

fix: prometheusadapter reporting double CPU and memory (#929)
  addons/prometheusadapter/prometheusadapter.yaml
Labels: addon/prometheusadapter

Bump opsportal to 0.4.0
  addons/opsportal/opsportal.yaml
Labels: addon/opsportal

build(deps): bump gopkg.in/yaml.v2 from 2.3.0 to 2.4.0 in /test (#912)
  test/go.mod
  test/go.sum
Labels: none

revert some original provisioner logic for dispatch integration test
  Dispatchfile
Labels: none

fix dispatch using kubeconfig file
  Dispatchfile
Labels: none

bring in test changes from master
  test/dispatch_test_install_upgrade.sh
  test/groups.yaml
  test/test-aws.sh
Labels: none

set default konvoy to 1.6.1 and make fix dispatch cluster type for integration test
  Dispatchfile
Labels: none

adding-files-with-cherrypick-conflicts
  test/addons_test.go
  test/go.sum
  test/groups.yaml
Labels: none

match build files to master
  Dispatchfile
  Makefile
Labels: none

change branch reference
  test/addons_test.go
  test/scripts/test-wrapper.go
Labels: none

use release/3.3
  test/dispatch_test_install_upgrade.sh
  test/test-aws.sh
Labels: none

backport tools for upcoming release
  ADDONS.md
  Makefile
  tools/cmd/release-notes/.gitignore
  tools/cmd/release-notes/.vscode/launch.json
  tools/cmd/release-notes/go.mod
  tools/cmd/release-notes/go.sum
  tools/cmd/release-notes/release-notes.go
Labels: none

output errors and set return code
  tools/cmd/release-notes/release-notes.go
Labels: none

Bump opsportal to 0.4.0 (#930)
  addons/opsportal/opsportal.yaml
Labels: addon/opsportal

chore: test changes to wait for pods and containers
  test/addons_test.go
  test/elasticsearch_test.go
  test/prometheus_test.go
  test/scripts/setup-konvoy.sh
  test/util.go
Labels: none

chore: redo elasticsearch connection if service unavailable
  test/elasticsearch_test.go
Labels: none

output errors and set return code (#932)
  tools/cmd/release-notes/release-notes.go
Labels: none

do not check for unassigned variable when it is expected to be unassigned
  test/test-aws.sh
Labels: none

address shellcheck issues
  test/test-aws.sh
Labels: none

chore: Bump prometheus to 9.3.7
  addons/prometheus/prometheus.yaml
Labels: addon/prometheus

backport tools for upcoming release (#931)
  ADDONS.md
  Makefile
  tools/cmd/release-notes/.gitignore
  tools/cmd/release-notes/.vscode/launch.json
  tools/cmd/release-notes/go.mod
  tools/cmd/release-notes/go.sum
  tools/cmd/release-notes/release-notes.go
Labels: none

chore: Bump prometheus to 9.3.7 (#934)
  addons/prometheus/prometheus.yaml
Labels: addon/prometheus

chore: Bump prometheus to 9.3.7 (#934)
  addons/prometheus/prometheus.yaml
Labels: addon/prometheus

Bump ambassador to 6.5.19
  addons/ambassador/ambassador.yaml
Labels: addon/ambassador

Bump gatekeeper to 0.6.0
  addons/gatekeeper/gatekeeper.yaml
Labels: addon/gatekeeper

Bump kibana to 3.3.1
  addons/kibana/kibana.yaml
Labels: addon/kibana

fix for non dispatch (#933)
  test/test-aws.sh
Labels: none

chore: upgrade gatekeeper and setup remap values
  addons/gatekeeper/gatekeeper.yaml
  test/test-aws.sh
Labels: addon/gatekeeper
