Repository mesosphere/kubernetes-base-addons, changes with the labels that .github/labeler.yml gives for each.
All labels: addon/ambassador, addon/awsebscsiprovisioner, addon/awsebsprovisioner, addon/azuredisk-csi-driver, addon/azurediskprovisioner, addon/cert-manager, addon/dashboard, addon/defaultstorageclass-protection, addon/dex, addon/dex-k8s-authenticator, addon/elasticsearch, addon/elasticsearch-curator, addon/elasticsearchexporter, addon/external-dns, addon/flagger, addon/fluentbit, addon/gatekeeper, addon/gcpdisk-csi-driver, addon/gcpdiskprovisioner, addon/istio, addon/jaeger, addon/kiali, addon/kibana, addon/konvoyconfig, addon/kube-oidc-proxy, addon/localvolumeprovisioner, addon/metallb, addon/nvidia, addon/opsportal, addon/prometheus, addon/prometheusadapter, addon/reloader, addon/traefik, addon/traefik-forward-auth, addon/velero, addon/vsphere-csi-driver

fix: change Nvidia metrics path
  addons/prometheus/prometheus.yaml
Labels: addon/prometheus

fix: change Nvidia metrics path (#1192)
  addons/prometheus/prometheus.yaml
Labels: addon/prometheus

fix: change Nvidia metrics path (#1193)
  addons/prometheus/prometheus.yaml
Labels: addon/prometheus

fix: change Nvidia metrics path
  addons/prometheus/prometheus.yaml
Labels: addon/prometheus

fix: change Nvidia metrics path (#1196)
  addons/prometheus/prometheus.yaml
Labels: addon/prometheus

fix: change Nvidia metrics path (#1194)
  addons/prometheus/prometheus.yaml
Labels: addon/prometheus

fix: change Nvidia metrics path
  addons/prometheus/prometheus.yaml
Labels: addon/prometheus

fix: change Nvidia metrics path (#1197)
  addons/prometheus/prometheus.yaml
Labels: addon/prometheus

3.5 release notes
  ADDONS.md
  RELEASE_NOTES.md
Labels: none

3.5 release notes (#1198)
  ADDONS.md
  RELEASE_NOTES.md
Labels: none

4.1 release notes
  ADDONS.md
  RELEASE_NOTES.md
Labels: none

4.1 release notes (#1199)
  ADDONS.md
  RELEASE_NOTES.md
Labels: none

Merge in changes from release/4.1 (#1201)
  ADDONS.md
  RELEASE_NOTES.md
Labels: none

Merge in changes from release/3.5 (#1202)
  ADDONS.md
  RELEASE_NOTES.md
Labels: none

chore: bump Nvidia chart
  addons/nvidia/nvidia.yaml
Labels: addon/nvidia

chore: fix dependabot configuration for lint
  .github/dependabot.yml
Labels: none

chore: fix dependabot configuration for lint (#1204)
  .github/dependabot.yml
Labels: none

Bump nvidia to 0.4.0
  addons/nvidia/nvidia.yaml
Labels: addon/nvidia

Bump nvidia to 0.4.0 (#1203)
  addons/nvidia/nvidia.yaml
Labels: addon/nvidia

Bump nvidia to 0.4.0
  addons/nvidia/nvidia.yaml
Labels: addon/nvidia

Bump nvidia to 0.4.0
  addons/nvidia/nvidia.yaml
Labels: addon/nvidia

Bump velero to 3.1.2
  addons/velero/velero.yaml
Labels: addon/velero

fix: update Nvidia configuration for new chart
  addons/nvidia/nvidia.yaml
Labels: addon/nvidia

Bump nvidia to 0.4.0 (#1205)
  addons/nvidia/nvidia.yaml
Labels: addon/nvidia

Bump nvidia to 0.4.0 (#1206)
  addons/nvidia/nvidia.yaml
Labels: addon/nvidia

fix: update Nvidia configuration for new chart (#1208)
  addons/nvidia/nvidia.yaml
Labels: addon/nvidia

fix: update Nvidia configuration for new chart
  addons/nvidia/nvidia.yaml
Labels: addon/nvidia

fix: update Nvidia configuration for new chart
  addons/nvidia/nvidia.yaml
Labels: addon/nvidia

Bump ambassador to 6.7.11
  addons/ambassador/ambassador.yaml
Labels: addon/ambassador

Bump azuredisk-csi-driver to 0.8.0
  addons/azuredisk-csi-driver/azuredisk-csi-driver.yaml
Labels: addon/azuredisk-csi-driver

Bump kubernetes-dashboard to 4.3.1
  addons/dashboard/dashboard.yaml
Labels: addon/dashboard

Bump dex to 2.9.4
  addons/dex/dex.yaml
Labels: addon/dex

Bump prometheus-elasticsearch-exporter to 4.4.0
  addons/elasticsearchexporter/elasticsearchexporter.yaml
Labels: addon/elasticsearchexporter

Bump kiali-operator to 1.35.0
  addons/kiali/kiali.yaml
Labels: addon/kiali

Bump kube-oidc-proxy to 0.2.5
  addons/kube-oidc-proxy/kube-oidc-proxy.yaml
Labels: addon/kube-oidc-proxy

Bump opsportal to 0.8.2
  addons/opsportal/opsportal.yaml
Labels: addon/opsportal

Bump kube-prometheus-stack to 15.4.7
  addons/prometheus/prometheus.yaml
Labels: addon/prometheus

Bump reloader to v0.0.94
  addons/reloader/reloader.yaml
Labels: addon/reloader

Bump velero to 3.1.2
  addons/velero/velero.yaml
Labels: addon/velero

fix: update Nvidia configuration for new chart (#1210)
  addons/nvidia/nvidia.yaml
Labels: addon/nvidia

.github/labeler.yml:

---
addon/ambassador:
  - addons/ambassador/*
addon/awsebscsiprovisioner:
  - addons/awsebscsiprovisioner/*
addon/awsebsprovisioner:
  - addons/awsebsprovisioner/*
addon/azuredisk-csi-driver:
  - addons/azuredisk-csi-driver/*
addon/azurediskprovisioner:
  - addons/azurediskprovisioner/*
addon/cert-manager:
  - addons/cert-manager/*
addon/dashboard:
  - addons/dashboard/*
addon/defaultstorageclass-protection:
  - addons/defaultstorageclass-protection/*
addon/dex:
  - addons/dex/*
addon/dex-k8s-authenticator:
  - addons/dex-k8s-authenticator/*
addon/elasticsearch:
  - addons/elasticsearch/*
addon/elasticsearch-curator:
  - addons/elasticsearch-curator/*
addon/elasticsearchexporter:
  - addons/elasticsearchexporter/*
addon/external-dns:
  - addons/external-dns/*
addon/flagger:
  - addons/flagger/*
addon/fluentbit:
  - addons/fluentbit/*
addon/gatekeeper:
  - addons/gatekeeper/*
addon/gcpdisk-csi-driver:
  - addons/gcpdisk-csi-driver/*
addon/gcpdiskprovisioner:
  - addons/gcpdiskprovisioner/*
addon/istio:
  - addons/istio/*
addon/jaeger:
  - addons/jaeger/*
addon/kiali:
  - addons/kiali/*
addon/kibana:
  - addons/kibana/*
addon/konvoyconfig:
  - addons/konvoyconfig/*
addon/kube-oidc-proxy:
  - addons/kube-oidc-proxy/*
addon/localvolumeprovisioner:
  - addons/localvolumeprovisioner/*
addon/metallb:
  - addons/metallb/*
addon/nvidia:
  - addons/nvidia/*
addon/opsportal:
  - addons/opsportal/*
addon/prometheus:
  - addons/prometheus/*
addon/prometheusadapter:
  - addons/prometheusadapter/*
addon/reloader:
  - addons/reloader/*
addon/traefik:
  - addons/traefik/*
addon/traefik-forward-auth:
  - addons/traefik-forward-auth/*
addon/velero:
  - addons/velero/*
addon/vsphere-csi-driver:
  - addons/vsphere-csi-driver/*
