Repository mesosphere/kubernetes-base-addons, changes with the labels that .github/labeler.yml gives for each.
All labels: addon/ambassador, addon/awsebscsiprovisioner, addon/awsebsprovisioner, addon/azuredisk-csi-driver, addon/azurediskprovisioner, addon/cert-manager, addon/dashboard, addon/defaultstorageclass-protection, addon/dex, addon/dex-k8s-authenticator, addon/elasticsearch, addon/elasticsearch-curator, addon/elasticsearchexporter, addon/external-dns, addon/flagger, addon/fluentbit, addon/gatekeeper, addon/gcpdisk-csi-driver, addon/gcpdiskprovisioner, addon/istio, addon/jaeger, addon/kiali, addon/kibana, addon/konvoyconfig, addon/kube-oidc-proxy, addon/localvolumeprovisioner, addon/metallb, addon/nvidia, addon/opsportal, addon/prometheus, addon/prometheusadapter, addon/reloader, addon/traefik, addon/traefik-forward-auth, addon/velero, addon/vsphere-csi-driver

.github/labeler.yml:

---
addon/ambassador:
  - addons/ambassador/*
addon/awsebscsiprovisioner:
  - addons/awsebscsiprovisioner/*
addon/awsebsprovisioner:
  - addons/awsebsprovisioner/*
addon/azuredisk-csi-driver:
  - addons/azuredisk-csi-driver/*
addon/azurediskprovisioner:
  - addons/azurediskprovisioner/*
addon/cert-manager:
  - addons/cert-manager/*
addon/dashboard:
  - addons/dashboard/*
addon/defaultstorageclass-protection:
  - addons/defaultstorageclass-protection/*
addon/dex:
  - addons/dex/*
addon/dex-k8s-authenticator:
  - addons/dex-k8s-authenticator/*
addon/elasticsearch:
  - addons/elasticsearch/*
addon/elasticsearch-curator:
  - addons/elasticsearch-curator/*
addon/elasticsearchexporter:
  - addons/elasticsearchexporter/*
addon/external-dns:
  - addons/external-dns/*
addon/flagger:
  - addons/flagger/*
addon/fluentbit:
  - addons/fluentbit/*
addon/gatekeeper:
  - addons/gatekeeper/*
addon/gcpdisk-csi-driver:
  - addons/gcpdisk-csi-driver/*
addon/gcpdiskprovisioner:
  - addons/gcpdiskprovisioner/*
addon/istio:
  - addons/istio/*
addon/jaeger:
  - addons/jaeger/*
addon/kiali:
  - addons/kiali/*
addon/kibana:
  - addons/kibana/*
addon/konvoyconfig:
  - addons/konvoyconfig/*
addon/kube-oidc-proxy:
  - addons/kube-oidc-proxy/*
addon/localvolumeprovisioner:
  - addons/localvolumeprovisioner/*
addon/metallb:
  - addons/metallb/*
addon/nvidia:
  - addons/nvidia/*
addon/opsportal:
  - addons/opsportal/*
addon/prometheus:
  - addons/prometheus/*
addon/prometheusadapter:
  - addons/prometheusadapter/*
addon/reloader:
  - addons/reloader/*
addon/traefik:
  - addons/traefik/*
addon/traefik-forward-auth:
  - addons/traefik-forward-auth/*
addon/velero:
  - addons/velero/*
addon/vsphere-csi-driver:
  - addons/vsphere-csi-driver/*

Bump opsportal to 0.7.1 (#1071)
  addons/opsportal/opsportal.yaml
Labels: addon/opsportal

Bump opsportal to 0.7.2 (#1074)
  addons/opsportal/opsportal.yaml
Labels: addon/opsportal

chore: bump dex (#1115)
  addons/dex/dex.yaml
Labels: addon/dex

chore: bump dex (#1116)
  addons/dex/dex.yaml
Labels: addon/dex

Change prometheus GPU metrics endpoint
  addons/prometheus/prometheus.yaml
Labels: addon/prometheus

Change to test repo for NVIDIA
  addons/nvidia/nvidia.yaml
Labels: addon/nvidia

vsphere-csi-driver: bump to v2.2.0
  addons/vsphere-csi-driver/vsphere-csi-driver.yaml
Labels: addon/vsphere-csi-driver

Bump vsphere-csi-driver to 1.3.0
  addons/vsphere-csi-driver/vsphere-csi-driver.yaml
Labels: addon/vsphere-csi-driver

make release notes tool work with more than 30 PRs (#1113)
  tools/cmd/release-notes/release-notes.go
Labels: none

Upgrade prometheus addon chart
  addons/prometheus/prometheus.yaml
Labels: addon/prometheus

Update test repo
  addons/nvidia/nvidia.yaml
Labels: addon/nvidia

Update prometheus test with new pod names
  test/prometheus_test.go
Labels: none

Update prometheus URL in prometheusadapter config
  addons/prometheusadapter/prometheusadapter.yaml
Labels: addon/prometheusadapter

Upgrade prometheus addon chart (#1129)
  addons/prometheus/prometheus.yaml
  addons/prometheusadapter/prometheusadapter.yaml
  test/prometheus_test.go
Labels: addon/prometheus, addon/prometheusadapter

adding-files-with-cherrypick-conflicts
  addons/prometheusadapter/prometheusadapter.yaml
Labels: addon/prometheusadapter

adding-files-with-cherrypick-conflicts
  addons/prometheus/prometheus.yaml
Labels: addon/prometheus

Update prometheus test with new pod names
  test/prometheus_test.go
Labels: none

Upgrade prometheus addon chart
  addons/prometheus/prometheus.yaml
Labels: addon/prometheus

Update prometheus URL in prometheusadapter config
  addons/prometheusadapter/prometheusadapter.yaml
Labels: addon/prometheusadapter

Update prometheus test with new pod names
  test/prometheus_test.go
Labels: none

Resolve merge conflicts
  addons/prometheus/prometheus.yaml
  addons/prometheusadapter/prometheusadapter.yaml
Labels: addon/prometheus, addon/prometheusadapter

[release/4][BACKPORT] Upgrade prometheus addon chart (#1132)
  addons/prometheus/prometheus.yaml
  addons/prometheusadapter/prometheusadapter.yaml
  test/prometheus_test.go
Labels: addon/prometheus, addon/prometheusadapter

[release/3][BACKPORT] Upgrade prometheus addon chart (#1131)
  addons/prometheus/prometheus.yaml
  addons/prometheusadapter/prometheusadapter.yaml
  test/prometheus_test.go
Labels: addon/prometheus, addon/prometheusadapter

Bump nvidia to 0.3.6
  addons/nvidia/nvidia.yaml
Labels: addon/nvidia

Update prometheus resource names in metric tests
  test/testdata/prometheus-metric-output.json
  test/testdata/prometheus-metric-tests.yaml
  test/testdata/test-nightly-group-prom-metric-tests.yaml
Labels: none

Update flagger metricsServer
  addons/flagger/flagger.yaml
Labels: addon/flagger

Update kiali prometheus URL
  addons/kiali/kiali.yaml
Labels: addon/kiali

Reorder metric test data
  test/testdata/prometheus-metric-tests.yaml
  test/testdata/test-nightly-group-prom-metric-tests.yaml
Labels: none

set extended-regexp when using extended-regexp syntax
  test/dispatch_test_install_upgrade.sh
Labels: none

Bump vsphere-csi-driver to 1.3.0
  addons/vsphere-csi-driver/vsphere-csi-driver.yaml
Labels: addon/vsphere-csi-driver

Bump vsphere-csi-driver to 1.3.0
  addons/vsphere-csi-driver/vsphere-csi-driver.yaml
Labels: addon/vsphere-csi-driver

Bump vsphere-csi-driver to 1.3.0
  addons/vsphere-csi-driver/vsphere-csi-driver.yaml
Labels: addon/vsphere-csi-driver

Bump vsphere-csi-driver to 1.3.0
  addons/vsphere-csi-driver/vsphere-csi-driver.yaml
Labels: addon/vsphere-csi-driver

Bump vsphere-csi-driver to 1.3.0
  addons/vsphere-csi-driver/vsphere-csi-driver.yaml
Labels: addon/vsphere-csi-driver

Bump vsphere-csi-driver to 1.3.0
  addons/vsphere-csi-driver/vsphere-csi-driver.yaml
Labels: addon/vsphere-csi-driver

Bump vsphere-csi-driver to 1.3.0
  addons/vsphere-csi-driver/vsphere-csi-driver.yaml
Labels: addon/vsphere-csi-driver

Bump vsphere-csi-driver to 1.3.0
  addons/vsphere-csi-driver/vsphere-csi-driver.yaml
Labels: addon/vsphere-csi-driver

unpin kind
  test/go.mod
  test/go.sum
Labels: none

vsphere-csi-driver: bump to v2.2.0 (#1127)
  addons/vsphere-csi-driver/vsphere-csi-driver.yaml
Labels: addon/vsphere-csi-driver

vsphere-csi-driver: bump to v2.2.0
  addons/vsphere-csi-driver/vsphere-csi-driver.yaml
Labels: addon/vsphere-csi-driver
