Repository mesosphere/kubernetes-base-addons, changes with the labels that .github/labeler.yml gives for each.
All labels: addon/ambassador, addon/awsebscsiprovisioner, addon/awsebsprovisioner, addon/azuredisk-csi-driver, addon/azurediskprovisioner, addon/cert-manager, addon/dashboard, addon/defaultstorageclass-protection, addon/dex, addon/dex-k8s-authenticator, addon/elasticsearch, addon/elasticsearch-curator, addon/elasticsearchexporter, addon/external-dns, addon/flagger, addon/fluentbit, addon/gatekeeper, addon/gcpdisk-csi-driver, addon/gcpdiskprovisioner, addon/istio, addon/jaeger, addon/kiali, addon/kibana, addon/konvoyconfig, addon/kube-oidc-proxy, addon/localvolumeprovisioner, addon/metallb, addon/nvidia, addon/opsportal, addon/prometheus, addon/prometheusadapter, addon/reloader, addon/traefik, addon/traefik-forward-auth, addon/velero, addon/vsphere-csi-driver

adding-files-with-cherrypick-conflicts
  addons/cert-manager/cert-manager.yaml
  addons/dex-k8s-authenticator/dex-k8s-authenticator.yaml
  addons/dex/dex.yaml
  addons/kube-oidc-proxy/kube-oidc-proxy.yaml
  addons/opsportal/opsportal.yaml
  addons/traefik-forward-auth/traefik-forward-auth.yaml
  addons/traefik/traefik.yaml
  addons/velero/velero.yaml
Labels: addon/cert-manager, addon/dex, addon/dex-k8s-authenticator, addon/kube-oidc-proxy, addon/opsportal, addon/traefik, addon/traefik-forward-auth, addon/velero

bump all kubeaddons-addon-initializer (#1268)
  addons/cert-manager/cert-manager.yaml
  addons/dex-k8s-authenticator/dex-k8s-authenticator.yaml
  addons/dex/dex.yaml
  addons/kube-oidc-proxy/kube-oidc-proxy.yaml
  addons/opsportal/opsportal.yaml
  addons/traefik-forward-auth/traefik-forward-auth.yaml
  addons/traefik/traefik.yaml
  addons/velero/velero.yaml
Labels: addon/cert-manager, addon/dex, addon/dex-k8s-authenticator, addon/kube-oidc-proxy, addon/opsportal, addon/traefik, addon/traefik-forward-auth, addon/velero

resolve merge conflict
  addons/traefik/traefik.yaml
Labels: addon/traefik

[release/4][BACKPORT] bump all kubeaddons-addon-initializer (#1291)
  addons/cert-manager/cert-manager.yaml
  addons/dex-k8s-authenticator/dex-k8s-authenticator.yaml
  addons/dex/dex.yaml
  addons/kube-oidc-proxy/kube-oidc-proxy.yaml
  addons/opsportal/opsportal.yaml
  addons/traefik-forward-auth/traefik-forward-auth.yaml
  addons/traefik/traefik.yaml
  addons/velero/velero.yaml
Labels: addon/cert-manager, addon/dex, addon/dex-k8s-authenticator, addon/kube-oidc-proxy, addon/opsportal, addon/traefik, addon/traefik-forward-auth, addon/velero

Bump ambassador to 6.9.0
  addons/ambassador/ambassador.yaml
Labels: addon/ambassador

Bump dex to 2.9.9
  addons/dex/dex.yaml
Labels: addon/dex

Bump prometheus-elasticsearch-exporter to 4.6.0
  addons/elasticsearchexporter/elasticsearchexporter.yaml
Labels: addon/elasticsearchexporter

Bump kiali-operator to 1.39.0
  addons/kiali/kiali.yaml
Labels: addon/kiali

Bump kube-prometheus-stack to 17.2.1
  addons/prometheus/prometheus.yaml
Labels: addon/prometheus

Bump traefik-forward-auth to 0.3.2
  addons/traefik-forward-auth/traefik-forward-auth.yaml
Labels: addon/traefik-forward-auth

Bump dex to 2.9.10
  addons/dex/dex.yaml
Labels: addon/dex

Bump nvidia to 0.4.1
  addons/nvidia/nvidia.yaml
Labels: addon/nvidia

Bump nvidia to 0.4.2
  addons/nvidia/nvidia.yaml
Labels: addon/nvidia

Bump opsportal to 0.9.1
  addons/opsportal/opsportal.yaml
Labels: addon/opsportal

fix: Bump prometheus image to v2.29.2
  addons/prometheus/prometheus.yaml
Labels: addon/prometheus

fix: Bump prometheus image to v2.29.2
  addons/prometheus/prometheus.yaml
Labels: addon/prometheus

fix: Bump prometheus image to v2.29.2 (#1303)
  addons/prometheus/prometheus.yaml
Labels: addon/prometheus

fix: Bump prometheus image to v2.29.2 (#1302)
  addons/prometheus/prometheus.yaml
Labels: addon/prometheus

Bump ambassador to 6.9.1
  addons/ambassador/ambassador.yaml
Labels: addon/ambassador

Bump kubernetes-dashboard to 5.0.0
  addons/dashboard/dashboard.yaml
Labels: addon/dashboard

Bump dex to 2.9.10
  addons/dex/dex.yaml
Labels: addon/dex

Bump prometheus-elasticsearch-exporter to 4.6.0
  addons/elasticsearchexporter/elasticsearchexporter.yaml
Labels: addon/elasticsearchexporter

Bump kiali-operator to 1.39.0
  addons/kiali/kiali.yaml
Labels: addon/kiali

Bump nvidia to 0.4.2
  addons/nvidia/nvidia.yaml
Labels: addon/nvidia

Bump opsportal to 0.9.1
  addons/opsportal/opsportal.yaml
Labels: addon/opsportal

Bump kube-prometheus-stack to 17.2.1
  addons/prometheus/prometheus.yaml
Labels: addon/prometheus

Bump traefik-forward-auth to 0.3.2
  addons/traefik-forward-auth/traefik-forward-auth.yaml
Labels: addon/traefik-forward-auth

adding-files-with-cherrypick-conflicts
  addons/prometheus/prometheus.yaml
Labels: addon/prometheus

Bump traefik-forward-auth to 0.3.3
  addons/traefik-forward-auth/traefik-forward-auth.yaml
Labels: addon/traefik-forward-auth

fix: TFA shorten pre/post hook names
  addons/traefik-forward-auth/traefik-forward-auth.yaml
Labels: addon/traefik-forward-auth

fix: Use correct tfa addon-revision version
  addons/traefik-forward-auth/traefik-forward-auth.yaml
Labels: addon/traefik-forward-auth

chore: update image tag
  addons/traefik-forward-auth/traefik-forward-auth.yaml
Labels: addon/traefik-forward-auth

fix: Use correct tfa addon-revision version
  addons/traefik-forward-auth/traefik-forward-auth.yaml
Labels: addon/traefik-forward-auth

chore: update image tag
  addons/traefik-forward-auth/traefik-forward-auth.yaml
Labels: addon/traefik-forward-auth

Bump traefik-forward-auth to 0.3.3
  addons/traefik-forward-auth/traefik-forward-auth.yaml
Labels: addon/traefik-forward-auth

adding-files-with-cherrypick-conflicts
  addons/traefik-forward-auth/traefik-forward-auth.yaml
Labels: addon/traefik-forward-auth

adding-files-with-cherrypick-conflicts
  addons/traefik-forward-auth/traefik-forward-auth.yaml
Labels: addon/traefik-forward-auth

adding-files-with-cherrypick-conflicts
  addons/traefik-forward-auth/traefik-forward-auth.yaml
Labels: addon/traefik-forward-auth

fix: TFA resolve merge conflicts
  addons/traefik-forward-auth/traefik-forward-auth.yaml
Labels: addon/traefik-forward-auth

[auto-bump][chart] traefik-forward-auth-0.3.3 (#1314)
  addons/traefik-forward-auth/traefik-forward-auth.yaml
Labels: addon/traefik-forward-auth

.github/labeler.yml:

---
addon/ambassador:
  - addons/ambassador/*
addon/awsebscsiprovisioner:
  - addons/awsebscsiprovisioner/*
addon/awsebsprovisioner:
  - addons/awsebsprovisioner/*
addon/azuredisk-csi-driver:
  - addons/azuredisk-csi-driver/*
addon/azurediskprovisioner:
  - addons/azurediskprovisioner/*
addon/cert-manager:
  - addons/cert-manager/*
addon/dashboard:
  - addons/dashboard/*
addon/defaultstorageclass-protection:
  - addons/defaultstorageclass-protection/*
addon/dex:
  - addons/dex/*
addon/dex-k8s-authenticator:
  - addons/dex-k8s-authenticator/*
addon/elasticsearch:
  - addons/elasticsearch/*
addon/elasticsearch-curator:
  - addons/elasticsearch-curator/*
addon/elasticsearchexporter:
  - addons/elasticsearchexporter/*
addon/external-dns:
  - addons/external-dns/*
addon/flagger:
  - addons/flagger/*
addon/fluentbit:
  - addons/fluentbit/*
addon/gatekeeper:
  - addons/gatekeeper/*
addon/gcpdisk-csi-driver:
  - addons/gcpdisk-csi-driver/*
addon/gcpdiskprovisioner:
  - addons/gcpdiskprovisioner/*
addon/istio:
  - addons/istio/*
addon/jaeger:
  - addons/jaeger/*
addon/kiali:
  - addons/kiali/*
addon/kibana:
  - addons/kibana/*
addon/konvoyconfig:
  - addons/konvoyconfig/*
addon/kube-oidc-proxy:
  - addons/kube-oidc-proxy/*
addon/localvolumeprovisioner:
  - addons/localvolumeprovisioner/*
addon/metallb:
  - addons/metallb/*
addon/nvidia:
  - addons/nvidia/*
addon/opsportal:
  - addons/opsportal/*
addon/prometheus:
  - addons/prometheus/*
addon/prometheusadapter:
  - addons/prometheusadapter/*
addon/reloader:
  - addons/reloader/*
addon/traefik:
  - addons/traefik/*
addon/traefik-forward-auth:
  - addons/traefik-forward-auth/*
addon/velero:
  - addons/velero/*
addon/vsphere-csi-driver:
  - addons/vsphere-csi-driver/*
