Repository mesosphere/kubernetes-base-addons, changes with the labels that .github/labeler.yml gives for each.
All labels: addon/ambassador, addon/awsebscsiprovisioner, addon/awsebsprovisioner, addon/azuredisk-csi-driver, addon/azurediskprovisioner, addon/cert-manager, addon/dashboard, addon/defaultstorageclass-protection, addon/dex, addon/dex-k8s-authenticator, addon/elasticsearch, addon/elasticsearch-curator, addon/elasticsearchexporter, addon/external-dns, addon/flagger, addon/fluentbit, addon/gatekeeper, addon/gcpdisk-csi-driver, addon/gcpdiskprovisioner, addon/istio, addon/jaeger, addon/kiali, addon/kibana, addon/konvoyconfig, addon/kube-oidc-proxy, addon/localvolumeprovisioner, addon/metallb, addon/nvidia, addon/opsportal, addon/prometheus, addon/prometheusadapter, addon/reloader, addon/traefik, addon/traefik-forward-auth, addon/velero, addon/vsphere-csi-driver

Bump opsportal to 0.9.0
  addons/opsportal/opsportal.yaml
Labels: addon/opsportal

adding-files-with-cherrypick-conflicts
  addons/elasticsearchexporter/elasticsearchexporter.yaml
Labels: addon/elasticsearchexporter

resolve merge conflict
  addons/elasticsearchexporter/elasticsearchexporter.yaml
Labels: addon/elasticsearchexporter

Bump prometheus-elasticsearch-exporter to 4.5.0 (#1259)
  addons/elasticsearchexporter/elasticsearchexporter.yaml
Labels: addon/elasticsearchexporter

bump revision
  addons/opsportal/opsportal.yaml
Labels: addon/opsportal

adding-files-with-cherrypick-conflicts
  addons/reloader/reloader.yaml
Labels: addon/reloader

resolve merge conflict
  addons/reloader/reloader.yaml
Labels: addon/reloader

Bump reloader to v0.0.99 (#1265)
  addons/reloader/reloader.yaml
Labels: addon/reloader

Bump dex to 2.9.7
  addons/dex/dex.yaml
Labels: addon/dex

Bump dex to 2.9.7 (#1269)
  addons/dex/dex.yaml
Labels: addon/dex

Bump dex to 2.9.7
  addons/dex/dex.yaml
Labels: addon/dex

Bump kube-oidc-proxy to 0.2.7
  addons/kube-oidc-proxy/kube-oidc-proxy.yaml
Labels: addon/kube-oidc-proxy

[auto-bump][chart] kube-oidc-proxy-0.2.7 (#1270)
  addons/kube-oidc-proxy/kube-oidc-proxy.yaml
Labels: addon/kube-oidc-proxy

Update addons/velero/velero.yaml
  addons/velero/velero.yaml
Labels: addon/velero

Bump dex to 2.9.7 (#1279)
  addons/dex/dex.yaml
Labels: addon/dex

Bump opsportal to 0.8.2 (#1274)
  addons/opsportal/opsportal.yaml
Labels: addon/opsportal

Bump gatekeeper to 0.6.8 (#1275)
  addons/gatekeeper/gatekeeper.yaml
Labels: addon/gatekeeper

Update addons/velero/velero.yaml
  addons/velero/velero.yaml
Labels: addon/velero

Bump velero to 3.1.3
  addons/velero/velero.yaml
Labels: addon/velero

adding-files-with-cherrypick-conflicts
  addons/opsportal/opsportal.yaml
Labels: addon/opsportal

bump revision
  addons/opsportal/opsportal.yaml
Labels: addon/opsportal

fix merge conflicts
  addons/opsportal/opsportal.yaml
Labels: addon/opsportal

[release/4][BACKPORT] [auto-bump][chart] velero-3.1.3 (#1281)
  addons/velero/velero.yaml
Labels: addon/velero

[release/4][BACKPORT] [auto-bump][chart] prometheus-elasticsearch-exporter-4.5.0 (#1277)
  addons/elasticsearchexporter/elasticsearchexporter.yaml
Labels: addon/elasticsearchexporter

[release/4][BACKPORT] [auto-bump][chart] kubernetes-dashboard-4.5.0 (#1273)
  addons/dashboard/dashboard.yaml
Labels: addon/dashboard

[release/4][BACKPORT] [auto-bump][chart] kube-oidc-proxy-0.2.7 (#1280)
  addons/kube-oidc-proxy/kube-oidc-proxy.yaml
Labels: addon/kube-oidc-proxy

[auto-bump][chart] velero-3.1.3 (#1266)
  addons/velero/velero.yaml
Labels: addon/velero

[auto-bump][chart] opsportal-0.9.0 (#1267)
  addons/opsportal/opsportal.yaml
Labels: addon/opsportal

[release/4][BACKPORT] [auto-bump][chart] opsportal-0.9.0 (#1282)
  addons/opsportal/opsportal.yaml
Labels: addon/opsportal

[release/4][BACKPORT] [auto-bump][chart] reloader-v0.0.99 (#1278)
  addons/reloader/reloader.yaml
Labels: addon/reloader

Bump traefik-forward-auth to 0.3.1
  addons/traefik-forward-auth/traefik-forward-auth.yaml
Labels: addon/traefik-forward-auth

bump tfa to v3.0.1
  addons/traefik-forward-auth/traefik-forward-auth.yaml
Labels: addon/traefik-forward-auth

bump tfa to v3.0.1
  addons/traefik-forward-auth/traefik-forward-auth.yaml
Labels: addon/traefik-forward-auth

bump tfa to v3.0.1 (#1285)
  addons/traefik-forward-auth/traefik-forward-auth.yaml
Labels: addon/traefik-forward-auth

bump tfa to v3.0.1 (#1286)
  addons/traefik-forward-auth/traefik-forward-auth.yaml
Labels: addon/traefik-forward-auth

Bump traefik to 1.90.0
  addons/traefik/traefik.yaml
Labels: addon/traefik

bump all kubeaddons-addon-initializer
  addons/cert-manager/cert-manager.yaml
  addons/dex-k8s-authenticator/dex-k8s-authenticator.yaml
  addons/dex/dex.yaml
  addons/kube-oidc-proxy/kube-oidc-proxy.yaml
  addons/opsportal/opsportal.yaml
  addons/traefik-forward-auth/traefik-forward-auth.yaml
  addons/traefik/traefik.yaml
  addons/velero/velero.yaml
Labels: addon/cert-manager, addon/dex, addon/dex-k8s-authenticator, addon/kube-oidc-proxy, addon/opsportal, addon/traefik, addon/traefik-forward-auth, addon/velero

Bump dex to 2.9.8
  addons/dex/dex.yaml
Labels: addon/dex

Bump dex to 2.9.9
  addons/dex/dex.yaml
Labels: addon/dex

Bump traefik-forward-auth to 0.3.2
  addons/traefik-forward-auth/traefik-forward-auth.yaml
Labels: addon/traefik-forward-auth

.github/labeler.yml:

---
addon/ambassador:
  - addons/ambassador/*
addon/awsebscsiprovisioner:
  - addons/awsebscsiprovisioner/*
addon/awsebsprovisioner:
  - addons/awsebsprovisioner/*
addon/azuredisk-csi-driver:
  - addons/azuredisk-csi-driver/*
addon/azurediskprovisioner:
  - addons/azurediskprovisioner/*
addon/cert-manager:
  - addons/cert-manager/*
addon/dashboard:
  - addons/dashboard/*
addon/defaultstorageclass-protection:
  - addons/defaultstorageclass-protection/*
addon/dex:
  - addons/dex/*
addon/dex-k8s-authenticator:
  - addons/dex-k8s-authenticator/*
addon/elasticsearch:
  - addons/elasticsearch/*
addon/elasticsearch-curator:
  - addons/elasticsearch-curator/*
addon/elasticsearchexporter:
  - addons/elasticsearchexporter/*
addon/external-dns:
  - addons/external-dns/*
addon/flagger:
  - addons/flagger/*
addon/fluentbit:
  - addons/fluentbit/*
addon/gatekeeper:
  - addons/gatekeeper/*
addon/gcpdisk-csi-driver:
  - addons/gcpdisk-csi-driver/*
addon/gcpdiskprovisioner:
  - addons/gcpdiskprovisioner/*
addon/istio:
  - addons/istio/*
addon/jaeger:
  - addons/jaeger/*
addon/kiali:
  - addons/kiali/*
addon/kibana:
  - addons/kibana/*
addon/konvoyconfig:
  - addons/konvoyconfig/*
addon/kube-oidc-proxy:
  - addons/kube-oidc-proxy/*
addon/localvolumeprovisioner:
  - addons/localvolumeprovisioner/*
addon/metallb:
  - addons/metallb/*
addon/nvidia:
  - addons/nvidia/*
addon/opsportal:
  - addons/opsportal/*
addon/prometheus:
  - addons/prometheus/*
addon/prometheusadapter:
  - addons/prometheusadapter/*
addon/reloader:
  - addons/reloader/*
addon/traefik:
  - addons/traefik/*
addon/traefik-forward-auth:
  - addons/traefik-forward-auth/*
addon/velero:
  - addons/velero/*
addon/vsphere-csi-driver:
  - addons/vsphere-csi-driver/*
