Repository mesosphere/kubernetes-base-addons, changes with the labels that .github/labeler.yml gives for each.
All labels: addon/ambassador, addon/awsebscsiprovisioner, addon/awsebsprovisioner, addon/azuredisk-csi-driver, addon/azurediskprovisioner, addon/cert-manager, addon/dashboard, addon/defaultstorageclass-protection, addon/dex, addon/dex-k8s-authenticator, addon/elasticsearch, addon/elasticsearch-curator, addon/elasticsearchexporter, addon/external-dns, addon/flagger, addon/fluentbit, addon/gatekeeper, addon/gcpdisk-csi-driver, addon/gcpdiskprovisioner, addon/istio, addon/jaeger, addon/kiali, addon/kibana, addon/konvoyconfig, addon/kube-oidc-proxy, addon/localvolumeprovisioner, addon/metallb, addon/nvidia, addon/opsportal, addon/prometheus, addon/prometheusadapter, addon/reloader, addon/traefik, addon/traefik-forward-auth, addon/velero, addon/vsphere-csi-driver

.github/labeler.yml:

---
addon/ambassador:
  - addons/ambassador/*
addon/awsebscsiprovisioner:
  - addons/awsebscsiprovisioner/*
addon/awsebsprovisioner:
  - addons/awsebsprovisioner/*
addon/azuredisk-csi-driver:
  - addons/azuredisk-csi-driver/*
addon/azurediskprovisioner:
  - addons/azurediskprovisioner/*
addon/cert-manager:
  - addons/cert-manager/*
addon/dashboard:
  - addons/dashboard/*
addon/defaultstorageclass-protection:
  - addons/defaultstorageclass-protection/*
addon/dex:
  - addons/dex/*
addon/dex-k8s-authenticator:
  - addons/dex-k8s-authenticator/*
addon/elasticsearch:
  - addons/elasticsearch/*
addon/elasticsearch-curator:
  - addons/elasticsearch-curator/*
addon/elasticsearchexporter:
  - addons/elasticsearchexporter/*
addon/external-dns:
  - addons/external-dns/*
addon/flagger:
  - addons/flagger/*
addon/fluentbit:
  - addons/fluentbit/*
addon/gatekeeper:
  - addons/gatekeeper/*
addon/gcpdisk-csi-driver:
  - addons/gcpdisk-csi-driver/*
addon/gcpdiskprovisioner:
  - addons/gcpdiskprovisioner/*
addon/istio:
  - addons/istio/*
addon/jaeger:
  - addons/jaeger/*
addon/kiali:
  - addons/kiali/*
addon/kibana:
  - addons/kibana/*
addon/konvoyconfig:
  - addons/konvoyconfig/*
addon/kube-oidc-proxy:
  - addons/kube-oidc-proxy/*
addon/localvolumeprovisioner:
  - addons/localvolumeprovisioner/*
addon/metallb:
  - addons/metallb/*
addon/nvidia:
  - addons/nvidia/*
addon/opsportal:
  - addons/opsportal/*
addon/prometheus:
  - addons/prometheus/*
addon/prometheusadapter:
  - addons/prometheusadapter/*
addon/reloader:
  - addons/reloader/*
addon/traefik:
  - addons/traefik/*
addon/traefik-forward-auth:
  - addons/traefik-forward-auth/*
addon/velero:
  - addons/velero/*
addon/vsphere-csi-driver:
  - addons/vsphere-csi-driver/*

Bump prometheus-elasticsearch-exporter to 4.4.0
  addons/elasticsearchexporter/elasticsearchexporter.yaml
Labels: addon/elasticsearchexporter

Bump kiali-operator to 1.32.0
  addons/kiali/kiali.yaml
Labels: addon/kiali

Bump kube-oidc-proxy to 0.2.5
  addons/kube-oidc-proxy/kube-oidc-proxy.yaml
Labels: addon/kube-oidc-proxy

Bump opsportal to 0.7.0
  addons/opsportal/opsportal.yaml
Labels: addon/opsportal

Bump reloader to v0.0.87
  addons/reloader/reloader.yaml
Labels: addon/reloader

pep8 again
  Dispatchfile
Labels: none

add DISPATCH_BUILD_NAME to all test containers
  Dispatchfile
Labels: none

use github cli to determine the merge target
  Makefile
  test/dispatch_test_install_upgrade.sh
Labels: none

fix bash linting
  test/scripts/setup-konvoy.sh
Labels: none

bump github cli
  Makefile
Labels: none

fix makefile shell
  Makefile
Labels: none

log in github cli
  Dispatchfile
  test/dispatch_test_install_upgrade.sh
Labels: none

logging in fails if GITHUB_TOKEN is set
  test/dispatch_test_install_upgrade.sh
Labels: none

set -x
  test/dispatch_test_install_upgrade.sh
Labels: none

actually use the kba-branch flag
  test/addons_test.go
Labels: none

workaround for bad "make clean" in kubeaddons-tests
  Makefile
Labels: none

Bump opsportal to 0.7.0
  addons/opsportal/opsportal.yaml
Labels: addon/opsportal

Bump opsportal to 0.7.0 (#1055)
  addons/opsportal/opsportal.yaml
Labels: addon/opsportal

fix wrong module name
  test/go.mod
  test/go.sum
Labels: none

add back community repo ref
  test/addons_test.go
Labels: none

actually use the kba-branch flag
  test/addons_test.go
Labels: none

workaround for bad "make clean" in kubeaddons-tests
  Makefile
Labels: none

fix wrong module name
  test/go.mod
  test/go.sum
Labels: none

add DISPATCH_BUILD_NAME to all test containers
  Dispatchfile
Labels: none

use github cli to determine the merge target
  Makefile
  test/dispatch_test_install_upgrade.sh
Labels: none

fix bash linting
  test/scripts/setup-konvoy.sh
Labels: none

fix makefile shell
  Makefile
Labels: none

actually use the kba-branch flag
  test/addons_test.go
Labels: none

workaround for bad "make clean" in kubeaddons-tests
  Makefile
Labels: none

bump github cli
  Makefile
Labels: none

logging in fails if GITHUB_TOKEN is set
  test/dispatch_test_install_upgrade.sh
Labels: none

log in github cli
  Dispatchfile
  test/dispatch_test_install_upgrade.sh
Labels: none

set -x
  test/dispatch_test_install_upgrade.sh
Labels: none

fix wrong module name
  test/go.mod
  test/go.sum
Labels: none

pep8 again
  Dispatchfile
Labels: none

add DISPATCH_BUILD_NAME to all test containers
  Dispatchfile
Labels: none

use github cli to determine the merge target
  Makefile
  test/dispatch_test_install_upgrade.sh
Labels: none

fix bash linting
  test/scripts/setup-konvoy.sh
Labels: none

log in github cli
  Dispatchfile
  test/dispatch_test_install_upgrade.sh
Labels: none

bump github cli
  Makefile
Labels: none
