Repository mesosphere/kubernetes-base-addons, changes with the labels that .github/labeler.yml gives for each.
All labels: addon/ambassador, addon/awsebscsiprovisioner, addon/awsebsprovisioner, addon/azuredisk-csi-driver, addon/azurediskprovisioner, addon/cert-manager, addon/dashboard, addon/defaultstorageclass-protection, addon/dex, addon/dex-k8s-authenticator, addon/elasticsearch, addon/elasticsearch-curator, addon/elasticsearchexporter, addon/external-dns, addon/flagger, addon/fluentbit, addon/gatekeeper, addon/gcpdisk-csi-driver, addon/gcpdiskprovisioner, addon/istio, addon/jaeger, addon/kiali, addon/kibana, addon/konvoyconfig, addon/kube-oidc-proxy, addon/localvolumeprovisioner, addon/metallb, addon/nvidia, addon/opsportal, addon/prometheus, addon/prometheusadapter, addon/reloader, addon/traefik, addon/traefik-forward-auth, addon/velero, addon/vsphere-csi-driver

.github/labeler.yml:

---
addon/ambassador:
  - addons/ambassador/*
addon/awsebscsiprovisioner:
  - addons/awsebscsiprovisioner/*
addon/awsebsprovisioner:
  - addons/awsebsprovisioner/*
addon/azuredisk-csi-driver:
  - addons/azuredisk-csi-driver/*
addon/azurediskprovisioner:
  - addons/azurediskprovisioner/*
addon/cert-manager:
  - addons/cert-manager/*
addon/dashboard:
  - addons/dashboard/*
addon/defaultstorageclass-protection:
  - addons/defaultstorageclass-protection/*
addon/dex:
  - addons/dex/*
addon/dex-k8s-authenticator:
  - addons/dex-k8s-authenticator/*
addon/elasticsearch:
  - addons/elasticsearch/*
addon/elasticsearch-curator:
  - addons/elasticsearch-curator/*
addon/elasticsearchexporter:
  - addons/elasticsearchexporter/*
addon/external-dns:
  - addons/external-dns/*
addon/flagger:
  - addons/flagger/*
addon/fluentbit:
  - addons/fluentbit/*
addon/gatekeeper:
  - addons/gatekeeper/*
addon/gcpdisk-csi-driver:
  - addons/gcpdisk-csi-driver/*
addon/gcpdiskprovisioner:
  - addons/gcpdiskprovisioner/*
addon/istio:
  - addons/istio/*
addon/jaeger:
  - addons/jaeger/*
addon/kiali:
  - addons/kiali/*
addon/kibana:
  - addons/kibana/*
addon/konvoyconfig:
  - addons/konvoyconfig/*
addon/kube-oidc-proxy:
  - addons/kube-oidc-proxy/*
addon/localvolumeprovisioner:
  - addons/localvolumeprovisioner/*
addon/metallb:
  - addons/metallb/*
addon/nvidia:
  - addons/nvidia/*
addon/opsportal:
  - addons/opsportal/*
addon/prometheus:
  - addons/prometheus/*
addon/prometheusadapter:
  - addons/prometheusadapter/*
addon/reloader:
  - addons/reloader/*
addon/traefik:
  - addons/traefik/*
addon/traefik-forward-auth:
  - addons/traefik-forward-auth/*
addon/velero:
  - addons/velero/*
addon/vsphere-csi-driver:
  - addons/vsphere-csi-driver/*

Bump dex to 2.9.4
  addons/dex/dex.yaml
Labels: addon/dex

Bump prometheus-elasticsearch-exporter to 4.4.0
  addons/elasticsearchexporter/elasticsearchexporter.yaml
Labels: addon/elasticsearchexporter

Bump kiali-operator to 1.33.1
  addons/kiali/kiali.yaml
Labels: addon/kiali

Bump kube-oidc-proxy to 0.2.5
  addons/kube-oidc-proxy/kube-oidc-proxy.yaml
Labels: addon/kube-oidc-proxy

Bump opsportal to 0.8.0
  addons/opsportal/opsportal.yaml
Labels: addon/opsportal

Bump prometheus-operator to 12.11.11
  addons/prometheus/prometheus.yaml
Labels: addon/prometheus

Bump reloader to v0.0.89
  addons/reloader/reloader.yaml
Labels: addon/reloader

chore: make addons bump script execute only one a sprint (#1087)
  Dispatchfile
Labels: none

DNM
  addons/dex/dex.yaml
Labels: addon/dex

feat: bump Ambassador to v6.7.5
  addons/ambassador/ambassador.yaml
Labels: addon/ambassador

Bump reloader to v0.0.89 (#1102)
  addons/reloader/reloader.yaml
Labels: addon/reloader

Bump opsportal to 0.8.0 (#1100)
  addons/opsportal/opsportal.yaml
Labels: addon/opsportal

feat: bump opsportal to v0.8.1
  addons/opsportal/opsportal.yaml
Labels: addon/opsportal

feat: bump opsportal to v0.8.1
  addons/opsportal/opsportal.yaml
Labels: addon/opsportal

feat: bump opsportal to v0.8.1 (#1106)
  addons/opsportal/opsportal.yaml
Labels: addon/opsportal

feat: bump opsportal to v0.8.1 (#1107)
  addons/opsportal/opsportal.yaml
Labels: addon/opsportal

feat: bump Ambassador to v6.7.5 (#1104)
  addons/ambassador/ambassador.yaml
Labels: addon/ambassador

feat: bump Ambassador to v6.7.5
  addons/ambassador/ambassador.yaml
Labels: addon/ambassador

feat: bump Ambassador to v6.7.5 (#1110)
  addons/ambassador/ambassador.yaml
Labels: addon/ambassador

release notes
  ADDONS.md
  RELEASE_NOTES.md
Labels: none

release notes (#1111)
  ADDONS.md
  RELEASE_NOTES.md
Labels: none

make release notes tool work with more than 30 PRs
  tools/cmd/release-notes/release-notes.go
Labels: none

make release notes tool work with more than 30 PRs (#1112)
  tools/cmd/release-notes/release-notes.go
Labels: none

make release notes tool work with more than 30 PRs
  tools/cmd/release-notes/release-notes.go
Labels: none

make release notes tool work with more than 30 PRs
  tools/cmd/release-notes/release-notes.go
Labels: none

chore: bump dex
  addons/dex/dex.yaml
Labels: addon/dex

chore: bump dex (#1109)
  addons/dex/dex.yaml
Labels: addon/dex

chore: bump dex
  addons/dex/dex.yaml
Labels: addon/dex

chore: bump dex
  addons/dex/dex.yaml
Labels: addon/dex

make release notes tool work with more than 30 PRs (#1114)
  tools/cmd/release-notes/release-notes.go
Labels: none

release 4.0.0 release notes
  RELEASE_NOTES.md
Labels: none

release 4.0.0 release notes (#1117)
  RELEASE_NOTES.md
Labels: none

DNM: testing with a repo
  addons/vsphere-csi-driver/vsphere-csi-driver.yaml
Labels: addon/vsphere-csi-driver

Bump azuredisk-csi-driver to 0.8.0
  addons/azuredisk-csi-driver/azuredisk-csi-driver.yaml
Labels: addon/azuredisk-csi-driver

Bump dex to 2.9.4
  addons/dex/dex.yaml
Labels: addon/dex

Bump prometheus-elasticsearch-exporter to 4.4.0
  addons/elasticsearchexporter/elasticsearchexporter.yaml
Labels: addon/elasticsearchexporter

Bump kiali-operator to 1.33.1
  addons/kiali/kiali.yaml
Labels: addon/kiali

Bump kube-oidc-proxy to 0.2.5
  addons/kube-oidc-proxy/kube-oidc-proxy.yaml
Labels: addon/kube-oidc-proxy

Bump prometheus-operator to 12.11.11
  addons/prometheus/prometheus.yaml
Labels: addon/prometheus

Bump opsportal to 0.7.0 (#1055)
  addons/opsportal/opsportal.yaml
Labels: addon/opsportal
