Repository mesosphere/kubernetes-base-addons, changes with the labels that .github/labeler.yml gives for each.
All labels: addon/ambassador, addon/awsebscsiprovisioner, addon/awsebsprovisioner, addon/azuredisk-csi-driver, addon/azurediskprovisioner, addon/cert-manager, addon/dashboard, addon/defaultstorageclass-protection, addon/dex, addon/dex-k8s-authenticator, addon/elasticsearch, addon/elasticsearch-curator, addon/elasticsearchexporter, addon/external-dns, addon/flagger, addon/fluentbit, addon/gatekeeper, addon/gcpdisk-csi-driver, addon/gcpdiskprovisioner, addon/istio, addon/jaeger, addon/kiali, addon/kibana, addon/konvoyconfig, addon/kube-oidc-proxy, addon/localvolumeprovisioner, addon/metallb, addon/nvidia, addon/opsportal, addon/prometheus, addon/prometheusadapter, addon/reloader, addon/traefik, addon/traefik-forward-auth, addon/velero, addon/vsphere-csi-driver

.github/labeler.yml:

---
addon/ambassador:
  - addons/ambassador/*
addon/awsebscsiprovisioner:
  - addons/awsebscsiprovisioner/*
addon/awsebsprovisioner:
  - addons/awsebsprovisioner/*
addon/azuredisk-csi-driver:
  - addons/azuredisk-csi-driver/*
addon/azurediskprovisioner:
  - addons/azurediskprovisioner/*
addon/cert-manager:
  - addons/cert-manager/*
addon/dashboard:
  - addons/dashboard/*
addon/defaultstorageclass-protection:
  - addons/defaultstorageclass-protection/*
addon/dex:
  - addons/dex/*
addon/dex-k8s-authenticator:
  - addons/dex-k8s-authenticator/*
addon/elasticsearch:
  - addons/elasticsearch/*
addon/elasticsearch-curator:
  - addons/elasticsearch-curator/*
addon/elasticsearchexporter:
  - addons/elasticsearchexporter/*
addon/external-dns:
  - addons/external-dns/*
addon/flagger:
  - addons/flagger/*
addon/fluentbit:
  - addons/fluentbit/*
addon/gatekeeper:
  - addons/gatekeeper/*
addon/gcpdisk-csi-driver:
  - addons/gcpdisk-csi-driver/*
addon/gcpdiskprovisioner:
  - addons/gcpdiskprovisioner/*
addon/istio:
  - addons/istio/*
addon/jaeger:
  - addons/jaeger/*
addon/kiali:
  - addons/kiali/*
addon/kibana:
  - addons/kibana/*
addon/konvoyconfig:
  - addons/konvoyconfig/*
addon/kube-oidc-proxy:
  - addons/kube-oidc-proxy/*
addon/localvolumeprovisioner:
  - addons/localvolumeprovisioner/*
addon/metallb:
  - addons/metallb/*
addon/nvidia:
  - addons/nvidia/*
addon/opsportal:
  - addons/opsportal/*
addon/prometheus:
  - addons/prometheus/*
addon/prometheusadapter:
  - addons/prometheusadapter/*
addon/reloader:
  - addons/reloader/*
addon/traefik:
  - addons/traefik/*
addon/traefik-forward-auth:
  - addons/traefik-forward-auth/*
addon/velero:
  - addons/velero/*
addon/vsphere-csi-driver:
  - addons/vsphere-csi-driver/*

Adds github cli bin after checkout error
  Makefile
Labels: none

Adds dispatch test script
  test/dispatch_test_install_upgrade.sh
Labels: none

Removes dispatch integration test for release 4 branch
  Dispatchfile
  Makefile
  test/dispatch-ci.sh
Labels: none

Echo branch, which shouldbe release/3
  test/dispatch_test_install_upgrade.sh
Labels: none

Bump prometheus-elasticsearch-exporter to 4.1.0 (#865)
  addons/elasticsearchexporter/elasticsearchexporter.yaml
Labels: addon/elasticsearchexporter

chore: Bump thanos to v0.17.1 (#1018)
  addons/prometheus/prometheus.yaml
Labels: addon/prometheus

[release/3][BACKPORT] [auto-bump][chart] dex-k8s-authenticator-1.2.8 (#1041)
  addons/dex-k8s-authenticator/dex-k8s-authenticator.yaml
  test/scripts/test-wrapper.go
Labels: addon/dex-k8s-authenticator

fix: adds missing `none` provisioner in kiali and jaeger (#993)
  addons/jaeger/jaeger.yaml
  addons/kiali/kiali.yaml
Labels: addon/jaeger, addon/kiali

Upgrade kibana to 6.8.15
  addons/kibana/kibana.yaml
Labels: addon/kibana

adding-files-with-cherrypick-conflicts (#1042)
  addons/opsportal/opsportal.yaml
Labels: addon/opsportal

adding-files-with-cherrypick-conflicts (#1043)
  addons/reloader/reloader.yaml
Labels: addon/reloader

hard code release/3 branch
  test/dispatch_test_install_upgrade.sh
  test/test-aws.sh
Labels: none

Bump traefik to 1.89.2 (#998)
  addons/traefik/traefik.yaml
Labels: addon/traefik

Fetch the missing branch
  test/dispatch_test_install_upgrade.sh
Labels: none

[release/4][BACKPORT] [auto-bump][chart] dex-k8s-authenticator-1.2.8 (#1040)
  addons/dex-k8s-authenticator/dex-k8s-authenticator.yaml
  test/scripts/test-wrapper.go
Labels: addon/dex-k8s-authenticator

Faiq/release/3 dispatch backport (#1050)
  Dispatchfile
  Makefile
  test/dispatch-ci.sh
  test/dispatch_test_install_upgrade.sh
  test/test-aws.sh
Labels: none

Bump reloader to v0.0.86 (#1008)
  addons/reloader/reloader.yaml
Labels: addon/reloader

Remove dispatch integration test which is covered by test install and test install aws (#1047)
  Dispatchfile
  Makefile
  test/dispatch-ci.sh
Labels: none

[auto-bump][chart] dex-k8s-authenticator-1.2.8 (#1025)
  addons/dex-k8s-authenticator/dex-k8s-authenticator.yaml
  test/scripts/test-wrapper.go
Labels: addon/dex-k8s-authenticator

correct app version
  addons/dashboard/dashboard.yaml
Labels: addon/dashboard

Bump fluent-bit to 0.15.4 (#1039)
  addons/fluentbit/fluentbit.yaml
Labels: addon/fluentbit

bump tfa-3.0 (#1031)
  addons/traefik-forward-auth/traefik-forward-auth.yaml
Labels: addon/traefik-forward-auth

Bump fluent-bit to 0.15.4
  addons/fluentbit/fluentbit.yaml
Labels: addon/fluentbit

adding-files-with-cherrypick-conflicts
  addons/fluentbit/fluentbit.yaml
Labels: addon/fluentbit

chore: Bump prometheus to 9.3.9
  addons/prometheus/prometheus.yaml
Labels: addon/prometheus

Resolve merge conflicts
  addons/fluentbit/fluentbit.yaml
Labels: addon/fluentbit

Bump opsportal to 0.7.0
  addons/opsportal/opsportal.yaml
Labels: addon/opsportal

bump tfa-3.0
  addons/traefik-forward-auth/traefik-forward-auth.yaml
Labels: addon/traefik-forward-auth

delete upgrade strategy
  addons/traefik-forward-auth/traefik-forward-auth.yaml
Labels: addon/traefik-forward-auth

set feature to false on release/4
  addons/traefik-forward-auth/traefik-forward-auth.yaml
Labels: addon/traefik-forward-auth

[backport][tfa] clusterStorage disabled by default (#1056)
  addons/traefik-forward-auth/traefik-forward-auth.yaml
Labels: addon/traefik-forward-auth

Bump kubernetes-dashboard to 4.0.3 (#1024)
  addons/dashboard/dashboard.yaml
Labels: addon/dashboard

adding-files-with-cherrypick-conflicts
  addons/dashboard/dashboard.yaml
Labels: addon/dashboard

adding-files-with-cherrypick-conflicts
  addons/dashboard/dashboard.yaml
Labels: addon/dashboard

correct app version
  addons/dashboard/dashboard.yaml
Labels: addon/dashboard

Bump kubernetes-dashboard to 4.0.3
  addons/dashboard/dashboard.yaml
Labels: addon/dashboard

Removes dispatch integration test for release 4 branch
  Dispatchfile
  Makefile
  test/dispatch-ci.sh
Labels: none

fetch release/4
  test/dispatch_test_install_upgrade.sh
Labels: none

Bump ambassador to 6.6.3
  addons/ambassador/ambassador.yaml
Labels: addon/ambassador

Bump dex to 2.9.4
  addons/dex/dex.yaml
Labels: addon/dex
