Repository mesosphere/kubernetes-base-addons, changes with the labels that .github/labeler.yml gives for each.
All labels: addon/ambassador, addon/awsebscsiprovisioner, addon/awsebsprovisioner, addon/azuredisk-csi-driver, addon/azurediskprovisioner, addon/cert-manager, addon/dashboard, addon/defaultstorageclass-protection, addon/dex, addon/dex-k8s-authenticator, addon/elasticsearch, addon/elasticsearch-curator, addon/elasticsearchexporter, addon/external-dns, addon/flagger, addon/fluentbit, addon/gatekeeper, addon/gcpdisk-csi-driver, addon/gcpdiskprovisioner, addon/istio, addon/jaeger, addon/kiali, addon/kibana, addon/konvoyconfig, addon/kube-oidc-proxy, addon/localvolumeprovisioner, addon/metallb, addon/nvidia, addon/opsportal, addon/prometheus, addon/prometheusadapter, addon/reloader, addon/traefik, addon/traefik-forward-auth, addon/velero, addon/vsphere-csi-driver

.github/labeler.yml:

---
addon/ambassador:
  - addons/ambassador/*
addon/awsebscsiprovisioner:
  - addons/awsebscsiprovisioner/*
addon/awsebsprovisioner:
  - addons/awsebsprovisioner/*
addon/azuredisk-csi-driver:
  - addons/azuredisk-csi-driver/*
addon/azurediskprovisioner:
  - addons/azurediskprovisioner/*
addon/cert-manager:
  - addons/cert-manager/*
addon/dashboard:
  - addons/dashboard/*
addon/defaultstorageclass-protection:
  - addons/defaultstorageclass-protection/*
addon/dex:
  - addons/dex/*
addon/dex-k8s-authenticator:
  - addons/dex-k8s-authenticator/*
addon/elasticsearch:
  - addons/elasticsearch/*
addon/elasticsearch-curator:
  - addons/elasticsearch-curator/*
addon/elasticsearchexporter:
  - addons/elasticsearchexporter/*
addon/external-dns:
  - addons/external-dns/*
addon/flagger:
  - addons/flagger/*
addon/fluentbit:
  - addons/fluentbit/*
addon/gatekeeper:
  - addons/gatekeeper/*
addon/gcpdisk-csi-driver:
  - addons/gcpdisk-csi-driver/*
addon/gcpdiskprovisioner:
  - addons/gcpdiskprovisioner/*
addon/istio:
  - addons/istio/*
addon/jaeger:
  - addons/jaeger/*
addon/kiali:
  - addons/kiali/*
addon/kibana:
  - addons/kibana/*
addon/konvoyconfig:
  - addons/konvoyconfig/*
addon/kube-oidc-proxy:
  - addons/kube-oidc-proxy/*
addon/localvolumeprovisioner:
  - addons/localvolumeprovisioner/*
addon/metallb:
  - addons/metallb/*
addon/nvidia:
  - addons/nvidia/*
addon/opsportal:
  - addons/opsportal/*
addon/prometheus:
  - addons/prometheus/*
addon/prometheusadapter:
  - addons/prometheusadapter/*
addon/reloader:
  - addons/reloader/*
addon/traefik:
  - addons/traefik/*
addon/traefik-forward-auth:
  - addons/traefik-forward-auth/*
addon/velero:
  - addons/velero/*
addon/vsphere-csi-driver:
  - addons/vsphere-csi-driver/*

chore: upgrade gatekeeper and setup remap values (#928)
  addons/gatekeeper/gatekeeper.yaml
  test/test-aws.sh
Labels: addon/gatekeeper

Bump reloader to v0.0.80 (#893)
  addons/reloader/reloader.yaml
Labels: addon/reloader

fix: Ensure etcd rules are enabled
  addons/prometheus/prometheus.yaml
Labels: addon/prometheus

chore: Remove dupe configs defaulted in chart
  addons/prometheus/prometheus.yaml
Labels: addon/prometheus

Bump gatekeeper to 0.6.1
  addons/gatekeeper/gatekeeper.yaml
Labels: addon/gatekeeper

[gatekeeper] chore: allow excluding namespaces
  addons/gatekeeper/gatekeeper.yaml
Labels: addon/gatekeeper

fix: Ensure etcd rules are enabled
  addons/prometheus/prometheus.yaml
Labels: addon/prometheus

chore: Remove dupe configs defaulted in chart
  addons/prometheus/prometheus.yaml
Labels: addon/prometheus

[gatekeeper] chore: allow excluding namespaces (#940)
  addons/gatekeeper/gatekeeper.yaml
Labels: addon/gatekeeper

fix: Ensure etcd rules are enabled
  addons/prometheus/prometheus.yaml
Labels: addon/prometheus

Bump gatekeeper to 0.6.2
  addons/gatekeeper/gatekeeper.yaml
Labels: addon/gatekeeper

chore: bump gatekeeper chart version
  addons/gatekeeper/gatekeeper.yaml
Labels: addon/gatekeeper

Bump gatekeeper to 0.6.2 (#942)
  addons/gatekeeper/gatekeeper.yaml
Labels: addon/gatekeeper

current addons table
  ADDONS.md
Labels: none

Bump ambassador to 6.5.20
  addons/ambassador/ambassador.yaml
Labels: addon/ambassador

Bump kiali-operator to 1.30.0
  addons/kiali/kiali.yaml
Labels: addon/kiali

Bump kibana to 3.3.1
  addons/kibana/kibana.yaml
Labels: addon/kibana

Bump reloader to v0.0.81
  addons/reloader/reloader.yaml
Labels: addon/reloader

Bump gatekeeper to 0.6.3
  addons/gatekeeper/gatekeeper.yaml
Labels: addon/gatekeeper

chore: allow gatekeeper proxy to use namespace selector
  addons/gatekeeper/gatekeeper.yaml
Labels: addon/gatekeeper

Bump reloader to v0.0.81 (#949)
  addons/reloader/reloader.yaml
Labels: addon/reloader

chore: allow gatekeeper proxy to use namespace selector (#952)
  addons/gatekeeper/gatekeeper.yaml
Labels: addon/gatekeeper

fix: Ensure etcd rules are enabled (#943)
  addons/prometheus/prometheus.yaml
Labels: addon/prometheus

prometheus: Enable etcd rules (#938)
  addons/prometheus/prometheus.yaml
Labels: addon/prometheus

Bump opsportal to 0.5.0
  addons/opsportal/opsportal.yaml
Labels: addon/opsportal

Bump opsportal to 0.5.0 (#953)
  addons/opsportal/opsportal.yaml
Labels: addon/opsportal

backport: bump to opsportal-0.5.0
  addons/opsportal/opsportal.yaml
Labels: addon/opsportal

backport: bump to opsportal-0.5.0
  addons/opsportal/opsportal.yaml
Labels: addon/opsportal

Add delete strategy to reloader
  addons/reloader/reloader.yaml
Labels: addon/reloader

chore: update addons/reloader/reloader.yaml
  addons/reloader/reloader.yaml
Labels: addon/reloader

chore: update addons/reloader/reloader.yaml
  addons/reloader/reloader.yaml
Labels: addon/reloader

adding-files-with-cherrypick-conflicts
  addons/reloader/reloader.yaml
Labels: addon/reloader

chore: update addons/reloader/reloader.yaml
  addons/reloader/reloader.yaml
Labels: addon/reloader

adding-files-with-cherrypick-conflicts
  addons/reloader/reloader.yaml
Labels: addon/reloader

Add delete strategy to reloader (#956)
  addons/reloader/reloader.yaml
Labels: addon/reloader

fix merge conflict
  addons/reloader/reloader.yaml
Labels: addon/reloader

fix merge conflict
  addons/reloader/reloader.yaml
Labels: addon/reloader

[release/3.3][BACKPORT] Add delete strategy to reloader (#958)
  addons/reloader/reloader.yaml
Labels: addon/reloader

backport: bump to opsportal-0.5.0 (#955)
  addons/opsportal/opsportal.yaml
Labels: addon/opsportal

[release/3][BACKPORT] Add delete strategy to reloader (#957)
  addons/reloader/reloader.yaml
Labels: addon/reloader
