Repository mesosphere/kubernetes-base-addons, changes with the labels that .github/labeler.yml gives for each.
All labels: addon/ambassador, addon/awsebscsiprovisioner, addon/awsebsprovisioner, addon/azuredisk-csi-driver, addon/azurediskprovisioner, addon/cert-manager, addon/dashboard, addon/defaultstorageclass-protection, addon/dex, addon/dex-k8s-authenticator, addon/elasticsearch, addon/elasticsearch-curator, addon/elasticsearchexporter, addon/external-dns, addon/flagger, addon/fluentbit, addon/gatekeeper, addon/gcpdisk-csi-driver, addon/gcpdiskprovisioner, addon/istio, addon/jaeger, addon/kiali, addon/kibana, addon/konvoyconfig, addon/kube-oidc-proxy, addon/localvolumeprovisioner, addon/metallb, addon/nvidia, addon/opsportal, addon/prometheus, addon/prometheusadapter, addon/reloader, addon/traefik, addon/traefik-forward-auth, addon/velero, addon/vsphere-csi-driver

update addons table and create release-notes update to date
  ADDONS.md
  RELEASE_NOTES.md
Labels: none

Bump ambassador to 6.6.0
  addons/ambassador/ambassador.yaml
Labels: addon/ambassador

Bump kubernetes-dashboard to 4.0.2
  addons/dashboard/dashboard.yaml
Labels: addon/dashboard

Bump istio to 1.9.1
  addons/istio/istio.yaml
Labels: addon/istio

Bump kiali-operator to 1.31.0
  addons/kiali/kiali.yaml
Labels: addon/kiali

Bump reloader to v0.0.86
  addons/reloader/reloader.yaml
Labels: addon/reloader

Makefile updates for release target (#987)
  ADDONS.md
  Makefile
  RELEASE_NOTES.md
Labels: none

Bump traefik to 1.89.0
  addons/traefik/traefik.yaml
Labels: addon/traefik

fix: adds missing `none` provisioner in kiali and jaeger
  addons/jaeger/jaeger.yaml
  addons/kiali/kiali.yaml
Labels: addon/jaeger, addon/kiali

Bump gatekeeper to 0.6.6
  addons/gatekeeper/gatekeeper.yaml
Labels: addon/gatekeeper

Bump traefik to 1.89.1
  addons/traefik/traefik.yaml
Labels: addon/traefik

Bump gatekeeper to 0.6.6 (#995)
  addons/gatekeeper/gatekeeper.yaml
Labels: addon/gatekeeper

Bump gatekeeper to 0.6.7
  addons/gatekeeper/gatekeeper.yaml
Labels: addon/gatekeeper

Bump traefik to 1.89.2
  addons/traefik/traefik.yaml
Labels: addon/traefik

Bump dex to 2.9.3
  addons/dex/dex.yaml
Labels: addon/dex

Bump kube-oidc-proxy to 0.2.4
  addons/kube-oidc-proxy/kube-oidc-proxy.yaml
Labels: addon/kube-oidc-proxy

Bump ambassador to 6.6.2
  addons/ambassador/ambassador.yaml
Labels: addon/ambassador

Bump kubernetes-dashboard to 4.0.2
  addons/dashboard/dashboard.yaml
Labels: addon/dashboard

Bump dex to 2.9.3
  addons/dex/dex.yaml
Labels: addon/dex

Bump gatekeeper to 0.6.7
  addons/gatekeeper/gatekeeper.yaml
Labels: addon/gatekeeper

Bump istio to 1.9.1
  addons/istio/istio.yaml
Labels: addon/istio

Bump kiali-operator to 1.32.0
  addons/kiali/kiali.yaml
Labels: addon/kiali

Bump kube-oidc-proxy to 0.2.4
  addons/kube-oidc-proxy/kube-oidc-proxy.yaml
Labels: addon/kube-oidc-proxy

Bump reloader to v0.0.86
  addons/reloader/reloader.yaml
Labels: addon/reloader

Bump traefik to 1.89.2
  addons/traefik/traefik.yaml
Labels: addon/traefik

Bump dex-k8s-authenticator to 1.2.7
  addons/dex-k8s-authenticator/dex-k8s-authenticator.yaml
Labels: addon/dex-k8s-authenticator

Bump dex-k8s-authenticator to 1.2.8
  addons/dex-k8s-authenticator/dex-k8s-authenticator.yaml
Labels: addon/dex-k8s-authenticator

Upgrade prometheus-operator to 9.3.8
  addons/prometheus/prometheus.yaml
Labels: addon/prometheus

Bump dex to 2.9.4
  addons/dex/dex.yaml
Labels: addon/dex

Bump kube-oidc-proxy to 0.2.5
  addons/kube-oidc-proxy/kube-oidc-proxy.yaml
Labels: addon/kube-oidc-proxy

chore: Bump prom to 12.11.10
  addons/prometheus/prometheus.yaml
Labels: addon/prometheus

Bump gatekeeper to 0.6.7 (#997)
  addons/gatekeeper/gatekeeper.yaml
Labels: addon/gatekeeper

chore: Bump prom to 12.11.10
  addons/prometheus/prometheus.yaml
Labels: addon/prometheus

chore: Bump prom to 12.11.10 (#1015)
  addons/prometheus/prometheus.yaml
Labels: addon/prometheus

Add release files
  ADDONS.md
  RELEASE_NOTES.md
Labels: none

chore: Bump thanos to v0.17.1
  addons/prometheus/prometheus.yaml
Labels: addon/prometheus

chore: Bump thanos to v0.17.1
  addons/prometheus/prometheus.yaml
Labels: addon/prometheus

chore: Bump thanos to v0.17.1 (#1017)
  addons/prometheus/prometheus.yaml
Labels: addon/prometheus

adding-files-with-cherrypick-conflicts
  addons/opsportal/opsportal.yaml
Labels: addon/opsportal

chore: Bump prom to 12.11.10 (#1016)
  addons/prometheus/prometheus.yaml
Labels: addon/prometheus

.github/labeler.yml:

---
addon/ambassador:
  - addons/ambassador/*
addon/awsebscsiprovisioner:
  - addons/awsebscsiprovisioner/*
addon/awsebsprovisioner:
  - addons/awsebsprovisioner/*
addon/azuredisk-csi-driver:
  - addons/azuredisk-csi-driver/*
addon/azurediskprovisioner:
  - addons/azurediskprovisioner/*
addon/cert-manager:
  - addons/cert-manager/*
addon/dashboard:
  - addons/dashboard/*
addon/defaultstorageclass-protection:
  - addons/defaultstorageclass-protection/*
addon/dex:
  - addons/dex/*
addon/dex-k8s-authenticator:
  - addons/dex-k8s-authenticator/*
addon/elasticsearch:
  - addons/elasticsearch/*
addon/elasticsearch-curator:
  - addons/elasticsearch-curator/*
addon/elasticsearchexporter:
  - addons/elasticsearchexporter/*
addon/external-dns:
  - addons/external-dns/*
addon/flagger:
  - addons/flagger/*
addon/fluentbit:
  - addons/fluentbit/*
addon/gatekeeper:
  - addons/gatekeeper/*
addon/gcpdisk-csi-driver:
  - addons/gcpdisk-csi-driver/*
addon/gcpdiskprovisioner:
  - addons/gcpdiskprovisioner/*
addon/istio:
  - addons/istio/*
addon/jaeger:
  - addons/jaeger/*
addon/kiali:
  - addons/kiali/*
addon/kibana:
  - addons/kibana/*
addon/konvoyconfig:
  - addons/konvoyconfig/*
addon/kube-oidc-proxy:
  - addons/kube-oidc-proxy/*
addon/localvolumeprovisioner:
  - addons/localvolumeprovisioner/*
addon/metallb:
  - addons/metallb/*
addon/nvidia:
  - addons/nvidia/*
addon/opsportal:
  - addons/opsportal/*
addon/prometheus:
  - addons/prometheus/*
addon/prometheusadapter:
  - addons/prometheusadapter/*
addon/reloader:
  - addons/reloader/*
addon/traefik:
  - addons/traefik/*
addon/traefik-forward-auth:
  - addons/traefik-forward-auth/*
addon/velero:
  - addons/velero/*
addon/vsphere-csi-driver:
  - addons/vsphere-csi-driver/*
