Repository mesosphere/kubernetes-base-addons, changes with the labels that .github/labeler.yml gives for each.
All labels: addon/ambassador, addon/awsebscsiprovisioner, addon/awsebsprovisioner, addon/azuredisk-csi-driver, addon/azurediskprovisioner, addon/cert-manager, addon/dashboard, addon/defaultstorageclass-protection, addon/dex, addon/dex-k8s-authenticator, addon/elasticsearch, addon/elasticsearch-curator, addon/elasticsearchexporter, addon/external-dns, addon/flagger, addon/fluentbit, addon/gatekeeper, addon/gcpdisk-csi-driver, addon/gcpdiskprovisioner, addon/istio, addon/jaeger, addon/kiali, addon/kibana, addon/konvoyconfig, addon/kube-oidc-proxy, addon/localvolumeprovisioner, addon/metallb, addon/nvidia, addon/opsportal, addon/prometheus, addon/prometheusadapter, addon/reloader, addon/traefik, addon/traefik-forward-auth, addon/velero, addon/vsphere-csi-driver

.github/labeler.yml:

---
addon/ambassador:
  - addons/ambassador/*
addon/awsebscsiprovisioner:
  - addons/awsebscsiprovisioner/*
addon/awsebsprovisioner:
  - addons/awsebsprovisioner/*
addon/azuredisk-csi-driver:
  - addons/azuredisk-csi-driver/*
addon/azurediskprovisioner:
  - addons/azurediskprovisioner/*
addon/cert-manager:
  - addons/cert-manager/*
addon/dashboard:
  - addons/dashboard/*
addon/defaultstorageclass-protection:
  - addons/defaultstorageclass-protection/*
addon/dex:
  - addons/dex/*
addon/dex-k8s-authenticator:
  - addons/dex-k8s-authenticator/*
addon/elasticsearch:
  - addons/elasticsearch/*
addon/elasticsearch-curator:
  - addons/elasticsearch-curator/*
addon/elasticsearchexporter:
  - addons/elasticsearchexporter/*
addon/external-dns:
  - addons/external-dns/*
addon/flagger:
  - addons/flagger/*
addon/fluentbit:
  - addons/fluentbit/*
addon/gatekeeper:
  - addons/gatekeeper/*
addon/gcpdisk-csi-driver:
  - addons/gcpdisk-csi-driver/*
addon/gcpdiskprovisioner:
  - addons/gcpdiskprovisioner/*
addon/istio:
  - addons/istio/*
addon/jaeger:
  - addons/jaeger/*
addon/kiali:
  - addons/kiali/*
addon/kibana:
  - addons/kibana/*
addon/konvoyconfig:
  - addons/konvoyconfig/*
addon/kube-oidc-proxy:
  - addons/kube-oidc-proxy/*
addon/localvolumeprovisioner:
  - addons/localvolumeprovisioner/*
addon/metallb:
  - addons/metallb/*
addon/nvidia:
  - addons/nvidia/*
addon/opsportal:
  - addons/opsportal/*
addon/prometheus:
  - addons/prometheus/*
addon/prometheusadapter:
  - addons/prometheusadapter/*
addon/reloader:
  - addons/reloader/*
addon/traefik:
  - addons/traefik/*
addon/traefik-forward-auth:
  - addons/traefik-forward-auth/*
addon/velero:
  - addons/velero/*
addon/vsphere-csi-driver:
  - addons/vsphere-csi-driver/*

Bump velero to 3.1.2
  addons/velero/velero.yaml
Labels: addon/velero

Bump dex to 2.9.5
  addons/dex/dex.yaml
Labels: addon/dex

feat: Add support for overriding of rules.resource in promadapter
  addons/prometheusadapter/prometheusadapter.yaml
Labels: addon/prometheusadapter

Bump velero to 3.1.3
  addons/velero/velero.yaml
Labels: addon/velero

Bump dex to 2.9.6
  addons/dex/dex.yaml
Labels: addon/dex

Bump ambassador to 6.7.13
  addons/ambassador/ambassador.yaml
Labels: addon/ambassador

Bump azuredisk-csi-driver to 0.8.0
  addons/azuredisk-csi-driver/azuredisk-csi-driver.yaml
Labels: addon/azuredisk-csi-driver

Bump dex to 2.9.6
  addons/dex/dex.yaml
Labels: addon/dex

Bump prometheus-elasticsearch-exporter to 4.5.0
  addons/elasticsearchexporter/elasticsearchexporter.yaml
Labels: addon/elasticsearchexporter

Bump gatekeeper to 0.6.8
  addons/gatekeeper/gatekeeper.yaml
Labels: addon/gatekeeper

Bump kiali-operator to 1.38.1
  addons/kiali/kiali.yaml
Labels: addon/kiali

Bump kube-oidc-proxy to 0.2.6
  addons/kube-oidc-proxy/kube-oidc-proxy.yaml
Labels: addon/kube-oidc-proxy

Bump opsportal to 0.8.2
  addons/opsportal/opsportal.yaml
Labels: addon/opsportal

Bump kube-prometheus-stack to 16.13.1
  addons/prometheus/prometheus.yaml
Labels: addon/prometheus

Bump reloader to v0.0.99
  addons/reloader/reloader.yaml
Labels: addon/reloader

Bump velero to 3.1.3
  addons/velero/velero.yaml
Labels: addon/velero

Bump opsportal to 0.9.0
  addons/opsportal/opsportal.yaml
Labels: addon/opsportal

Bump dex to 2.9.7
  addons/dex/dex.yaml
Labels: addon/dex

Bump kube-oidc-proxy to 0.2.7
  addons/kube-oidc-proxy/kube-oidc-proxy.yaml
Labels: addon/kube-oidc-proxy

extend sleep time as the pod is not ready
  test/ambassador_test.go
Labels: none

extend sleep time as the pod is not ready
  test/ambassador_test.go
Labels: none

Bump ambassador to 6.7.13
  addons/ambassador/ambassador.yaml
Labels: addon/ambassador

[auto-bump][chart] ambassador-6.7.13 (#1255)
  addons/ambassador/ambassador.yaml
  test/ambassador_test.go
Labels: addon/ambassador

Bump azuredisk-csi-driver to 0.8.0 (#1256)
  addons/azuredisk-csi-driver/azuredisk-csi-driver.yaml
Labels: addon/azuredisk-csi-driver

Bump azuredisk-csi-driver to 0.8.0
  addons/azuredisk-csi-driver/azuredisk-csi-driver.yaml
Labels: addon/azuredisk-csi-driver

Bump kubernetes-dashboard to 4.5.0
  addons/dashboard/dashboard.yaml
Labels: addon/dashboard

fix bad revision bump automation
  addons/dashboard/dashboard.yaml
Labels: addon/dashboard

adding-files-with-cherrypick-conflicts
  addons/dashboard/dashboard.yaml
Labels: addon/dashboard

adding-files-with-cherrypick-conflicts
  addons/dashboard/dashboard.yaml
Labels: addon/dashboard

Apply suggestions from code review
  addons/dashboard/dashboard.yaml
Labels: addon/dashboard

[auto-bump][chart] kubernetes-dashboard-4.5.0 (#1257)
  addons/dashboard/dashboard.yaml
Labels: addon/dashboard

[release/4][BACKPORT] [auto-bump][chart] ambassador-6.7.13 (#1271)
  addons/ambassador/ambassador.yaml
  test/ambassador_test.go
Labels: addon/ambassador

Bump azuredisk-csi-driver to 0.8.0 (#1272)
  addons/azuredisk-csi-driver/azuredisk-csi-driver.yaml
Labels: addon/azuredisk-csi-driver

Update addons/kube-oidc-proxy/kube-oidc-proxy.yaml
  addons/kube-oidc-proxy/kube-oidc-proxy.yaml
Labels: addon/kube-oidc-proxy

Update addons/kube-oidc-proxy/kube-oidc-proxy.yaml
  addons/kube-oidc-proxy/kube-oidc-proxy.yaml
Labels: addon/kube-oidc-proxy

Bump opsportal to 0.8.2
  addons/opsportal/opsportal.yaml
Labels: addon/opsportal

Bump opsportal to 0.8.2 (#1263)
  addons/opsportal/opsportal.yaml
Labels: addon/opsportal

Apply suggestions from code review
  addons/prometheus/prometheus.yaml
Labels: addon/prometheus

Bump gatekeeper to 0.6.8
  addons/gatekeeper/gatekeeper.yaml
Labels: addon/gatekeeper

Bump gatekeeper to 0.6.8 (#1260)
  addons/gatekeeper/gatekeeper.yaml
Labels: addon/gatekeeper
