Repository mesosphere/kubernetes-base-addons, changes with the labels that .github/labeler.yml gives for each.
All labels: addon/ambassador, addon/awsebscsiprovisioner, addon/awsebsprovisioner, addon/azuredisk-csi-driver, addon/azurediskprovisioner, addon/cert-manager, addon/dashboard, addon/defaultstorageclass-protection, addon/dex, addon/dex-k8s-authenticator, addon/elasticsearch, addon/elasticsearch-curator, addon/elasticsearchexporter, addon/external-dns, addon/flagger, addon/fluentbit, addon/gatekeeper, addon/gcpdisk-csi-driver, addon/gcpdiskprovisioner, addon/istio, addon/jaeger, addon/kiali, addon/kibana, addon/konvoyconfig, addon/kube-oidc-proxy, addon/localvolumeprovisioner, addon/metallb, addon/nvidia, addon/opsportal, addon/prometheus, addon/prometheusadapter, addon/reloader, addon/traefik, addon/traefik-forward-auth, addon/velero, addon/vsphere-csi-driver

adding-files-with-cherrypick-conflicts (#1019)
  addons/opsportal/opsportal.yaml
Labels: addon/opsportal

3.4.1 release notes
  RELEASE_NOTES.md
Labels: none

3.4.1 release notes (#1020)
  RELEASE_NOTES.md
Labels: none

Bump istio to 1.9.1 (#983)
  addons/istio/istio.yaml
Labels: addon/istio

Bump istio to 1.9.1
  addons/istio/istio.yaml
Labels: addon/istio

fix: adds missing `none` provisioner in kiali and jaeger
  addons/jaeger/jaeger.yaml
  addons/kiali/kiali.yaml
Labels: addon/jaeger, addon/kiali

Bump ambassador to 6.6.2
  addons/ambassador/ambassador.yaml
Labels: addon/ambassador

Bump kubernetes-dashboard to 4.0.3
  addons/dashboard/dashboard.yaml
Labels: addon/dashboard

Bump dex to 2.9.4
  addons/dex/dex.yaml
Labels: addon/dex

Bump kiali-operator to 1.32.0
  addons/kiali/kiali.yaml
Labels: addon/kiali

Bump kube-oidc-proxy to 0.2.5
  addons/kube-oidc-proxy/kube-oidc-proxy.yaml
Labels: addon/kube-oidc-proxy

Bump reloader to v0.0.86
  addons/reloader/reloader.yaml
Labels: addon/reloader

Bump traefik to 1.89.2
  addons/traefik/traefik.yaml
Labels: addon/traefik

bump tfa-3.0
  addons/traefik-forward-auth/traefik-forward-auth.yaml
Labels: addon/traefik-forward-auth

delete upgrade strategy
  addons/traefik-forward-auth/traefik-forward-auth.yaml
Labels: addon/traefik-forward-auth

Upgrade prometheus-operator to 9.3.8 (#1012)
  addons/prometheus/prometheus.yaml
Labels: addon/prometheus

Bump istio to 1.9.1 (#1021)
  addons/istio/istio.yaml
Labels: addon/istio

fix: adds missing `none` provisioner in kiali and jaeger (#1022)
  addons/jaeger/jaeger.yaml
  addons/kiali/kiali.yaml
Labels: addon/jaeger, addon/kiali

update kubernetes libraries to v0.20.5
  test/go.mod
  test/go.sum
  test/scripts/update-k8s-libs.sh
Labels: none

Bump fluent-bit to 0.10.0
  addons/fluentbit/fluentbit.yaml
Labels: addon/fluentbit

Bump fluent-bit to 0.10.0 (#866)
  addons/fluentbit/fluentbit.yaml
Labels: addon/fluentbit

Bump fluent-bit to 0.10.0 (#1037)
  addons/fluentbit/fluentbit.yaml
Labels: addon/fluentbit

update kubernetes libraries to v0.20.5 (#1034)
  test/go.mod
  test/go.sum
  test/scripts/update-k8s-libs.sh
Labels: none

Bump traefik-forward-auth to 0.3.0
  addons/traefik-forward-auth/traefik-forward-auth.yaml
Labels: addon/traefik-forward-auth

Bump fluent-bit to 0.15.4
  addons/fluentbit/fluentbit.yaml
Labels: addon/fluentbit

use service account
  addons/dex-k8s-authenticator/dex-k8s-authenticator.yaml
Labels: addon/dex-k8s-authenticator

Bump dex-k8s-authenticator to 1.2.8
  addons/dex-k8s-authenticator/dex-k8s-authenticator.yaml
Labels: addon/dex-k8s-authenticator

use service account
  addons/dex-k8s-authenticator/dex-k8s-authenticator.yaml
Labels: addon/dex-k8s-authenticator

Bump dex-k8s-authenticator to 1.2.8
  addons/dex-k8s-authenticator/dex-k8s-authenticator.yaml
Labels: addon/dex-k8s-authenticator

use service account
  addons/dex-k8s-authenticator/dex-k8s-authenticator.yaml
Labels: addon/dex-k8s-authenticator

fix bad regex
  test/scripts/test-wrapper.go
Labels: none

Bump dex-k8s-authenticator to 1.2.8
  addons/dex-k8s-authenticator/dex-k8s-authenticator.yaml
Labels: addon/dex-k8s-authenticator

fix bad regex
  test/scripts/test-wrapper.go
Labels: none

fix bad regex
  test/scripts/test-wrapper.go
Labels: none

adding-files-with-cherrypick-conflicts
  addons/opsportal/opsportal.yaml
Labels: addon/opsportal

adding-files-with-cherrypick-conflicts
  addons/reloader/reloader.yaml
Labels: addon/reloader

Backport tests to release/3
  Dispatchfile
Labels: none

Remove dispatch integration test which is covered by test install and test install aws
  Dispatchfile
  Makefile
  test/dispatch-ci.sh
Labels: none

Remove dispatch integration test which is covered by test install and test install aws
  Dispatchfile
  Makefile
  test/dispatch-ci.sh
Labels: none

Adds make targets and scripts
  Makefile
  test/test-aws.sh
Labels: none

.github/labeler.yml:

---
addon/ambassador:
  - addons/ambassador/*
addon/awsebscsiprovisioner:
  - addons/awsebscsiprovisioner/*
addon/awsebsprovisioner:
  - addons/awsebsprovisioner/*
addon/azuredisk-csi-driver:
  - addons/azuredisk-csi-driver/*
addon/azurediskprovisioner:
  - addons/azurediskprovisioner/*
addon/cert-manager:
  - addons/cert-manager/*
addon/dashboard:
  - addons/dashboard/*
addon/defaultstorageclass-protection:
  - addons/defaultstorageclass-protection/*
addon/dex:
  - addons/dex/*
addon/dex-k8s-authenticator:
  - addons/dex-k8s-authenticator/*
addon/elasticsearch:
  - addons/elasticsearch/*
addon/elasticsearch-curator:
  - addons/elasticsearch-curator/*
addon/elasticsearchexporter:
  - addons/elasticsearchexporter/*
addon/external-dns:
  - addons/external-dns/*
addon/flagger:
  - addons/flagger/*
addon/fluentbit:
  - addons/fluentbit/*
addon/gatekeeper:
  - addons/gatekeeper/*
addon/gcpdisk-csi-driver:
  - addons/gcpdisk-csi-driver/*
addon/gcpdiskprovisioner:
  - addons/gcpdiskprovisioner/*
addon/istio:
  - addons/istio/*
addon/jaeger:
  - addons/jaeger/*
addon/kiali:
  - addons/kiali/*
addon/kibana:
  - addons/kibana/*
addon/konvoyconfig:
  - addons/konvoyconfig/*
addon/kube-oidc-proxy:
  - addons/kube-oidc-proxy/*
addon/localvolumeprovisioner:
  - addons/localvolumeprovisioner/*
addon/metallb:
  - addons/metallb/*
addon/nvidia:
  - addons/nvidia/*
addon/opsportal:
  - addons/opsportal/*
addon/prometheus:
  - addons/prometheus/*
addon/prometheusadapter:
  - addons/prometheusadapter/*
addon/reloader:
  - addons/reloader/*
addon/traefik:
  - addons/traefik/*
addon/traefik-forward-auth:
  - addons/traefik-forward-auth/*
addon/velero:
  - addons/velero/*
addon/vsphere-csi-driver:
  - addons/vsphere-csi-driver/*
