Repository mesosphere/kubernetes-base-addons, changes with the labels that .github/labeler.yml gives for each.
All labels: addon/ambassador, addon/awsebscsiprovisioner, addon/awsebsprovisioner, addon/azuredisk-csi-driver, addon/azurediskprovisioner, addon/cert-manager, addon/dashboard, addon/defaultstorageclass-protection, addon/dex, addon/dex-k8s-authenticator, addon/elasticsearch, addon/elasticsearch-curator, addon/elasticsearchexporter, addon/external-dns, addon/flagger, addon/fluentbit, addon/gatekeeper, addon/gcpdisk-csi-driver, addon/gcpdiskprovisioner, addon/istio, addon/jaeger, addon/kiali, addon/kibana, addon/konvoyconfig, addon/kube-oidc-proxy, addon/localvolumeprovisioner, addon/metallb, addon/nvidia, addon/opsportal, addon/prometheus, addon/prometheusadapter, addon/reloader, addon/traefik, addon/traefik-forward-auth, addon/velero, addon/vsphere-csi-driver

v3.3.0 release notes
  ADDONS.md
  RELEASE_NOTES.md
Labels: none

v3.3.0 release notes (#959)
  ADDONS.md
  RELEASE_NOTES.md
Labels: none

2.7.0 release notes
  ADDONS.md
  Makefile
  RELEASE_NOTES.md
  scripts/make_addon_table.sh
  tools/cmd/release-notes/.gitignore
  tools/cmd/release-notes/.vscode/launch.json
  tools/cmd/release-notes/go.mod
  tools/cmd/release-notes/go.sum
  tools/cmd/release-notes/release-notes.go
Labels: none

backport: bump to opsportal-0.5.0 (#954)
  addons/opsportal/opsportal.yaml
Labels: addon/opsportal

Bump gatekeeper to 0.6.4
  addons/gatekeeper/gatekeeper.yaml
Labels: addon/gatekeeper

chore: gatekeeper remove proxy settings from gatekeeper deployments
  addons/gatekeeper/gatekeeper.yaml
Labels: addon/gatekeeper

remove bad values
  addons/gatekeeper/gatekeeper.yaml
Labels: addon/gatekeeper

[gatekeeper] update to remove proxy settings from deployment (#963)
  addons/gatekeeper/gatekeeper.yaml
Labels: addon/gatekeeper

Bump opsportal to 0.6.0
  addons/opsportal/opsportal.yaml
Labels: addon/opsportal

Bump kibana to 3.3.1 (#948)
  addons/kibana/kibana.yaml
Labels: addon/kibana

Bump gatekeeper to 0.6.5
  addons/gatekeeper/gatekeeper.yaml
Labels: addon/gatekeeper

Bump gatekeeper to 0.6.5 (#965)
  addons/gatekeeper/gatekeeper.yaml
Labels: addon/gatekeeper

2.7.0 release notes
  .gitignore
  ADDONS.md
  RELEASE_NOTES.md
Labels: none

2.7.0 release notes (#961)
  .gitignore
  ADDONS.md
  RELEASE_NOTES.md
Labels: none

2.7.0 release notes (#961) (#967)
  .gitignore
  ADDONS.md
  RELEASE_NOTES.md
Labels: none

Merge back release/3.3 (#968)
  ADDONS.md
  RELEASE_NOTES.md
Labels: none

Bump ambassador to 6.5.21
  addons/ambassador/ambassador.yaml
Labels: addon/ambassador

Bump kiali-operator to 1.31.0
  addons/kiali/kiali.yaml
Labels: addon/kiali

Bump opsportal to 0.6.0
  addons/opsportal/opsportal.yaml
Labels: addon/opsportal

Bump reloader to v0.0.84
  addons/reloader/reloader.yaml
Labels: addon/reloader

Bump kubernetes-dashboard to 3.0.2
  addons/dashboard/dashboard.yaml
Labels: addon/dashboard

fix: dashboard annotations after version bump
  addons/dashboard/dashboard.yaml
Labels: addon/dashboard

Automated chart bump kubernetes-dashboard-3.0.2 (#745)
  addons/dashboard/dashboard.yaml
Labels: addon/dashboard

azuredisk-csi-driver: bump to 0.8.0
  addons/azuredisk-csi-driver/azuredisk-csi-driver.yaml
Labels: addon/azuredisk-csi-driver

Bump ambassador to 6.6.0
  addons/ambassador/ambassador.yaml
Labels: addon/ambassador

Bump kubernetes-dashboard to 4.0.2
  addons/dashboard/dashboard.yaml
Labels: addon/dashboard

Bump kiali-operator to 1.31.0
  addons/kiali/kiali.yaml
Labels: addon/kiali

Bump opsportal to 0.6.0
  addons/opsportal/opsportal.yaml
Labels: addon/opsportal

Bump reloader to v0.0.85
  addons/reloader/reloader.yaml
Labels: addon/reloader

Bump opsportal to 0.6.0 (#976)
  addons/opsportal/opsportal.yaml
Labels: addon/opsportal

fix: Ensure etcd rules are enabled
  addons/prometheus/prometheus.yaml
Labels: addon/prometheus

chore: Remove dupe configs defaulted in chart
  addons/prometheus/prometheus.yaml
Labels: addon/prometheus

[release/3][BACKPORT] Prometheus: Enable etcd rules (#981)
  addons/prometheus/prometheus.yaml
Labels: addon/prometheus

"Bump kubeaddons to v0.25.0"
  test/go.mod
Labels: none

Bump reloader to v0.0.85 (#977)
  addons/reloader/reloader.yaml
Labels: addon/reloader

Bump istio to 1.9.1
  addons/istio/istio.yaml
Labels: addon/istio

"Bump kubeaddons to v0.26.0"
  test/go.mod
Labels: none

Release 3.4.0
  ADDONS.md
  RELEASE_NOTES.md
Labels: none

Release 3.4.0 (#986)
  ADDONS.md
  RELEASE_NOTES.md
Labels: none

releaase fixes
  Makefile
Labels: none

.github/labeler.yml:

---
addon/ambassador:
  - addons/ambassador/*
addon/awsebscsiprovisioner:
  - addons/awsebscsiprovisioner/*
addon/awsebsprovisioner:
  - addons/awsebsprovisioner/*
addon/azuredisk-csi-driver:
  - addons/azuredisk-csi-driver/*
addon/azurediskprovisioner:
  - addons/azurediskprovisioner/*
addon/cert-manager:
  - addons/cert-manager/*
addon/dashboard:
  - addons/dashboard/*
addon/defaultstorageclass-protection:
  - addons/defaultstorageclass-protection/*
addon/dex:
  - addons/dex/*
addon/dex-k8s-authenticator:
  - addons/dex-k8s-authenticator/*
addon/elasticsearch:
  - addons/elasticsearch/*
addon/elasticsearch-curator:
  - addons/elasticsearch-curator/*
addon/elasticsearchexporter:
  - addons/elasticsearchexporter/*
addon/external-dns:
  - addons/external-dns/*
addon/flagger:
  - addons/flagger/*
addon/fluentbit:
  - addons/fluentbit/*
addon/gatekeeper:
  - addons/gatekeeper/*
addon/gcpdisk-csi-driver:
  - addons/gcpdisk-csi-driver/*
addon/gcpdiskprovisioner:
  - addons/gcpdiskprovisioner/*
addon/istio:
  - addons/istio/*
addon/jaeger:
  - addons/jaeger/*
addon/kiali:
  - addons/kiali/*
addon/kibana:
  - addons/kibana/*
addon/konvoyconfig:
  - addons/konvoyconfig/*
addon/kube-oidc-proxy:
  - addons/kube-oidc-proxy/*
addon/localvolumeprovisioner:
  - addons/localvolumeprovisioner/*
addon/metallb:
  - addons/metallb/*
addon/nvidia:
  - addons/nvidia/*
addon/opsportal:
  - addons/opsportal/*
addon/prometheus:
  - addons/prometheus/*
addon/prometheusadapter:
  - addons/prometheusadapter/*
addon/reloader:
  - addons/reloader/*
addon/traefik:
  - addons/traefik/*
addon/traefik-forward-auth:
  - addons/traefik-forward-auth/*
addon/velero:
  - addons/velero/*
addon/vsphere-csi-driver:
  - addons/vsphere-csi-driver/*
