Repository mesosphere/kubernetes-base-addons, changes with the labels that .github/labeler.yml gives for each.
All labels: addon/ambassador, addon/awsebscsiprovisioner, addon/awsebsprovisioner, addon/azuredisk-csi-driver, addon/azurediskprovisioner, addon/cert-manager, addon/dashboard, addon/defaultstorageclass-protection, addon/dex, addon/dex-k8s-authenticator, addon/elasticsearch, addon/elasticsearch-curator, addon/elasticsearchexporter, addon/external-dns, addon/flagger, addon/fluentbit, addon/gatekeeper, addon/gcpdisk-csi-driver, addon/gcpdiskprovisioner, addon/istio, addon/jaeger, addon/kiali, addon/kibana, addon/konvoyconfig, addon/kube-oidc-proxy, addon/localvolumeprovisioner, addon/metallb, addon/nvidia, addon/opsportal, addon/prometheus, addon/prometheusadapter, addon/reloader, addon/traefik, addon/traefik-forward-auth, addon/velero, addon/vsphere-csi-driver

.github/labeler.yml:

---
addon/ambassador:
  - addons/ambassador/*
addon/awsebscsiprovisioner:
  - addons/awsebscsiprovisioner/*
addon/awsebsprovisioner:
  - addons/awsebsprovisioner/*
addon/azuredisk-csi-driver:
  - addons/azuredisk-csi-driver/*
addon/azurediskprovisioner:
  - addons/azurediskprovisioner/*
addon/cert-manager:
  - addons/cert-manager/*
addon/dashboard:
  - addons/dashboard/*
addon/defaultstorageclass-protection:
  - addons/defaultstorageclass-protection/*
addon/dex:
  - addons/dex/*
addon/dex-k8s-authenticator:
  - addons/dex-k8s-authenticator/*
addon/elasticsearch:
  - addons/elasticsearch/*
addon/elasticsearch-curator:
  - addons/elasticsearch-curator/*
addon/elasticsearchexporter:
  - addons/elasticsearchexporter/*
addon/external-dns:
  - addons/external-dns/*
addon/flagger:
  - addons/flagger/*
addon/fluentbit:
  - addons/fluentbit/*
addon/gatekeeper:
  - addons/gatekeeper/*
addon/gcpdisk-csi-driver:
  - addons/gcpdisk-csi-driver/*
addon/gcpdiskprovisioner:
  - addons/gcpdiskprovisioner/*
addon/istio:
  - addons/istio/*
addon/jaeger:
  - addons/jaeger/*
addon/kiali:
  - addons/kiali/*
addon/kibana:
  - addons/kibana/*
addon/konvoyconfig:
  - addons/konvoyconfig/*
addon/kube-oidc-proxy:
  - addons/kube-oidc-proxy/*
addon/localvolumeprovisioner:
  - addons/localvolumeprovisioner/*
addon/metallb:
  - addons/metallb/*
addon/nvidia:
  - addons/nvidia/*
addon/opsportal:
  - addons/opsportal/*
addon/prometheus:
  - addons/prometheus/*
addon/prometheusadapter:
  - addons/prometheusadapter/*
addon/reloader:
  - addons/reloader/*
addon/traefik:
  - addons/traefik/*
addon/traefik-forward-auth:
  - addons/traefik-forward-auth/*
addon/velero:
  - addons/velero/*
addon/vsphere-csi-driver:
  - addons/vsphere-csi-driver/*

fix makefile shell
  Makefile
Labels: none

logging in fails if GITHUB_TOKEN is set
  test/dispatch_test_install_upgrade.sh
Labels: none

set -x
  test/dispatch_test_install_upgrade.sh
Labels: none

actually use the kba-branch flag
  test/addons_test.go
Labels: none

fix wrong module name
  test/go.mod
  test/go.sum
Labels: none

workaround for bad "make clean" in kubeaddons-tests
  Makefile
Labels: none

Removes dispatch integration test for release 4 branch (#1051)
  Dispatchfile
  Makefile
  test/addons_test.go
  test/dispatch-ci.sh
  test/dispatch_test_install_upgrade.sh
  test/go.mod
  test/go.sum
  test/scripts/setup-konvoy.sh
Labels: none

[release/3][BACKPORT] fix release branch tests (#1070)
  Dispatchfile
  Makefile
  test/addons_test.go
  test/dispatch_test_install_upgrade.sh
  test/go.mod
  test/go.sum
  test/scripts/setup-konvoy.sh
Labels: none

fix release branch tests (#1069)
  Dispatchfile
  Makefile
  test/addons_test.go
  test/dispatch_test_install_upgrade.sh
  test/go.mod
  test/go.sum
  test/scripts/setup-konvoy.sh
Labels: none

Bump opsportal to 0.7.1
  addons/opsportal/opsportal.yaml
Labels: addon/opsportal

Bump opsportal to 0.7.0
  addons/opsportal/opsportal.yaml
Labels: addon/opsportal

fix nightly tests likely from make version differences
  Makefile
Labels: none

Bump opsportal to 0.7.0 (#1072)
  addons/opsportal/opsportal.yaml
Labels: addon/opsportal

fix nightly tests likely from make version differences (#1073)
  Makefile
Labels: none

Bump opsportal to 0.7.1 (#1071)
  addons/opsportal/opsportal.yaml
Labels: addon/opsportal

Bump reloader to v0.0.87 (#1066)
  addons/reloader/reloader.yaml
Labels: addon/reloader

Bump opsportal to 0.7.2
  addons/opsportal/opsportal.yaml
Labels: addon/opsportal

Bump opsportal to 0.7.2
  addons/opsportal/opsportal.yaml
Labels: addon/opsportal

Bump opsportal to 0.7.2 (#1074)
  addons/opsportal/opsportal.yaml
Labels: addon/opsportal

Bump opsportal to 0.7.2 (#1075)
  addons/opsportal/opsportal.yaml
Labels: addon/opsportal

v4.0.0-rc.2 release notes
  ADDONS.md
  RELEASE_NOTES.md
Labels: none

v4.0.0-rc.2 release notes (#1076)
  ADDONS.md
  RELEASE_NOTES.md
Labels: none

Bump azuredisk-csi-driver to 0.8.0
  addons/azuredisk-csi-driver/azuredisk-csi-driver.yaml
Labels: addon/azuredisk-csi-driver

Bump ambassador to 6.7.1
  addons/ambassador/ambassador.yaml
Labels: addon/ambassador

Bump azuredisk-csi-driver to 0.8.0
  addons/azuredisk-csi-driver/azuredisk-csi-driver.yaml
Labels: addon/azuredisk-csi-driver

Bump dex to 2.9.4
  addons/dex/dex.yaml
Labels: addon/dex

Bump prometheus-elasticsearch-exporter to 4.4.0
  addons/elasticsearchexporter/elasticsearchexporter.yaml
Labels: addon/elasticsearchexporter

Bump kiali-operator to 1.33.0
  addons/kiali/kiali.yaml
Labels: addon/kiali

Bump kube-oidc-proxy to 0.2.5
  addons/kube-oidc-proxy/kube-oidc-proxy.yaml
Labels: addon/kube-oidc-proxy

Bump prometheus-operator to 12.11.11
  addons/prometheus/prometheus.yaml
Labels: addon/prometheus

Bump opsportal to 0.8.0
  addons/opsportal/opsportal.yaml
Labels: addon/opsportal

Bump opsportal to 0.8.0
  addons/opsportal/opsportal.yaml
Labels: addon/opsportal

Bump opsportal to 0.8.0 (#1089)
  addons/opsportal/opsportal.yaml
Labels: addon/opsportal

chore: make addons bump script execute only one a sprint
  Dispatchfile
Labels: none

v4.0.0-rc.3 release notes
  RELEASE_NOTES.md
Labels: none

docs: remove previous RC release-notes
  RELEASE_NOTES.md
Labels: none

docs: bring back a release-note
  RELEASE_NOTES.md
Labels: none

v4.0.0-rc.3 release notes (#1092)
  RELEASE_NOTES.md
Labels: none

Bump ambassador to 6.7.3
  addons/ambassador/ambassador.yaml
Labels: addon/ambassador

Bump azuredisk-csi-driver to 0.8.0
  addons/azuredisk-csi-driver/azuredisk-csi-driver.yaml
Labels: addon/azuredisk-csi-driver
