Repository mesosphere/kubernetes-base-addons, changes with the labels that .github/labeler.yml gives for each.
All labels: addon/ambassador, addon/awsebscsiprovisioner, addon/awsebsprovisioner, addon/azuredisk-csi-driver, addon/azurediskprovisioner, addon/cert-manager, addon/dashboard, addon/defaultstorageclass-protection, addon/dex, addon/dex-k8s-authenticator, addon/elasticsearch, addon/elasticsearch-curator, addon/elasticsearchexporter, addon/external-dns, addon/flagger, addon/fluentbit, addon/gatekeeper, addon/gcpdisk-csi-driver, addon/gcpdiskprovisioner, addon/istio, addon/jaeger, addon/kiali, addon/kibana, addon/konvoyconfig, addon/kube-oidc-proxy, addon/localvolumeprovisioner, addon/metallb, addon/nvidia, addon/opsportal, addon/prometheus, addon/prometheusadapter, addon/reloader, addon/traefik, addon/traefik-forward-auth, addon/velero, addon/vsphere-csi-driver

.github/labeler.yml:

---
addon/ambassador:
  - addons/ambassador/*
addon/awsebscsiprovisioner:
  - addons/awsebscsiprovisioner/*
addon/awsebsprovisioner:
  - addons/awsebsprovisioner/*
addon/azuredisk-csi-driver:
  - addons/azuredisk-csi-driver/*
addon/azurediskprovisioner:
  - addons/azurediskprovisioner/*
addon/cert-manager:
  - addons/cert-manager/*
addon/dashboard:
  - addons/dashboard/*
addon/defaultstorageclass-protection:
  - addons/defaultstorageclass-protection/*
addon/dex:
  - addons/dex/*
addon/dex-k8s-authenticator:
  - addons/dex-k8s-authenticator/*
addon/elasticsearch:
  - addons/elasticsearch/*
addon/elasticsearch-curator:
  - addons/elasticsearch-curator/*
addon/elasticsearchexporter:
  - addons/elasticsearchexporter/*
addon/external-dns:
  - addons/external-dns/*
addon/flagger:
  - addons/flagger/*
addon/fluentbit:
  - addons/fluentbit/*
addon/gatekeeper:
  - addons/gatekeeper/*
addon/gcpdisk-csi-driver:
  - addons/gcpdisk-csi-driver/*
addon/gcpdiskprovisioner:
  - addons/gcpdiskprovisioner/*
addon/istio:
  - addons/istio/*
addon/jaeger:
  - addons/jaeger/*
addon/kiali:
  - addons/kiali/*
addon/kibana:
  - addons/kibana/*
addon/konvoyconfig:
  - addons/konvoyconfig/*
addon/kube-oidc-proxy:
  - addons/kube-oidc-proxy/*
addon/localvolumeprovisioner:
  - addons/localvolumeprovisioner/*
addon/metallb:
  - addons/metallb/*
addon/nvidia:
  - addons/nvidia/*
addon/opsportal:
  - addons/opsportal/*
addon/prometheus:
  - addons/prometheus/*
addon/prometheusadapter:
  - addons/prometheusadapter/*
addon/reloader:
  - addons/reloader/*
addon/traefik:
  - addons/traefik/*
addon/traefik-forward-auth:
  - addons/traefik-forward-auth/*
addon/velero:
  - addons/velero/*
addon/vsphere-csi-driver:
  - addons/vsphere-csi-driver/*

vsphere-csi-driver: bump to v2.2.0
  addons/vsphere-csi-driver/vsphere-csi-driver.yaml
Labels: addon/vsphere-csi-driver

Bump patch version
  addons/nvidia/nvidia.yaml
Labels: addon/nvidia

Update test target to depend on konvoy bin
  Makefile
Labels: none

Bump konvoy version for testing
  Dispatchfile
  test/run-tests.sh
  test/scripts/setup-konvoy.sh
Labels: none

[tests] [flagger] [kiali] Update references to prometheus resources (#1135)
  Dispatchfile
  Makefile
  addons/flagger/flagger.yaml
  addons/kiali/kiali.yaml
  test/dispatch_test_install_upgrade.sh
  test/run-tests.sh
  test/scripts/setup-konvoy.sh
  test/testdata/prometheus-metric-output.json
  test/testdata/prometheus-metric-tests.yaml
  test/testdata/test-nightly-group-prom-metric-tests.yaml
Labels: addon/flagger, addon/kiali

Update flagger metricsServer
  addons/flagger/flagger.yaml
Labels: addon/flagger

Update prometheus resource names in metric tests
  test/testdata/prometheus-metric-output.json
  test/testdata/prometheus-metric-tests.yaml
  test/testdata/test-nightly-group-prom-metric-tests.yaml
Labels: none

adding-files-with-cherrypick-conflicts
  Makefile
Labels: none

Bump konvoy version for testing
  Dispatchfile
  test/run-tests.sh
  test/scripts/setup-konvoy.sh
Labels: none

adding-files-with-cherrypick-conflicts
  addons/kiali/kiali.yaml
Labels: addon/kiali

Reorder metric test data
  test/testdata/prometheus-metric-tests.yaml
  test/testdata/test-nightly-group-prom-metric-tests.yaml
Labels: none

adding-files-with-cherrypick-conflicts
  test/dispatch_test_install_upgrade.sh
Labels: none

set extended-regexp when using extended-regexp syntax
  test/dispatch_test_install_upgrade.sh
Labels: none

Update prometheus resource names in metric tests
  test/testdata/prometheus-metric-output.json
  test/testdata/prometheus-metric-tests.yaml
  test/testdata/test-nightly-group-prom-metric-tests.yaml
Labels: none

Reorder metric test data
  test/testdata/prometheus-metric-tests.yaml
  test/testdata/test-nightly-group-prom-metric-tests.yaml
Labels: none

Update kiali prometheus URL
  addons/kiali/kiali.yaml
Labels: addon/kiali

Update flagger metricsServer
  addons/flagger/flagger.yaml
Labels: addon/flagger

adding-files-with-cherrypick-conflicts
  Makefile
Labels: none

Bump konvoy version for testing
  Dispatchfile
  test/run-tests.sh
  test/scripts/setup-konvoy.sh
Labels: none

Resolve merge conflicts
  Makefile
  addons/kiali/kiali.yaml
  test/dispatch_test_install_upgrade.sh
Labels: addon/kiali

Resolve merge conflicts
  Makefile
Labels: none

Test using konvoy 1.7.2
  Dispatchfile
  test/run-tests.sh
  test/scripts/setup-konvoy.sh
Labels: none

[release/4][BACKPORT] [tests] [flagger] [kiali] Update references to prometheus resources (#1152)
  Dispatchfile
  Makefile
  addons/flagger/flagger.yaml
  addons/kiali/kiali.yaml
  test/dispatch_test_install_upgrade.sh
  test/run-tests.sh
  test/scripts/setup-konvoy.sh
  test/testdata/prometheus-metric-output.json
  test/testdata/prometheus-metric-tests.yaml
  test/testdata/test-nightly-group-prom-metric-tests.yaml
Labels: addon/flagger, addon/kiali

Bump ambassador to 6.7.8
  addons/ambassador/ambassador.yaml
Labels: addon/ambassador

Bump azuredisk-csi-driver to 0.8.0
  addons/azuredisk-csi-driver/azuredisk-csi-driver.yaml
Labels: addon/azuredisk-csi-driver

Bump kubernetes-dashboard to 4.1.0
  addons/dashboard/dashboard.yaml
Labels: addon/dashboard

Bump dex to 2.9.4
  addons/dex/dex.yaml
Labels: addon/dex

Bump prometheus-elasticsearch-exporter to 4.4.0
  addons/elasticsearchexporter/elasticsearchexporter.yaml
Labels: addon/elasticsearchexporter

Bump kiali-operator to 1.34.1
  addons/kiali/kiali.yaml
Labels: addon/kiali

Bump kube-oidc-proxy to 0.2.5
  addons/kube-oidc-proxy/kube-oidc-proxy.yaml
Labels: addon/kube-oidc-proxy

Bump nvidia to 0.3.6
  addons/nvidia/nvidia.yaml
Labels: addon/nvidia

[release/3][BACKPORT] bump opsportal to 0.7.2 (#1124)
  addons/opsportal/opsportal.yaml
Labels: addon/opsportal

vsphere-csi-driver: bump to v2.2.0 (#1149)
  addons/vsphere-csi-driver/vsphere-csi-driver.yaml
Labels: addon/vsphere-csi-driver

vsphere-csi-driver: bump to v2.2.0 (#1148)
  addons/vsphere-csi-driver/vsphere-csi-driver.yaml
Labels: addon/vsphere-csi-driver

[release/3][BACKPORT] [tests] [flagger] [kiali] Update references to prometheus resources (#1151)
  Dispatchfile
  Makefile
  addons/flagger/flagger.yaml
  addons/kiali/kiali.yaml
  test/dispatch_test_install_upgrade.sh
  test/run-tests.sh
  test/scripts/setup-konvoy.sh
  test/testdata/prometheus-metric-output.json
  test/testdata/prometheus-metric-tests.yaml
  test/testdata/test-nightly-group-prom-metric-tests.yaml
Labels: addon/flagger, addon/kiali

use internal traefik fork
  addons/traefik/traefik.yaml
Labels: addon/traefik

adding-files-with-cherrypick-conflicts
  addons/traefik/traefik.yaml
Labels: addon/traefik

adding-files-with-cherrypick-conflicts
  addons/traefik/traefik.yaml
Labels: addon/traefik

Resolve conflicts
  addons/traefik/traefik.yaml
Labels: addon/traefik

Resolve conflicts
  addons/traefik/traefik.yaml
Labels: addon/traefik
