Repository mesosphere/kubernetes-base-addons, pull requests merged in 2019-12, with the labels that each got.

#1 [DCOS-61617] Add testing README
  test/README.md
Labels: documentation, ready

#2 Enable fluentbit tests
  test/addons_test.go
Labels: ready

#3 chore: bump kommander/opsportal charts
  addons/kommander/kommander.yaml
  addons/opsportal/opsportal.yaml
Labels: ready

#5 remove bearerporxy and add dashboard v2 ingress
  addons/dashboard/dashboard.yaml
  addons/opsportal/opsportal.yaml
  addons/traefik-forward-auth/traefik-forward-auth.yaml
Labels: ready

#4 [WIP] chore: prometheus test harness created
  test/addons_test.go
Labels: enhancement, ready

#6 [chore] Expand Addon Test Coverage
  test/addons_test.go
  test/go.mod
  test/go.sum
Labels: chore, ready

#9 [chore] Limit CI Tests to Files Changed
  addons/dashboard/dashboard.yaml
  test/README.md
  test/addons_test.go
  test/go.mod
  test/go.sum
  test/groups.yaml
  test/scripts/test-wrapper.pl
Labels: chore, ready

#7 chore: bump kommander chart
  addons/kommander/kommander.yaml
Labels: enhancement, ready

#12 dispatch: update chart version
  addons/dispatch/dispatch.yaml
  test/groups.yaml
Labels: ready

#13 bump tfa to 1.0.6
  addons/traefik-forward-auth/traefik-forward-auth.yaml
Labels: ready

#16 initializer: bump the version
  addons/dex-k8s-authenticator/dex-k8s-authenticator.yaml
  addons/kibana/kibana.yaml
  addons/kube-oidc-proxy/kube-oidc-proxy.yaml
  addons/prometheus/prometheus.yaml
  addons/traefik-forward-auth/traefik-forward-auth.yaml
  addons/traefik/traefik.yaml
Labels: ready

#14 chore: bump kommander chart to 0.2.27
  addons/kommander/kommander.yaml
Labels: ready

#15 prometheus: bump kube-state-metrics
  addons/prometheus/prometheus.yaml
Labels: wip

#17 Add CODEOWNERS with devx owning dispatch.
  CODEOWNERS
Labels: ready

#18 [chore] Expand documentation and addon revision visibility
  README.md
  addons/awsebscsiprovisioner/0.4.x/awsebscsiprovisioner-1.yaml
  addons/awsebsprovisioner/1.0.x/awsebsprovisioner-1.yaml
  addons/azuredisk-csi-driver/0.4.x/azuredisk-csi-driver-1.yaml
  addons/azurediskprovisioner/1.0.x/azurediskprovisioner-1.yaml
  addons/cert-manager/0.10.x/cert-manager-1.yaml
  addons/dashboard/2.0.x/dashboard-1.yaml
  addons/defaultstorageclass-protection/0.0.x/defaultstorageclass-protection-1.yaml
  addons/dex-k8s-authenticator/1.1.x/dex-k8s-authenticator-1.yaml
  addons/dex/2.17.x/dex-1.yaml
  addons/dispatch/0.3.x/dispatch-1.yaml
  addons/elasticsearch/6.8.x/elasticsearch-1.yaml
  addons/elasticsearchexporter/1.1.x/elasticsearchexporter-1.yaml
  addons/external-dns/0.5.x/external-dns-1.yaml
  addons/flagger/0.19.x/flagger-1.yaml
  addons/fluentbit/1.3.x/fluentbit-1.yaml
  addons/gatekeeper/3.0.x/gatekeeper-1.yaml
  addons/istio/1.3.x/istio-1.yaml
  addons/kibana/6.7.x/kibana-1.yaml
  addons/kommander/1.163.x/kommander-1.yaml
  addons/konvoyconfig/0.0.x/konvoyconfig-1.yaml
  addons/kube-oidc-proxy/0.1.x/kube-oidc-proxy-1.yaml
  addons/kudo/0.8.x/kudo-1.yaml
  addons/localvolumeprovisioner/1.0.x/localvolumeprovisioner-1.yaml
  addons/metallb/0.8.x/metallb-1.yaml
  addons/nvidia/0.1.x/nvidia-1.yaml
  addons/opsportal/1.0.x/opsportal-1.yaml
  addons/prometheus/0.31.x/prometheus-1.yaml
  addons/prometheusadapter/0.5.x/prometheusadapter-1.yaml
  addons/reloader/0.0.x/reloader-1.yaml
  addons/traefik-forward-auth/1.0.x/traefik-forward-auth-1.yaml
  addons/traefik/1.7.x/traefik-1.yaml
  addons/velero/1.0.x/velero-1.yaml
Labels: ready

#19 [tests][kommander][metallb] enable testing of kommander
  addons/metallb/0.8.x/metallb-1.yaml
  test/addons_test.go
  test/go.mod
  test/go.sum
  test/groups.yaml
Labels: ready

#22 migrate dashboard to kubeaddons
  addons/dashboard/2.0.x/dashboard-1.yaml
Labels: ready

#20 Upgrade prometheus-operator
  addons/prometheus/0.34.x/prometheus-1.yaml
Labels: ready

#23 [test][istio] added istio testing group
  test/addons_test.go
  test/groups.yaml
Labels: ready

#10 Bumped the Nvidia chart version to support GPU metrics.
  addons/nvidia/0.2.x/nvidia-1.yaml
  addons/prometheus/0.34.x/prometheus-1.yaml
Labels: ready

#24 [fluent-bit] update with audit log values.
  addons/fluentbit/1.3.x/fluentbit-1.yaml
Labels: ready

#28 kommander: Bump chart version
  addons/kommander/1.163.x/kommander-1.yaml
Labels: blocked, ready

#29 chore: bump traefik to chart 1.72.9
  addons/traefik/1.7.x/traefik-1.yaml
Labels: ready

#34 [fluentbit] Add parser for audit logs
  addons/fluentbit/1.3.x/fluentbit-1.yaml
Labels: ready

#37 chore: bump traefik to chart version 1.72.10
  addons/traefik/1.7.x/traefik-1.yaml
Labels: ready

#36 [test][localvolumepath] testing for localvolumepath is now working
  test/addons_test.go
  test/groups.yaml
Labels: ready

#45 chore: bump kommander version
  addons/kommander/1.163.x/kommander-1.yaml
Labels: blocked, chore, ready

#46 chore: Bump kommander version
  addons/kommander/1.163.x/kommander-1.yaml
Labels: ready

#48 kommander: bump its version
  addons/kommander/1.163.x/kommander-1.yaml
Labels: ready
