Repository mesosphere/kubernetes-base-addons, pull requests merged in 2020-07, with the labels that each got.

#332 prometheus-operator: Bump chart to 8.13.16
  addons/prometheus/0.38.x/prometheus-8.yaml
Labels: ready

#339 Fixing resource allocation issue to Prometheus and AlertManager
  addons/prometheus/0.38.x/prometheus-10.yaml
Labels: bug, ready

#340 Bug: Traefik bump
  addons/traefik/1.7.x/traefik-20.yaml
Labels: ready

#343 chore: increase the replica count to 2 for istio control plane and ingress gateway
  addons/istio/1.6.x/istio-3.yaml
Labels: ready

#345 [Backport] opsportal bump
  addons/opsportal/1.1.x/opsportal-12.yaml
Labels: hold

#347 request enough resources
  Dispatchfile
Labels: ready

#351 chore: Bump prometheus-operator chart
  addons/prometheus/0.38.x/prometheus-11.yaml
Labels: ready

#349 traefik: Bump chart to pull in upgrade and fix for metrics
  addons/traefik/1.7.x/traefik-21.yaml
  test/groups.yaml
Labels: backport 1.x, backport stable, backport testing, ready

#352 prometheus-operator: Bump chart to 8.13.18
  addons/prometheus/0.38.x/prometheus-12.yaml
Labels: backport stable, backport testing, ready

#350 bump dka 1.2.1
  addons/dex-k8s-authenticator/1.2.x/dex-k8s-authenticator-2.yaml
Labels: backport stable, backport testing

#355 traefik: Bump chart to pull in upgrade and fix for metrics (#349)
  addons/traefik/1.7.x/traefik-21.yaml
  test/groups.yaml
Labels: backport, ready

#357 prometheus-operator: Bump chart to 8.13.18 (#352)
  addons/prometheus/0.38.x/prometheus-12.yaml
Labels: backport, ready

#356 bump dka 1.2.1 (#350)
  addons/dex-k8s-authenticator/1.2.x/dex-k8s-authenticator-2.yaml
Labels: backport, ready

#354 traefik: Bump chart to pull in upgrade and fix for metrics (#349)
  addons/traefik/1.7.x/traefik-21.yaml
  test/groups.yaml
Labels: backport, ready

#361 traefik: Update chart, add servicemonitor label to prom service
  addons/traefik/1.7.x/traefik-22.yaml
  test/groups.yaml
Labels: backport 1.x, backport stable, backport testing, ready

#364 traefik: Update chart, add servicemonitor label to prom service (#361)
  addons/traefik/1.7.x/traefik-22.yaml
  test/groups.yaml
Labels: backport, ready

#362 traefik: Update chart, add servicemonitor label to prom service (#361)
  addons/traefik/1.7.x/traefik-22.yaml
  test/groups.yaml
Labels: backport, ready

#363 traefik: Update chart, add servicemonitor label to prom service (#361)
  addons/traefik/1.7.x/traefik-22.yaml
  test/groups.yaml
Labels: backport, ready

#278 chore: added resource requests for ephemeral storage.
  addons/traefik-forward-auth/1.0.x/traefik-forward-auth-8.yaml
Labels: chore, ready

#371 feat: adding fluent-bit official chart
  addons/fluentbit/1.5.x/fluentbit-1.yaml
Labels: ready

#373 fix: updated kibana audit-dashboard
  addons/kibana/6.8.x/kibana-6.yaml
Labels: ready

#379 Fix: Unable to change ops-portal password
  addons/dex/2.22.x/dex-7.yaml
Labels: ready

#378 chore: update cert-manager-setup
  addons/cert-manager/0.10.x/cert-manager-5.yaml
Labels: ready

#375 chore: fluent-bit update 1.5.2
  addons/fluentbit/1.5.x/fluentbit-2.yaml
Labels: ready

#360 Update dispatch-starlark:v0.5-beta2 and use functions from dispatch-catalog
  Dispatchfile
Labels: ready

#376 chore: create-index-patterns instead of initalize kubeaddons image
  addons/kibana/6.8.x/kibana-7.yaml
Labels: ready

#374 chore: elasticsearch-curator additonal indices
  addons/elasticsearch-curator/5.8.x/elasticsearch-curator-1.yaml
Labels: ready

#382 fix: fluent-bit privileged fix
  addons/fluentbit/1.5.x/fluentbit-3.yaml
Labels: ready

#388 Revert "fix: fluent-bit privileged fix"
  addons/fluentbit/1.5.x/fluentbit-3.yaml
Labels: ready

#383 [dex] version bump to apply helm3 fixes
  addons/dex/2.22.x/dex-8.yaml
Labels: ready

#384 [gatekeeper] bump version to chart with crd management
  addons/gatekeeper/3.0.x/gatekeeper-2.yaml
Labels: ready

#386 [kube-oidc-proxy] version bump for helm3 deployment
  addons/kube-oidc-proxy/0.1.x/kube-oidc-proxy-4.yaml
Labels: ready

#385 [konvoyconfig] update version for helm3 fixes
  addons/konvoyconfig/0.0.x/konvoyconfig-3.yaml
Labels: ready

#377 [dka] Windows support #1
  addons/dex-k8s-authenticator/1.2.x/dex-k8s-authenticator-3.yaml
Labels: ready

#391 [cert-manager] bump version
  addons/cert-manager/0.10.x/cert-manager-6.yaml
Labels: ready

#387 chore: update velero chart to 3.0.5
  addons/velero/1.0.x/velero-7.yaml
Labels: issues-in-ci, wip
