Repository mesosphere/kubernetes-base-addons, pull requests merged in 2020-12, with the labels that each got.

#718 bug(fluentbit): ES mapping correction / modify
  addons/fluentbit/fluentbit.yaml
Labels: wip

#720 chore: bump aws csi addon to latest
  addons/awsebscsiprovisioner/awsebscsiprovisioner.yaml
Labels: ready

#721 chore: Bump prometheus
  addons/prometheus/prometheus.yaml
Labels: ready

#719 chore: bump prometheus-adapter
  addons/prometheusadapter/prometheusadapter.yaml
Labels: ready

#723 Automated chart bump awsebscsiprovisioner-0.4.1
  addons/awsebscsiprovisioner/awsebscsiprovisioner.yaml
Labels: ready

#737 Revert Prometheus upgrade
  addons/prometheus/prometheus.yaml
Labels: ready

#722 fix: use chart version that does not contain patch
  addons/cert-manager/cert-manager.yaml
Labels: bug, ready

#743 chore: bump cert-manager-setup chart version
  addons/cert-manager/cert-manager.yaml
Labels: ready

#744 Automated chart bump awsebscsiprovisioner-0.5.0
  addons/awsebscsiprovisioner/awsebscsiprovisioner.yaml
Labels: ready

#738 prometheus: Bump chart
  addons/prometheus/prometheus.yaml
Labels: ready

#751 Merge release/3.0 into master
  RELEASE_NOTES.md
  addons/cert-manager/cert-manager.yaml
  test/scripts/test-wrapper.go
Labels: ready

#753 add nightly tests for prometheus up metrics
  Makefile
  test/addons_test.go
  test/go.mod
  test/go.sum
  test/groups.yaml
  test/nightly_prometheus_test.go
  test/prometheus_test.go
  test/testdata/prometheus-metric-output.json
  test/testdata/prometheus-metric-tests.yaml
  test/testdata/test-nightly-group-prom-metric-tests.yaml
Labels: ready

#758 [backport release/2] velero: use kubeaddons-addon-initialize v0.4.3
  addons/velero/velero.yaml
Labels: backport, ready

#727 [release/2] Bump prometheus to fix regression
  addons/prometheus/prometheus.yaml
Labels: ready
