Repository mesosphere/kubernetes-base-addons, pull requests merged in 2020-10, with the labels that each got.

#553 [gatekeeper] update to create cert-manager v1 resources
  addons/gatekeeper/gatekeeper.yaml
Labels: ready

#546 [defaultstorageclass] chore: chart should now deploy correct cert-manage resources
  addons/defaultstorageclass-protection/defaultstorageclass-protection.yaml
Labels: ready

#551 [istio] update to create cert-manager v1 resources
  addons/istio/istio.yaml
Labels: ready

#552 [kube-oidc-proxy] update to create cert-manager v1 resources
  addons/kube-oidc-proxy/kube-oidc-proxy.yaml
Labels: ready

#554 traefik: Update to create cert-manager v1 resources
  addons/traefik/traefik.yaml
Labels: ready

#524 [D2IQ-71860] Ambassador Preview
  CODEOWNERS
  addons/ambassador/preview.yaml
  test/addons_test.go
  test/ambassador_test.go
  test/go.mod
  test/go.sum
  test/groups.yaml
  test/scripts/test-wrapper.go
Labels: LetMeMerge, enhancement, ready

#325 D2IQ-69336: E2E Tests
  CONTRIBUTING.md
  Dispatchfile
  README.md
  test/scripts/e2e.sh
Labels: ci, ready

#573 chore: reloader annotation fix
  addons/reloader/reloader.yaml
Labels: ready

#571 chore: Bump Istio chart
  addons/istio/istio.yaml
  test/groups.yaml
Labels: ready

#576 [release/2.5] backport: cert-manager/fluentbit: upgrade-strategy delete (#574)
  addons/cert-manager/cert-manager.yaml
  addons/fluentbit/fluentbit.yaml
Labels: ready

#577 Cert manager/v0.2.1
  addons/cert-manager/cert-manager.yaml
  addons/defaultstorageclass-protection/defaultstorageclass-protection.yaml
  addons/dex/dex.yaml
  addons/gatekeeper/gatekeeper.yaml
  addons/istio/istio.yaml
  addons/kube-oidc-proxy/kube-oidc-proxy.yaml
  addons/traefik/traefik.yaml
  test/groups.yaml
Labels: ready

#578 [chore] cleanup & update KTF and kubeaddons
  test/go.mod
  test/go.sum
Labels: chore, ci, ready

#584 Automated chart bump fluent-bit-0.7.3
  addons/fluentbit/fluentbit.yaml
Labels: needs backport to release/2

#587 [D2IQ-72394] Document delete upgrade strategy
  CONTRIBUTING.md
  addons/cert-manager/cert-manager.yaml
  addons/dashboard/dashboard.yaml
  addons/fluentbit/fluentbit.yaml
  addons/nvidia/nvidia.yaml
  addons/prometheus/prometheus.yaml
Labels: documentation, ready

#591 (release/2.5) fluent-bit backports
  addons/fluentbit/fluentbit.yaml
Labels: backport, ready

#590 (release/2) fluent-bit backports
  addons/fluentbit/fluentbit.yaml
Labels: backport, ready

#580 tidy dispatchfile
  Dispatchfile
Labels: needs backport to release/2, ready

#588 Readme changes related to cert-manager branch management
  CONTRIBUTING.md
  README.md
  deployments/1.14/default-addons-deployments.yaml
  deployments/1.15/default-addons-deployments.yaml
  deployments/1.16/default-addons-deployments.yaml
Labels: documentation, ready

#593 2.5.0 release notes
  RELEASE_NOTES.md
Labels: ready

#606 Update CODEOWNERS
  CODEOWNERS
Labels: ready

#594 feat: bump for cert-manager-upgrade
  addons/cert-manager/cert-manager.yaml
  test/scripts/test-wrapper.go
Labels: ready

#601 [external-dns] chore: change chart location
  addons/external-dns/external-dns.yaml
Labels: LetMeMerge, ready

#607 chore: bump cert-manager
  CODEOWNERS
  addons/cert-manager/cert-manager.yaml
  addons/external-dns/external-dns.yaml
  addons/prometheusadapter/prometheusadapter.yaml
Labels: ready

#614 require repo for stable charts
  addons/elasticsearch-curator/elasticsearch-curator.yaml
  addons/elasticsearch/elasticsearch.yaml
  addons/elasticsearchexporter/elasticsearchexporter.yaml
  addons/kibana/kibana.yaml
  addons/metallb/metallb.yaml
Labels: ready

#617 external-dns: Add servicemonitor metrics label
  addons/external-dns/external-dns.yaml
Labels: ready

#618 prometheus: Add external-dns port in servicemonitor metrics endpoint
  addons/prometheus/prometheus.yaml
Labels: ready

#621 Bump dex-2.8.9 to fix dex-controller metrics collection
  addons/dex/dex.yaml
Labels: ready

#622 prometheus: Add servicemonitor for dex
  addons/prometheus/prometheus.yaml
Labels: ready

#623 metallb: Enable metrics collection
  addons/metallb/metallb.yaml
Labels: ready

#619 defaultstorageclass-protection: Bump chart to add servicemonitor labels
  addons/defaultstorageclass-protection/defaultstorageclass-protection.yaml
Labels: ready

#620 prometheus: Add servicemonitor for defaultstorageclass
  addons/prometheus/prometheus.yaml
Labels: ready

#627 bump prometheus-operator chart to 9.3.2
  addons/prometheus/prometheus.yaml
Labels: ready
