Repository mesosphere/kubernetes-base-addons, pull requests merged in 2020-11, with the labels that each got.

#636 use prometheus chart that uses our forks of deprecated upstream
  addons/prometheus/prometheus.yaml
Labels: ready

#644 fix: bump dex for dex-controller chart fix
  addons/dex/dex.yaml
Labels: bug, ready

#645 bump prometheus to use github hosted stable charts
  addons/prometheus/0.38.x/prometheus-12.yaml
Labels: ready

#654 Add a new label for kommander to require
  addons/cert-manager/cert-manager.yaml
Labels: ready

#658 feat: adds cert-manager-upgrade automation (#656)
  addons/cert-manager/cert-manager.yaml
Labels: ready

#676 3.0.0 Release Notes
  RELEASE_NOTES.md
Labels: ready

#679 bump prometheus-operator to use forked chart
  addons/prometheus/prometheus.yaml
Labels: ready

#691 Automated chart bump opsportal-0.3.24
  addons/opsportal/opsportal.yaml
Labels: help wanted, needs release notes

#626 Add Prometheus service monitor for flagger-loadtester
  addons/flagger/flagger.yaml
  addons/prometheus/prometheus.yaml
  test/scripts/test-wrapper.go
Labels: ready

#695 Add PodMonitor for flagger metrics
  addons/flagger/flagger.yaml
  addons/prometheus/prometheus.yaml
Labels: ready

#697 chore(fluentbit): chart bump 0.7.8 and tail-db
  addons/fluentbit/fluentbit.yaml
Labels: ready
