Repository mesosphere/kubernetes-base-addons, pull requests merged in 2020-06, with the labels that each got.

#273 chore: bump awsebscsiprovisioner to chart 0.3.8
  addons/awsebscsiprovisioner/0.5.x/awsebscsiprovisioner-4.yaml
Labels: ready

#275 chore: bump awsebscsiprovisioner to chart 0.3.8 (#273)
  addons/awsebscsiprovisioner/0.5.x/awsebscsiprovisioner-4.yaml
Labels: backport

#290 opsportal: bump chart 0.3.18
  addons/opsportal/1.1.x/opsportal.yaml
Labels: ready

#286 bumping init-container in traefik
  addons/traefik/1.7.x/traefik-11.yaml
Labels: ready

#302 Bump traefik
  addons/traefik/1.7.x/traefik-13.yaml
Labels: bug, ready

#303 chore: bump traefik to latest chart version
  addons/traefik/1.7.x/traefik-13.yaml
Labels: ready

#298 chore: bump alert-manager resource limits
  addons/prometheus/0.38.x/prometheus-2.yaml
Labels: ready

#307 opsportal: fix label typo
  addons/opsportal/1.1.x/opsportal-9.yaml
Labels: ready

#304 chore: traefik version bump
  addons/traefik/1.7.x/traefik-14.yaml
Labels: ready

#310 Bump Prometheus server resources
  addons/prometheus/0.38.x/prometheus-5.yaml
Labels: ready

#311 Add TC badge
  README.md
Labels: documentation, ready

#305 feat: enable traefik access logs
  addons/traefik/1.7.x/traefik-15.yaml
Labels: ready

#313 prometheus: Bump chart
  addons/prometheus/0.38.x/prometheus-6.yaml
Labels: ready

#314 use client-go 1.18.4 enabling the rest of the api-1.18 changes
  test/go.mod
  test/go.sum
  test/util.go
Labels: dependencies

#256 Clarify supported k8s versions in release docs
  RELEASE.md
Labels: ready

#317 chore: bump istio from 1.5.x to 1.6.x
  addons/istio/1.6.x/istio-1.yaml
Labels: ready

#321 fix: bump istio chart to include the fix for grafana dashboard
  addons/istio/1.6.x/istio-1.yaml
Labels: ready

#322 chore: traefik bump
  addons/traefik/1.7.x/traefik-16.yaml
Labels: ready

#323 chore: bump reloader
  addons/reloader/0.0.x/reloader-2.yaml
Labels: ready

#324 chore: traefik chart back to latest available
  addons/traefik/1.7.x/traefik-18.yaml
Labels: ready

#328 traefik: fix missing ports
  addons/traefik/1.7.x/traefik-19.yaml
Labels: ready

#327 [elasticsearch] data replica bump
  addons/elasticsearch/6.8.x/elasticsearch-6.yaml
Labels: ready
