Repository mesosphere/kubernetes-base-addons, pull requests merged in 2020-02, with the labels that each got.

#115 [dex, tfa] allow ops-portal landing page to regenerate username/password
  addons/dex/2.17.x/dex-2.yaml
  addons/traefik-forward-auth/1.0.x/traefik-forward-auth-2.yaml
Labels: ready

#120 chore: bump kommander/opsportal charts
  addons/kommander/1.x/kommander-4.yaml
  addons/opsportal/1.0.x/opsportal-5.yaml
Labels: ready

#112 enable rbac and passthrough
  addons/traefik-forward-auth/1.0.x/traefik-forward-auth-3.yaml
Labels: ready

#121 bump charts for RBAC changes
  addons/opsportal/1.0.x/opsportal-6.yaml
  addons/prometheus/0.34.x/prometheus-4.yaml
  addons/traefik/1.7.x/traefik-5.yaml
Labels: ready

#118 chore: bump version of azuredisk to 0.5.1
  addons/azuredisk-csi-driver/0.5.x/azuredisk-csi-driver-1.yaml
Labels: enhancement, ready

#122 [opsportal, kube-oidc-proxy, prometheus, traefik] bump chart version
  addons/kube-oidc-proxy/0.1.x/kube-oidc-proxy-2.yaml
  addons/opsportal/1.0.x/opsportal-7.yaml
  addons/prometheus/0.34.x/prometheus-5.yaml
  addons/traefik/1.7.x/traefik-6.yaml
Labels: ready

#126 Update CODEOWNERS
  CODEOWNERS
Labels: ready

#125 Add cloudproviders retroactively for traefik
  addons/traefik-forward-auth/1.0.x/traefik-forward-auth-1.yaml
  addons/traefik-forward-auth/1.0.x/traefik-forward-auth-2.yaml
  addons/traefik-forward-auth/1.0.x/traefik-forward-auth-3.yaml
  addons/traefik/1.7.x/traefik-1.yaml
  addons/traefik/1.7.x/traefik-2.yaml
  addons/traefik/1.7.x/traefik-3.yaml
  addons/traefik/1.7.x/traefik-4.yaml
  addons/traefik/1.7.x/traefik-5.yaml
Labels: bug, ready

#119 Document the release process
  README.md
  RELEASE.md
Labels: documentation, ready

#130 dex: bump Dex to v2.22.0
  addons/dex/2.22.x/dex-1.yaml
Labels: ready

#132 [opsportal, tfa] version bump
  addons/opsportal/1.0.x/opsportal-8.yaml
  addons/traefik-forward-auth/1.0.x/traefik-forward-auth-4.yaml
Labels: ready

#139 [chore] move dispatch addon
  CODEOWNERS
  addons/dispatch/0.3.x/dispatch-1.yaml
  addons/dispatch/0.4.x/dispatch-1.yaml
  addons/dispatch/0.5.x/dispatch-1.yaml
  metadata/root.yaml
  metadata/static/dispatch/overview.md
  test/addons_test.go
  test/groups.yaml
Labels: blocked, chore, ready

#137 [chore] remove kommander addon
  addons/kommander/1.x/kommander-1.yaml
  addons/kommander/1.x/kommander-2.yaml
  addons/kommander/1.x/kommander-3.yaml
  addons/kommander/1.x/kommander-4.yaml
  metadata/root.yaml
  metadata/static/kommander/overview.md
  test/addons_test.go
  test/groups.yaml
Labels: chore, ready

#140 Bump init-container to include the fix for static users
  addons/dex/2.22.x/dex-2.yaml
Labels: ready

#141 Bump dex
  addons/dex/2.22.x/dex-3.yaml
  test/addons_test.go
Labels: ready

#133 prometheus-operator: Upgrade chart
  addons/prometheus/0.35.x/prometheus-1.yaml
Labels: ready

#146 Bump Opsportal (UI)
  addons/opsportal/1.0.x/opsportal-1.yaml
  addons/opsportal/1.0.x/opsportal-2.yaml
  addons/opsportal/1.0.x/opsportal-3.yaml
  addons/opsportal/1.0.x/opsportal-5.yaml
  addons/opsportal/1.0.x/opsportal-6.yaml
  addons/opsportal/1.0.x/opsportal-7.yaml
  addons/opsportal/1.0.x/opsportal-8.yaml
  addons/opsportal/1.0.x/opsportal-9.yaml
Labels: ready

#136 Introduce Dispatch to Kubeaddons.
  Dispatchfile
  Makefile
  README.md
  scripts/ci/setup_ssh.sh
Labels: ready

#153 chore: bump dex-k8s-auth
  addons/dex-k8s-authenticator/1.1.x/dex-k8s-authenticator-3.yaml
Labels: ready

#152 [chore] cleanup general test group
  addons/velero/1.0.x/velero-1.yaml
  test/addons_test.go
  test/groups.yaml
Labels: chore, ready

#156 fix: run all tests when on Addon has been modified
  test/scripts/test-wrapper.go
Labels: ready

#147 Added helm upgrade strategy 'delete' to nvidia addon
  addons/nvidia/0.2.x/nvidia-2.yaml
  addons/nvidia/0.2.x/nvidia-3.yaml
Labels: ready

#154 chore: disable audit log collection in fluent-bit
  addons/fluentbit/1.3.x/fluentbit-2.yaml
Labels: ready

#157 Add release notes for stable 1.2.0
  RELEASE_NOTES.md
Labels: documentation, ready

#160 nvidia: Bumped the nvidia chart to 0.3.3
  addons/nvidia/0.2.x/nvidia-4.yaml
Labels: ready, wip

#161 nvidia: Bumped the nvidia chart to 0.3.3 (#160)
  addons/nvidia/0.2.x/nvidia-4.yaml
Labels: ready

#169 Bump opsportal UI version
  addons/opsportal/1.0.x/opsportal-12.yaml
Labels: ready
