Repository mesosphere/kubernetes-base-addons, pull requests merged in 2020-01, with the labels that each got.

#52 bump extrasteps
  addons/dex/2.17.x/dex-1.yaml
Labels: ready

#41 Adds local repo support and removes cert-manager deploy
  test/addons_test.go
  test/go.mod
  test/go.sum
  test/groups.yaml
Labels: ready

#53 velero: allow deployment testing
  test/groups.yaml
Labels: duplicate, ready

#56 [traefik-forward-auth] bump tfa chart reference
  addons/traefik-forward-auth/1.0.x/traefik-forward-auth-1.yaml
Labels: ready

#55 prometheusadapter: Bump chart and fix metric labels
  addons/prometheusadapter/0.5.x/prometheusadapter-1.yaml
Labels: ready

#60 [kibana] chore: added kibana-6.8.2
  addons/kibana/6.8.x/kibana-1.yaml
Labels: ready

#64 addons/opsportal: bump nginx container to 1.17-alpine
  addons/opsportal/1.0.x/opsportal-1.yaml
Labels: ready

#39 [chore] Update Test Wrapper Script
  addons/dashboard/2.0.x/dashboard-1.yaml
  addons/elasticsearch/6.8.x/elasticsearch-1.yaml
  test/go.mod
  test/scripts/test-wrapper.go
  test/scripts/test-wrapper.pl
Labels: chore, ready

#66 [traefik-foward-auth] Bump image tag
  addons/traefik-forward-auth/1.0.x/traefik-forward-auth-1.yaml
Labels: ready

#71 addons/dex: bump dex container with security updates
  addons/dex/2.17.x/dex-1.yaml
Labels: ready

#70 Bump dispatch to v0.4.3
  addons/dispatch/0.4.x/dispatch-1.yaml
Labels: bug, ready

#69 [prometheus-operator] fix: upgrade path from 5.19.7
  addons/prometheus/0.34.x/prometheus-1.yaml
Labels: ready

#63 Add default addons.
  README.md
  deployments/1.14/default-addons-deployments.yaml
  deployments/1.15/default-addons-deployments.yaml
  deployments/1.16/default-addons-deployments.yaml
Labels: ready

#62 chore: add 'stage' annotation to istio addon
  addons/istio/1.3.x/istio-1.yaml
Labels: ready

#72 addons/dex-k8s-authenticator: security update
  addons/dex-k8s-authenticator/1.1.x/dex-k8s-authenticator-1.yaml
Labels: ready

#73 Fix Prometheus and Grafana values in Dispatch kubeaddon
  addons/dispatch/0.4.x/dispatch-1.yaml
Labels: ready

#76 addons/metallb: bump metallb container images with security fixes
  addons/metallb/0.8.x/metallb-1.yaml
Labels: ready

#81 kommander: use repository-tag as version strategy
  addons/kommander/1.163.x/kommander-1.yaml
  addons/kommander/1.173.x/kommander-1.yaml
Labels: ready

#75 addons/traefik: bump to 1.72.11
  addons/traefik/1.7.x/traefik-2.yaml
Labels: ready

#82 gatekeeper: version bump
  addons/gatekeeper/3.0.x/gatekeeper-1.yaml
Labels: ready

#85 gatekeeper: bump chart version
  addons/gatekeeper/3.0.x/gatekeeper-1.yaml
Labels: ready

#83 addons/velero: bump minio k8s operator to 1.0.6 (security update)
  addons/velero/1.0.x/velero-1.yaml
Labels: ready

#68 chore: update kommander annotations
  addons/kommander/1.184.x/kommander-1.yaml
  addons/opsportal/1.0.x/opsportal-1.yaml
  test/go.sum
Labels: ready

#86 tfa: properly support CNAME redirect [v1.3.0]
  addons/traefik-forward-auth/1.0.x/traefik-forward-auth-1.yaml
Labels: ready

#87 tfa: properly support CNAME redirect
  addons/traefik-forward-auth/1.0.x/traefik-forward-auth-1.yaml
Labels: ready

#89 chore: bump fluentbit memory due to OOM
  addons/fluentbit/1.3.x/fluentbit-1.yaml
Labels: LetMeMerge, wip

#90 chore: bump fluentbit memory due to OOM
  addons/fluentbit/1.3.x/fluentbit-1.yaml
Labels: LetMeMerge, ready

#65 Remove the KUDO addon
  addons/kudo/0.8.x/kudo-1.yaml
  metadata/root.yaml
  metadata/static/kudo/overview.md
  test/groups.yaml
Labels: blocked, ready

#88 chores: bumps couple of charts
  addons/dex-k8s-authenticator/1.1.x/dex-k8s-authenticator-1.yaml
  addons/istio/1.4.x/istio-1.yaml
  addons/kube-oidc-proxy/0.1.x/kube-oidc-proxy-1.yaml
  addons/traefik-forward-auth/1.0.x/traefik-forward-auth-1.yaml
  addons/traefik/1.7.x/traefik-2.yaml
Labels: ready

#93 Custom certs 1.3
  addons/dex-k8s-authenticator/1.1.x/dex-k8s-authenticator-1.yaml
  addons/istio/1.4.x/istio-1.yaml
  addons/kube-oidc-proxy/0.1.x/kube-oidc-proxy-1.yaml
  addons/traefik-forward-auth/1.0.x/traefik-forward-auth-1.yaml
  addons/traefik/1.7.x/traefik-2.yaml
Labels: ready

#94 Remove the KUDO addon (#65)
  addons/kudo/0.8.x/kudo-1.yaml
  metadata/root.yaml
  metadata/static/kudo/overview.md
  test/groups.yaml
Labels: ready

#91 [nvidia] chore: update chart to v0.3.1
  addons/nvidia/0.3.x/nvidia-1.yaml
Labels: ready

#77 [chore] Add release, support, and deprecation docs
  README.md
Labels: ready

#95 [elasticsearch-curator] introduce curator to our stack
  addons/elasticsearch-curator/5.7.x/elasticsearch-curator-1.yaml
  test/addons_test.go
  test/groups.yaml
  test/scripts/test-wrapper.go
Labels: ready

#92 chore: clean up kommander versions
  addons/kommander/1.163.x/kommander-1.yaml
  addons/kommander/1.173.x/kommander-1.yaml
  addons/kommander/1.x/kommander-1.yaml
Labels: ready

#96 prometheus: bump prometheus-operator
  addons/prometheus/0.34.x/prometheus-2.yaml
Labels: chore, ready

#31 gcp support and added gcpdisk-csi-driver, gcpdiskprovisioner
  addons/cert-manager/0.10.x/cert-manager-1.yaml
  addons/dashboard/2.0.x/dashboard-1.yaml
  addons/defaultstorageclass-protection/0.0.x/defaultstorageclass-protection-1.yaml
  addons/dex-k8s-authenticator/1.1.x/dex-k8s-authenticator-1.yaml
  addons/dex/2.17.x/dex-1.yaml
  addons/dispatch/0.3.x/dispatch-1.yaml
  addons/elasticsearch/6.8.x/elasticsearch-1.yaml
  addons/elasticsearchexporter/1.1.x/elasticsearchexporter-1.yaml
  addons/external-dns/0.5.x/external-dns-1.yaml
  addons/flagger/0.19.x/flagger-1.yaml
  addons/fluentbit/1.3.x/fluentbit-1.yaml
  addons/gatekeeper/3.0.x/gatekeeper-1.yaml
  addons/gcpdisk-csi-driver/0.6.x/gcpdisk-csi-driver-1.yaml
  addons/gcpdiskprovisioner/1.0.x/gcpdiskprovisioner-1.yaml
  addons/istio/1.3.x/istio-1.yaml
  addons/kibana/6.7.x/kibana-1.yaml
  addons/konvoyconfig/0.0.x/konvoyconfig-1.yaml
  addons/kube-oidc-proxy/0.1.x/kube-oidc-proxy-1.yaml
  addons/localvolumeprovisioner/1.0.x/localvolumeprovisioner-1.yaml
  addons/nvidia/0.2.x/nvidia-1.yaml
  addons/opsportal/1.0.x/opsportal-1.yaml
  addons/prometheus/0.34.x/prometheus-1.yaml
  addons/prometheusadapter/0.5.x/prometheusadapter-1.yaml
  addons/velero/1.0.x/velero-1.yaml
  metadata/root.yaml
  metadata/static/gcpdisk-csi-driver/overview.md
  metadata/static/gcpdiskprovisioner/overview.md
  test/groups.yaml
Labels: ready

#101 Add comment explaining prometheus upgrade strategy
  addons/prometheus/0.34.x/prometheus-1.yaml
  addons/prometheus/0.34.x/prometheus-2.yaml
Labels: ready

#42 traefik: remove requirement of a storage class
  README.md
  addons/traefik/1.7.x/traefik-3.yaml
Labels: bug, ready

#97 chore: add PR template
  .github/PULL_REQUEST_TEMPLATE.md
Labels: chore, ready

#106 [chore] Update to latest kubeaddons (v0.7.4)
  addons/elasticsearch/6.8.x/elasticsearch-1.yaml
  test/addons_test.go
  test/go.mod
  test/go.sum
Labels: chore, ready

#103 enable gcp here
  addons/elasticsearch-curator/5.7.x/elasticsearch-curator-1.yaml
Labels: ready

#104 enable gcp here
  addons/kommander/1.x/kommander-1.yaml
Labels: ready

#108 [bug] Fix accidentally removed cluster node config
  test/addons_test.go
Labels: bug, ready

#105 explicit disable gcp
  addons/dispatch/0.5.x/dispatch-1.yaml
Labels: ready

#99 [opsportal, kibana, prometheus, traefik] ingress records
  addons/kibana/6.8.x/kibana-2.yaml
  addons/opsportal/1.0.x/opsportal-2.yaml
  addons/prometheus/0.34.x/prometheus-3.yaml
  addons/traefik/1.7.x/traefik-4.yaml
Labels: ready

#109 chore: tests - clean cluster if reference is available but failed to create
  test/addons_test.go
Labels: ready

#110 Add dependabot support for go
  .dependabot/config.yml
Labels: ready

#111 chore: cert-manager chart version bump
  addons/cert-manager/0.10.x/cert-manager-2.yaml
Labels: ready

#100 bump/add new revisions for opsportal/kommander charts
  addons/kommander/1.x/kommander-2.yaml
  addons/opsportal/1.0.x/opsportal-3.yaml
Labels: ready
