Repository mesosphere/kubernetes-base-addons, pull requests merged in 2020-09, with the labels that each got.

#484 [D2IQ-71395] update k8s libs to 1.19.x
  test/go.mod
  test/go.sum
Labels: chore, dependencies, ready

#486 Joe/make cert manager upgradable
  addons/cert-manager/0.10.x/cert-manager-1.yaml
  addons/cert-manager/0.10.x/cert-manager-2.yaml
  addons/cert-manager/0.10.x/cert-manager-3.yaml
  addons/cert-manager/0.10.x/cert-manager-4.yaml
  addons/cert-manager/0.10.x/cert-manager-5.yaml
  addons/cert-manager/0.10.x/cert-manager-6.yaml
Labels: ready

#488 [release/2.3] backport: make cert-manager upgradeable
  addons/cert-manager/0.10.x/cert-manager-1.yaml
  addons/cert-manager/0.10.x/cert-manager-2.yaml
  addons/cert-manager/0.10.x/cert-manager-3.yaml
  addons/cert-manager/0.10.x/cert-manager-4.yaml
  addons/cert-manager/0.10.x/cert-manager-5.yaml
  addons/cert-manager/0.10.x/cert-manager-6.yaml
Labels: backport, ready

#487 Dispatchfile: fix task name
  Dispatchfile
Labels: ready

#491 fix: airgapped test bumping cert manager
  addons/cert-manager/0.10.x/cert-manager-7.yaml
  addons/cert-manager/0.10.x/cert-manager-8.yaml
Labels: ready

#493 Update PULL_REQUEST_TEMPLATE.md
  .github/PULL_REQUEST_TEMPLATE.md
Labels: chore, stability

#492 Fix annontation for legacy helm upgrade
  addons/dashboard/2.0.x/dashboard-1.yaml
  addons/dashboard/2.0.x/dashboard-2.yaml
  addons/dashboard/2.0.x/dashboard-3.yaml
  addons/nvidia/0.2.x/nvidia-2.yaml
  addons/nvidia/0.2.x/nvidia-3.yaml
  addons/nvidia/0.2.x/nvidia-4.yaml
  addons/nvidia/0.2.x/nvidia-5.yaml
  addons/nvidia/0.2.x/nvidia-6.yaml
  addons/prometheus/0.34.x/prometheus-1.yaml
  addons/prometheus/0.34.x/prometheus-2.yaml
  addons/prometheus/0.34.x/prometheus-3.yaml
  addons/prometheus/0.34.x/prometheus-4.yaml
  addons/prometheus/0.34.x/prometheus-5.yaml
  addons/prometheus/0.35.x/prometheus-1.yaml
  addons/prometheus/0.35.x/prometheus-2.yaml
  addons/prometheus/0.35.x/prometheus-3.yaml
  addons/prometheus/0.35.x/prometheus-4.yaml
  addons/prometheus/0.38.x/prometheus-1.yaml
  addons/prometheus/0.38.x/prometheus-10.yaml
  addons/prometheus/0.38.x/prometheus-11.yaml
  addons/prometheus/0.38.x/prometheus-12.yaml
  addons/prometheus/0.38.x/prometheus-13.yaml
  addons/prometheus/0.38.x/prometheus-14.yaml
  addons/prometheus/0.38.x/prometheus-2.yaml
  addons/prometheus/0.38.x/prometheus-3.yaml
  addons/prometheus/0.38.x/prometheus-4.yaml
  addons/prometheus/0.38.x/prometheus-5.yaml
  addons/prometheus/0.38.x/prometheus-6.yaml
  addons/prometheus/0.38.x/prometheus-7.yaml
  addons/prometheus/0.38.x/prometheus-8.yaml
  addons/prometheus/0.38.x/prometheus-9.yaml
  addons/velero/1.0.x/velero-2.yaml
  addons/velero/1.0.x/velero-3.yaml
Labels: bug, ready

#504 release 2.3 notes
  RELEASE_NOTES.md
Labels: ready

#505 update release notes from 2.3.0 release
  RELEASE_NOTES.md
Labels: ready

#498 Automated chart bump cert-manager-setup-0.1.17
  addons/cert-manager/0.10.x/cert-manager-8.yaml
Labels: ready

#497 Automated chart bump elasticsearch-1.32.5
  addons/elasticsearch/6.8.x/elasticsearch-7.yaml
Labels: ready

#500 Automated chart bump flagger-0.19.1
  addons/flagger/0.19.x/flagger-1.yaml
Labels: ready

#512 Revert "Automated chart bump elasticsearch-1.32.5"
  addons/elasticsearch/6.8.x/elasticsearch-7.yaml
Labels: backport 2.3, ready

#506 chore: codeowners updated
  .gitignore
  CODEOWNERS
Labels: ready

#513 [D2IQ-68980] Update to v0.19.x libs and Kubeaddons v0.20.x
  test/addons_test.go
  test/go.mod
  test/go.sum
Labels: chore, ready

#511 Fix kibana dashboard import
  addons/kibana/6.8.x/kibana-8.yaml
Labels: ready

#514 [D2IQ-71746] Add upgrade tests for all addon test groups
  .github/PULL_REQUEST_TEMPLATE.md
  addons/dashboard/2.0.x/dashboard-1.yaml
  addons/dashboard/2.0.x/dashboard-2.yaml
  addons/dashboard/dashboard.yaml
  test/addons_test.go
  test/go.mod
  test/go.sum
Labels: ci, enhancement, ready

#516 Update Istio Preview to v1.6.9
  addons/istio/istio.yaml
Labels: LetMeMerge, chore, ready

#517 More test logging, and update for Kubeaddons v0.20.3
  test/addons_test.go
  test/go.mod
  test/go.sum
Labels: chore, ci, ready

#515 Add Kibana dashboard test
  test/elasticsearch_test.go
Labels: ci, ready

#523 Fix Kibana test
  test/elasticsearch_test.go
Labels: ci, ready

#507 Bump nvidia to 0.3.5
  addons/nvidia/0.2.x/nvidia-6.yaml
Labels: ready

#521 Automated chart bump opsportal-0.3.23
  addons/opsportal/opsportal.yaml
Labels: ready

#530 (2.4) Fix kibana dashboard import
  addons/kibana/6.8.x/kibana-8.yaml
Labels: backport, ready

#529 2.4.0 release notes
  RELEASE_NOTES.md
Labels: documentation, ready

#538 Automated chart bump fluent-bit-0.7.1
  addons/fluentbit/fluentbit.yaml
Labels: ready

#544 [dex] chore: chart should now deploy correct cert-manage resources
  addons/dex/dex.yaml
Labels: LetMeMerge, ready
