Repository mesosphere/kubernetes-base-addons, pull requests merged in 2020-04, with the labels that each got.

#206 elasticsearch: data pods wait until client pods are ready
  addons/elasticsearch/6.8.x/elasticsearch-5.yaml
Labels: ready

#196 cert-manager: chart bump cert-manager-setup
  addons/cert-manager/0.10.x/cert-manager-4.yaml
Labels: ready

#210 Fix links in README.md
  README.md
Labels: documentation, ready

#193 chore(dex, dka): support kubectl token plugin
  addons/dex-k8s-authenticator/1.1.x/dex-k8s-authenticator-5.yaml
  addons/dex/2.22.x/dex-5.yaml
Labels: ready

#177 bump opsportal chart version
  addons/opsportal/1.1.x/opsportal.yaml
Labels: ready

#212 Bump dka image and chart for plugin instructions page
  addons/dex-k8s-authenticator/1.1.x/dex-k8s-authenticator-6.yaml
Labels: ready

#213 Add 1.5.0 release notes
  RELEASE_NOTES.md
Labels: ready

#198 awsebscsiprovisioner: chart bump 0.3.6
  addons/awsebscsiprovisioner/0.5.x/awsebscsiprovisioner-2.yaml
Labels: changes-requested, ready

#215 velero: bump minio to include some fix
  addons/velero/1.0.x/velero-5.yaml
Labels: ready

#217 chore: bump chart 0.3.3 -> 0.3.5
  addons/opsportal/1.1.x/opsportal.yaml
Labels: ready

#216 velero: bump charts, use json logging
  addons/velero/1.0.x/velero-6.yaml
Labels: ready

#219 shaneutt/prom update v0.35.1
  addons/prometheus/0.35.x/prometheus-3.yaml
Labels: bug, ready

#221 traefik: update initContainer
  addons/traefik/1.7.x/traefik-9.yaml
Labels: chore, ready

#224 dex: bump dex chart to 2.8.5
  addons/dex/2.22.x/dex-6.yaml
Labels: ready

#208 Add elasticsearch and kibana tests
  test/addons_test.go
  test/elasticsearch_test.go
  test/go.mod
  test/go.sum
Labels: ready

#226 tfa: added traefik.ingress.kubernetes.io/auth-response-headers
  addons/traefik-forward-auth/1.0.x/traefik-forward-auth-5.yaml
Labels: ready

#211 Add monitoring tests
  test/addons_test.go
  test/elasticsearch_test.go
  test/prometheus_test.go
  test/util.go
Labels: ready

#223 chore: add guidelines to PR template
  .github/PULL_REQUEST_TEMPLATE.md
Labels: chore, ready

#225 Bumped the Nvidia helm chart to 0.3.4
  addons/nvidia/0.2.x/nvidia-5.yaml
Labels: ready
