Repository mesosphere/kubernetes-base-addons, pull requests merged in 2020-08, with the labels that each got.

#390 fix(kibana): added check if curls successful
  addons/kibana/6.8.x/kibana-8.yaml
Labels: ready

#389 fix: enable serviceMonitor
  addons/fluentbit/1.5.x/fluentbit-4.yaml
  test/.gitignore
  test/addons_test.go
  test/dispatch-ci.sh
  test/elasticsearch_test.go
  test/go.mod
  test/go.sum
  test/prometheus_test.go
  test/run-tests.sh
  test/scripts/setup-konvoy.sh
Labels: ready

#392 Chore: Prometheus new ServiceMonitor
  addons/prometheus/0.38.x/prometheus-13.yaml
  test/addons_test.go
  test/groups.yaml
  test/prometheus_test.go
Labels: ready

#423 [velero] deployable by helm3 and helm2
  addons/velero/1.0.x/velero-7.yaml
Labels: ready

#428 chore: prometheus revision raise
  addons/prometheus/0.38.x/prometheus-13.yaml
Labels: ready

#427 chore: create kubernetes_audit template
  addons/elasticsearch/6.8.x/elasticsearch-7.yaml
Labels: ready

#432 Add meaningful aliases to fluent-bit plugins
  addons/fluentbit/1.5.x/fluentbit-5.yaml
Labels: ready

#426 Automated addon bumps
  Dispatchfile
  scripts/ci/Dockerfile.bump-charts
  scripts/ci/bump_charts.py
  scripts/ci/test_bump_charts.py
  scripts/ci/unit_test_yaml_samples/test-certmanager-1.yaml
  scripts/ci/unit_test_yaml_samples/test-certmanager-12.yaml
  scripts/ci/unit_test_yaml_samples/test-updated-certmanager-12.yaml
Labels: ready

#434 [bug] add legacy kubeaddons catalog regression tests
  addons/dashboard/2.0.x/dashboard-3.yaml
  test/legacy/README.md
  test/legacy/go.mod
  test/legacy/go.sum
  test/legacy/main_test.go
Labels: bug, ready

#433 [azurediskprovisioner] chore: bump version fixing skuname
  addons/azurediskprovisioner/1.0.x/azurediskprovisioner-2.yaml
Labels: ready

#368 D2IQ-68441 - Include additional test runs on dispatch.
  Dispatchfile
  Makefile
  test/addons_test.go
  test/dispatch-ci.sh
Labels: ready

#437 [istio] update version that has helm3 fixes
  addons/istio/1.6.x/istio-4.yaml
  test/groups.yaml
Labels: ready

#440 [chore] disable istio to fix CI
  test/go.mod
  test/groups.yaml
Labels: ready

#436 D2IQ-70889 [dka] bump chart 1.2.6
  addons/dex-k8s-authenticator/1.2.x/dex-k8s-authenticator-4.yaml
Labels: ready

#443 azuredisk-csi-driver: snapshots feature
  addons/azuredisk-csi-driver/0.7.x/azuredisk-csi-driver-3.yaml
Labels: ready

#445 [istio] fix: requires should be multi matchLabels
  addons/istio/1.6.x/istio-5.yaml
Labels: ready

#452 Automated chart bump opsportal-0.3.22
  addons/opsportal/1.5.x/opsportal-1.yaml
Labels: ready

#447 Automated chart bump elasticsearch-curator-2.2.1
  addons/elasticsearch-curator/5.8.x/elasticsearch-curator-1.yaml
Labels: ready

#449 Automated chart bump elasticsearch-exporter-3.7.0
  addons/elasticsearchexporter/1.1.x/elasticsearchexporter-1.yaml
Labels: ready

#455 Automated chart bump reloader-v0.0.67
  addons/reloader/0.0.x/reloader-2.yaml
Labels: ready

#446 Automated chart bump kubernetes-dashboard-2.3.0
  addons/dashboard/2.0.x/dashboard-3.yaml
Labels: needs release notes

#474 prometheus: disable controller-manager and scheduler serviceMonitors
  addons/prometheus/0.38.x/prometheus-14.yaml
Labels: backport stable

#473 Joe/lint yaml
  .dependabot/config.yml
  Dispatchfile
  Makefile
  addons/elasticsearch/6.8.x/elasticsearch-5.yaml
  addons/elasticsearch/6.8.x/elasticsearch-6.yaml
  addons/istio/1.6.x/istio-1.yaml
  addons/istio/1.6.x/istio-2.yaml
  addons/istio/1.6.x/istio-3.yaml
  addons/istio/1.6.x/istio-4.yaml
  addons/istio/1.6.x/istio-5.yaml
  addons/metallb/0.8.x/metallb-1.yaml
  addons/metallb/0.9.x/metallb-1.yaml
  addons/opsportal/1.0.x/opsportal-9.yaml
  addons/prometheus/0.38.x/prometheus-14.yaml
  addons/traefik-forward-auth/1.0.x/traefik-forward-auth-3.yaml
  test/yamllint.yaml
Labels: ready

#476 [stable-1.x] prometheus: disable controller-manager and scheduler serviceMonitors
  addons/prometheus/0.35.x/prometheus-3.yaml
Labels: ready

#475 1.9.0 release notes
  RELEASE_NOTES.md
Labels: ready

#471 Add kuttl test target to makefile
  .gitignore
  CONTRIBUTING.md
  Makefile
Labels: ready

#477 v2.2.0 release notes
  RELEASE_NOTES.md
Labels: ready

#450 Automated chart bump kibana-3.2.7
  addons/kibana/6.8.x/kibana-8.yaml
Labels: ready

#456 Automated chart bump traefik-forward-auth-0.2.14
  addons/traefik-forward-auth/1.0.x/traefik-forward-auth-8.yaml
Labels: ready

#481 istio: Bump chart to v1.6.7
  addons/istio/1.6.x/istio-6.yaml
Labels: backport stable, ready

#482 use KBA_KUBECONFIG instead of KUBECONFIG for make
  .gitignore
  Makefile
  test/addons_test.go
  test/go.mod
  test/go.sum
  test/run-tests.sh
Labels: ready

#483 [release/2.3] istio: Bump chart to v1.6.7
  addons/istio/1.6.x/istio-6.yaml
  test/groups.yaml
Labels: backport, ready
