Repository mesosphere/kubernetes-base-addons, pull requests merged in 2020-03, with the labels that each got.

#168 [feature] use logging hook for test.Cluster
  test/addons_test.go
  test/go.mod
  test/go.sum
Labels: blocked, enhancement, ready

#164 [chore] remove old controller deployment hack
  addons/elasticsearch/6.8.x/elasticsearch-1.yaml
  addons/prometheus/0.35.x/prometheus-1.yaml
  test/addons_test.go
Labels: chore, ready

#163 [ElasticSearch, fluentbit] Create index template
  addons/elasticsearch/6.8.x/elasticsearch-2.yaml
  addons/fluentbit/1.3.x/fluentbit-3.yaml
Labels: ready

#167 [ci] use new test.Groups
  addons/dashboard/2.0.x/dashboard-1.yaml
  addons/prometheus/0.35.x/prometheus-1.yaml
  test/addons_test.go
  test/go.mod
  test/go.sum
  test/scripts/test-wrapper.go
Labels: enhancement, ready

#170 chore: bump opsportal ui
  addons/opsportal/1.0.x/opsportal-12.yaml
Labels: ready

#174 Velero refactor
  addons/traefik/1.7.x/traefik-7.yaml
  addons/velero/1.0.x/velero-2.yaml
  test/groups.yaml
Labels: ready

#144 Update release document
  RELEASE.md
  test/scripts/setup-konvoy.sh
Labels: documentation, ready

#176 Adding links to the CI systems.
  README.md
Labels: documentation, ready

#175 [chore] enable AWS cloud provider tests
  addons/awsebscsiprovisioner/0.4.x/awsebscsiprovisioner-1.yaml
  addons/dashboard/2.0.x/dashboard-1.yaml
  test/.gitignore
  test/README.md
  test/addons_test.go
  test/go.mod
  test/go.sum
  test/groups.yaml
  test/scripts/setup-konvoy.sh
Labels: chore, ready

#180 Release 1.3.0
  Dispatchfile
  Makefile
  README.md
  RELEASE_NOTES.md
  addons/elasticsearch/6.8.x/elasticsearch-2.yaml
  addons/fluentbit/1.3.x/fluentbit-3.yaml
  addons/velero/1.0.x/velero-1.yaml
  scripts/ci/setup_ssh.sh
  test/addons_test.go
  test/groups.yaml
  test/scripts/test-wrapper.go
Labels: ready

#178 Update CODEOWNERS
  CODEOWNERS
  test/groups.yaml
Labels: ready

#182 Revert "prometheus-operator: Upgrade chart (#133)"
  addons/prometheus/0.35.x/prometheus-1.yaml
Labels: ready

#183 istio: disable PodDisruptionBudget
  addons/istio/1.4.x/istio-2.yaml
Labels: ready

#188 [chore] switch to new test framework upstream
  test/README.md
  test/addons_test.go
  test/go.mod
  test/go.sum
  test/scripts/test-wrapper.go
Labels: chore, ready

#189 dka: bump dka to 1.1.15
  addons/dex-k8s-authenticator/1.1.x/dex-k8s-authenticator-4.yaml
Labels: chore, ready

#190 chore: Bump the traefik chart version from 1.72.16 to 1.72.17.
  addons/traefik/1.7.x/traefik-8.yaml
Labels: ready

#187 cert-manager: chart bump cert-manager-setup
  addons/cert-manager/0.10.x/cert-manager-3.yaml
Labels: ready

#184 Decreased curator days to 10 and set the ES data node disk size to 50Gi
  addons/elasticsearch-curator/5.7.x/elasticsearch-curator-2.yaml
  addons/elasticsearch/6.8.x/elasticsearch-3.yaml
Labels: ready

#194 Add release notes for 1.4.0
  RELEASE_NOTES.md
Labels: documentation, ready

#186 awsebscsiprovisioner chart version 0.3.5 -> aws-ebs-csi-driver 0.5.0
  addons/awsebscsiprovisioner/0.5.x/awsebscsiprovisioner-1.yaml
Labels: ready

#201 prometheus-operator: Upgrade chart (#133)
  addons/prometheus/0.35.x/prometheus-1.yaml
Labels: ready

#205 Joe/bump prometheus
  addons/prometheus/0.35.x/prometheus-2.yaml
Labels: bug, ready
