Repository mesosphere/kubernetes-base-addons, pull requests merged in 2021-08, with the labels that each got.

#1255 [auto-bump][chart] ambassador-6.7.13
  addons/ambassador/ambassador.yaml
  test/ambassador_test.go
Labels: addon/ambassador

#1256 [auto-bump][chart] azuredisk-csi-driver-0.8.0
  addons/azuredisk-csi-driver/azuredisk-csi-driver.yaml
Labels: addon/azuredisk-csi-driver

#1257 [auto-bump][chart] kubernetes-dashboard-4.5.0
  addons/dashboard/dashboard.yaml
Labels: addon/dashboard

#1263 [auto-bump][chart] opsportal-0.8.2
  addons/opsportal/opsportal.yaml
Labels: addon/opsportal

#1260 [auto-bump][chart] gatekeeper-0.6.8
  addons/gatekeeper/gatekeeper.yaml
Labels: addon/gatekeeper

#1259 [auto-bump][chart] prometheus-elasticsearch-exporter-4.5.0
  addons/elasticsearchexporter/elasticsearchexporter.yaml
Labels: addon/elasticsearchexporter

#1265 [auto-bump][chart] reloader-v0.0.99
  addons/reloader/reloader.yaml
Labels: addon/reloader

#1269 [auto-bump][chart] dex-2.9.7
  addons/dex/dex.yaml
Labels: help wanted, addon/dex

#1266 [auto-bump][chart] velero-3.1.3
  addons/velero/velero.yaml
Labels: ready, addon/velero

#1267 [auto-bump][chart] opsportal-0.9.0
  addons/opsportal/opsportal.yaml
Labels: ready, addon/opsportal

#1285 bump tfa to v3.0.1
  addons/traefik-forward-auth/traefik-forward-auth.yaml
Labels: addon/traefik-forward-auth

#1268 bump all kubeaddons-addon-initializer
  addons/cert-manager/cert-manager.yaml
  addons/dex-k8s-authenticator/dex-k8s-authenticator.yaml
  addons/dex/dex.yaml
  addons/kube-oidc-proxy/kube-oidc-proxy.yaml
  addons/opsportal/opsportal.yaml
  addons/traefik-forward-auth/traefik-forward-auth.yaml
  addons/traefik/traefik.yaml
  addons/velero/velero.yaml
Labels: addon/dex, addon/velero, addon/cert-manager, addon/opsportal, addon/dex-k8s-authenticator, addon/kube-oidc-proxy, addon/traefik-forward-auth, addon/traefik
