Repository mesosphere/kubernetes-base-addons, pull requests merged in 2021-06, with the labels that each got.

#1172 prometheus: set nameOverride to preserve previous Service name
  addons/flagger/flagger.yaml
  addons/kiali/kiali.yaml
  addons/prometheus/prometheus.yaml
  addons/prometheusadapter/prometheusadapter.yaml
  test/prometheus_test.go
  test/testdata/prometheus-metric-output.json
  test/testdata/prometheus-metric-tests.yaml
  test/testdata/test-nightly-group-prom-metric-tests.yaml
Labels: hold, needs backport

#1190 4.1 release notes
  ADDONS.md
  RELEASE_NOTES.md
Labels: documentation, ready

#1191 3.5 release notes
  ADDONS.md
  RELEASE_NOTES.md
Labels: documentation, ready

#1198 3.5 release notes
  ADDONS.md
  RELEASE_NOTES.md
Labels: documentation, ready

#1199 4.1 release notes
  ADDONS.md
  RELEASE_NOTES.md
Labels: documentation, ready

#1201 Merge in changes from release/4.1
  ADDONS.md
  RELEASE_NOTES.md
Labels: ready

#1202 Merge in changes from release/3.5
  ADDONS.md
  RELEASE_NOTES.md
Labels: ready

#1203 [auto-bump][chart] nvidia-0.4.0
  addons/nvidia/nvidia.yaml
Labels: addon/nvidia, help wanted

#1208 fix: update Nvidia configuration for new chart
  addons/nvidia/nvidia.yaml
Labels: addon/nvidia

#1209 [prometheus] bump to chart containing elasticsearch alertmanager rules
  addons/prometheus/prometheus.yaml
Labels: addon/prometheus, ready
