Repository mesosphere/kubernetes-base-addons, pull requests merged in 2021-04, with the labels that each got.

#997 [auto-bump][chart] gatekeeper-0.6.7
  addons/gatekeeper/gatekeeper.yaml
Labels: addon/gatekeeper

#1015 [prometheus] Bump to 12.11.10
  addons/prometheus/prometheus.yaml
Labels: addon/prometheus, needs backport, ready

#1017 [prometheus] Bump thanos to v0.17.1
  addons/prometheus/prometheus.yaml
Labels: addon/prometheus, needs backport, ready

#983 [auto-bump][chart] istio-1.9.1
  addons/istio/istio.yaml
Labels: addon/istio

#866 Automated chart bump fluent-bit-0.10.0
  addons/fluentbit/fluentbit.yaml
Labels: addon/fluentbit, ready

#1034 update kubernetes libraries to v0.20.5
  test/go.mod
  test/go.sum
  test/scripts/update-k8s-libs.sh
Labels: dependencies, ready

#865 Automated chart bump prometheus-elasticsearch-exporter-4.1.0
  addons/elasticsearchexporter/elasticsearchexporter.yaml
Labels: addon/elasticsearchexporter, ready

#993 fix: adds missing `none` provisioner in kiali and jaeger
  addons/jaeger/jaeger.yaml
  addons/kiali/kiali.yaml
Labels: addon/jaeger, addon/kiali

#998 [auto-bump][chart] traefik-1.89.2
  addons/traefik/traefik.yaml
Labels: addon/traefik

#1008 [auto-bump][chart] reloader-v0.0.86
  addons/reloader/reloader.yaml
Labels: addon/reloader, ready

#1047 Remove dispatch integration test
  Dispatchfile
  Makefile
  test/dispatch-ci.sh
Labels: ready

#1025 [auto-bump][chart] dex-k8s-authenticator-1.2.8
  addons/dex-k8s-authenticator/dex-k8s-authenticator.yaml
  test/scripts/test-wrapper.go
Labels: addon/dex-k8s-authenticator, ready

#1039 Bump fluent-bit to 0.15.4
  addons/fluentbit/fluentbit.yaml
Labels: addon/fluentbit, needs backport

#1031 bump tfa-3.0
  addons/traefik-forward-auth/traefik-forward-auth.yaml
Labels: addon/traefik-forward-auth, enhancement, ready

#1056 [backport][tfa] clusterStorage disabled by default
  addons/traefik-forward-auth/traefik-forward-auth.yaml
Labels: backport, ready

#1024 [auto-bump][chart] kubernetes-dashboard-4.0.3
  addons/dashboard/dashboard.yaml
Labels: addon/dashboard, ready

#1055 [auto-bump][chart] opsportal-0.7.0
  addons/opsportal/opsportal.yaml
Labels: addon/opsportal, help wanted

#1051 Removes dispatch integration test for release 4 branch
  Dispatchfile
  Makefile
  test/addons_test.go
  test/dispatch-ci.sh
  test/dispatch_test_install_upgrade.sh
  test/go.mod
  test/go.sum
  test/scripts/setup-konvoy.sh
Labels: ready

#1069 fix release branch tests
  Dispatchfile
  Makefile
  test/addons_test.go
  test/dispatch_test_install_upgrade.sh
  test/go.mod
  test/go.sum
  test/scripts/setup-konvoy.sh
Labels: ready

#1071 [auto-bump][chart] opsportal-0.7.1
  addons/opsportal/opsportal.yaml
Labels: addon/opsportal, needs backport, ready

#1066 [auto-bump][chart] reloader-v0.0.87
  addons/reloader/reloader.yaml
Labels: addon/reloader, ready

#1074 [auto-bump][chart] opsportal-0.7.2
  addons/opsportal/opsportal.yaml
Labels: addon/opsportal, help wanted

#1076 4.0.0-rc.2 release notes
  ADDONS.md
  RELEASE_NOTES.md
Labels: ready
