Repository mesosphere/kubernetes-base-addons, pull requests merged in 2021-01, with the labels that each got.

#776 Automated chart bump opsportal-0.3.28
  addons/opsportal/opsportal.yaml
Labels: ready

#779 Automated chart bump istio-1.8.3
  addons/istio/istio.yaml
Labels: help wanted

#485 Feat: Add vsphere provider
  addons/cert-manager/cert-manager.yaml
  addons/dashboard/dashboard.yaml
  addons/defaultstorageclass-protection/defaultstorageclass-protection.yaml
  addons/dex-k8s-authenticator/dex-k8s-authenticator.yaml
  addons/dex/dex.yaml
  addons/elasticsearch-curator/elasticsearch-curator.yaml
  addons/elasticsearch/elasticsearch.yaml
  addons/elasticsearchexporter/elasticsearchexporter.yaml
  addons/external-dns/external-dns.yaml
  addons/flagger/flagger.yaml
  addons/fluentbit/fluentbit.yaml
  addons/gatekeeper/gatekeeper.yaml
  addons/istio/istio.yaml
  addons/kibana/kibana.yaml
  addons/konvoyconfig/konvoyconfig.yaml
  addons/kube-oidc-proxy/kube-oidc-proxy.yaml
  addons/metallb/metallb.yaml
  addons/opsportal/opsportal.yaml
  addons/prometheus/prometheus.yaml
  addons/prometheusadapter/prometheusadapter.yaml
  addons/traefik-forward-auth/traefik-forward-auth.yaml
  addons/velero/velero.yaml
  addons/vsphere-csi-driver/vsphere-csi-driver.yaml
  test/groups.yaml
Labels: ready

#788 Disabled the nvidia driver container by default
  addons/nvidia/nvidia.yaml
Labels: ready

#790 [Velero] update to v1.5.2 and minio 8.0.8
  addons/velero/velero.yaml
Labels: addon/velero, ready

#760 Remove elasticsearch requirement from fluentbit
  addons/elasticsearch/elasticsearch.yaml
  addons/fluentbit/fluentbit.yaml
  test/addons_test.go
  test/util.go
Labels: addon/elasticsearch, addon/fluentbit, ready

#791 Automated chart bump istio-1.8.4
  addons/istio/istio.yaml
Labels: addon/istio, help wanted

#792 fix: fixes a typo in the annotation on jaeger addon
  addons/jaeger/jaeger.yaml
Labels: addon/jaeger

#803 (release/2) Remove elasticsearch requirement from fluentbit
  addons/elasticsearch/elasticsearch.yaml
  addons/fluentbit/fluentbit.yaml
  test/addons_test.go
  test/util.go
Labels: addon/elasticsearch, addon/fluentbit, backport, ready

#804 Automated bump kubeaddons v0.23.10
  test/go.mod
Labels: ready

#808 Automated chart bump opsportal-0.3.31
  addons/opsportal/opsportal.yaml
Labels: addon/opsportal, ready

#778 [prometheus] upgrade prometheus-operator to version v0.44.x
  addons/prometheus/prometheus.yaml
  test/addons_test.go
  test/prometheus_test.go
Labels: addon/prometheus, ready

#787 Add automated way of generating a table of included addons
  ADDONS.md
  Makefile
  scripts/make_addon_table.sh
Labels: ready

#733 Semi-Automated chart bump reloader-v0.0.79
  addons/reloader/reloader.yaml
Labels: addon/reloader, ready

#819 [ElasticSearch/Kibana] chore: bump versions of kibana/es to 6.18.13
  addons/elasticsearch/elasticsearch.yaml
  addons/kibana/kibana.yaml
Labels: ready

#816 Automated chart bump gatekeeper-0.5.1
  addons/gatekeeper/gatekeeper.yaml
Labels: addon/gatekeeper

#823 Automated chart bump opsportal-0.3.32
  addons/opsportal/opsportal.yaml
Labels: addon/opsportal, ready

#824 prometheus: Bump prometheus to v12.11.4 (fixes cve)
  addons/prometheus/prometheus.yaml
Labels: addon/prometheus, ready

#826 go mod tidy
  test/go.mod
  test/go.sum
Labels: ready

#828 Mitigate CVEs for curl-jq and kubectl
  addons/prometheus/prometheus.yaml
Labels: addon/prometheus

#801 [fluent-bit] Replace dots with underscores in audit logs
  addons/fluentbit/fluentbit.yaml
Labels: addon/fluentbit, ready

#829 kibana: Downgrade to 6.8.10 to fix regression
  addons/elasticsearch/elasticsearch.yaml
  addons/kibana/kibana.yaml
  test/elasticsearch_test.go
Labels: addon/kibana, ready

#825 chore: bump prometheus memory since we are using 3 replicas, based on…
  addons/prometheus/prometheus.yaml
Labels: addon/prometheus

#827 fix: Disable test framework deployment for fluent-bit and kibana
  addons/fluentbit/fluentbit.yaml
  addons/kibana/kibana.yaml
Labels: addon/fluentbit, addon/kibana, ready, security

#831 Automated chart bump gatekeeper-0.5.2 and velero-3.1.1
  addons/gatekeeper/gatekeeper.yaml
  addons/velero/velero.yaml
Labels: addon/gatekeeper, addon/velero

#832 defaultstorageclass-protection: 0.0.5 use better selectors
  addons/defaultstorageclass-protection/defaultstorageclass-protection.yaml
Labels: addon/defaultstorageclass-protection, bug

#833 use busybox sh instead of the no-longer-existing bash
  addons/prometheus/prometheus.yaml
Labels: addon/prometheus, bug, ready

#817 chore: split installation and upgrade process
  test/addons_test.go
  test/dispatch-ci.sh
  test/go.mod
  test/go.sum
  test/groups.yaml
  test/run-tests.sh
  test/scripts/setup-konvoy.sh
Labels: wip

#746 Automated chart bump fluent-bit-0.7.13
  addons/fluentbit/fluentbit.yaml
Labels: addon/fluentbit, ready

#796 [ElasticSearch, Kibana] Update addon to point to version 7.10.1
  addons/elasticsearch/elasticsearch.yaml
  addons/kibana/kibana.yaml
Labels: addon/elasticsearch, ready
