Repository mesosphere/kubernetes-base-addons, pull requests merged in 2021-09, with the labels that each got.

#1302 fix: Bump prometheus image to v2.29.2
  addons/prometheus/prometheus.yaml
Labels: ready, addon/prometheus, needs backport

#1314 [auto-bump][chart] traefik-forward-auth-0.3.3
  addons/traefik-forward-auth/traefik-forward-auth.yaml
Labels: addon/traefik-forward-auth, needs backport

#1318 4.2.0 release notes
  ADDONS.md
  RELEASE_NOTES.md
Labels: documentation, ready

#1319 3.6.0 release notes
  ADDONS.md
  Makefile
  RELEASE_NOTES.md
Labels: documentation, ready

#1105 remove ambassador
  .github/dependabot.yml
  .github/labeler.yml
  ADDONS.md
  CODEOWNERS
  addons/ambassador/ambassador.yaml
  test/addons_test.go
  test/ambassador_test.go
  test/go.mod
  test/go.sum
  test/groups.yaml
  test/scripts/test-wrapper.go
Labels: ready, needs rebase
