Repository mesosphere/kubernetes-base-addons, pull requests merged in 2021-03, with the labels that each got.

#928 [gatekeeper] chore: upgrade gatekeeper and setup remap values
  addons/gatekeeper/gatekeeper.yaml
  test/test-aws.sh
Labels: addon/gatekeeper, ready

#893 Automated chart bump reloader-v0.0.80
  addons/reloader/reloader.yaml
Labels: addon/reloader, help wanted, ready

#940 [gatekeeper]chore: allow excluding namespaces
  addons/gatekeeper/gatekeeper.yaml
Labels: addon/gatekeeper, ready

#942 [auto-bump][chart] gatekeeper-0.6.2
  addons/gatekeeper/gatekeeper.yaml
Labels: addon/gatekeeper, ready

#949 [auto-bump][chart] reloader-v0.0.81
  addons/reloader/reloader.yaml
Labels: addon/reloader

#952 [gatekeeper] chore: allow gatekeeper proxy to use namespace selector
  addons/gatekeeper/gatekeeper.yaml
Labels: addon/gatekeeper, ready

#943 [release/2][BACKPORT] prometheus: Enable etcd rules
  addons/prometheus/prometheus.yaml
Labels: addon/prometheus, backport

#938 prometheus: Enable etcd rules
  addons/prometheus/prometheus.yaml
Labels: addon/prometheus, needs backport

#953 [auto-bump][chart] opsportal-0.5.0
  addons/opsportal/opsportal.yaml
Labels: addon/opsportal, ready

#956 Add delete strategy to reloader
  addons/reloader/reloader.yaml
Labels: addon/reloader

#963 [gatekeeper] update to remove proxy settings from deployment
  addons/gatekeeper/gatekeeper.yaml
Labels: addon/gatekeeper, ready

#948 [auto-bump][chart] kibana-3.3.1
  addons/kibana/kibana.yaml
Labels: addon/kibana, ready

#965 [auto-bump][chart] gatekeeper-0.6.5
  addons/gatekeeper/gatekeeper.yaml
Labels: addon/gatekeeper, help wanted

#961 2.7.0 release notes
  .gitignore
  ADDONS.md
  RELEASE_NOTES.md
Labels: documentation

#745 Automated chart bump kubernetes-dashboard-3.0.2
  addons/dashboard/dashboard.yaml
Labels: addon/dashboard, help wanted

#976 [auto-bump][chart] opsportal-0.6.0
  addons/opsportal/opsportal.yaml
Labels: addon/opsportal, ready

#981 [release/3][BACKPORT] Prometheus: Enable etcd rules
  addons/prometheus/prometheus.yaml
Labels: addon/prometheus, ready

#977 [auto-bump][chart] reloader-v0.0.85
  addons/reloader/reloader.yaml
Labels: addon/reloader, ready

#986 Release 3.4.0
  ADDONS.md
  RELEASE_NOTES.md
Labels: documentation, ready

#987 Makefile updates for release target
  ADDONS.md
  Makefile
  RELEASE_NOTES.md
Labels: ready
