Repository mesosphere/kubernetes-base-addons, pull requests merged in 2021-02, with the labels that each got.

#840 configure actions/labeler
  .github/labeler.yml
  .github/workflows/labeler.yml
Labels: ready

#843 add merge requirements
  .github/mergeable.yml
Labels: ready

#844 Automated chart bump opsportal-0.3.33
  addons/opsportal/opsportal.yaml
Labels: addon/opsportal, ready

#848 chore: bump prometheus-adapter
  .github/workflows/labeler.yml
  addons/prometheusadapter/prometheusadapter.yaml
Labels: addon/prometheusadapter, bug, ready

#846 require release-note block be filled
  .github/mergeable.yml
Labels: ready

#739 Automated chart bump prometheus-elasticsearch-exporter-4.0.1
  addons/elasticsearchexporter/elasticsearchexporter.yaml
Labels: addon/elasticsearchexporter

#849 Automated chart bump opsportal-0.3.34
  addons/opsportal/opsportal.yaml
Labels: addon/opsportal

#852 fix: test wrapper did only work on master branch
  test/go.sum
  test/scripts/test-wrapper.go
Labels: needs backport

#835 Automated chart bump jaeger-operator-2.18.4
  addons/jaeger/jaeger.yaml
Labels: addon/jaeger, help wanted, ready

#856 fix: addons test for release branches
  test/addons_test.go
  test/scripts/test-wrapper.go
Labels: needs backport

#850 chore: split and parallelize install and upgrade jobs.
  Dispatchfile
  Makefile
  test/addons_test.go
Labels: ci

#861 Automated chart bump opsportal-0.3.35
  addons/opsportal/opsportal.yaml
Labels: addon/opsportal, help wanted

#869 Automated chart bump dex-2.9.2
  addons/dex/dex.yaml
Labels: addon/dex, ready

#858 [3.2] fix: addons test for release branches
  test/addons_test.go
  test/scripts/test-wrapper.go
Labels: ready

#870 Bump dex to 2.9.2
  addons/dex/dex.yaml
Labels: addon/dex, ready

#867 Automated chart bump jaeger-operator-2.19.0
  addons/jaeger/jaeger.yaml
Labels: addon/jaeger, help wanted

#862 Automated chart bump ambassador-6.5.18
  addons/ambassador/ambassador.yaml
Labels: addon/ambassador, help wanted

#879 add mergebot backport feature
  mergebot-config.json
Labels: ready

#863 Automated chart bump defaultstorageclass-0.0.6
  addons/defaultstorageclass-protection/defaultstorageclass-protection.yaml
Labels: addon/defaultstorageclass-protection, needs backport

#882 defaultstorageclass-protection annotation changes
  addons/defaultstorageclass-protection/defaultstorageclass-protection.yaml
Labels: addon/defaultstorageclass-protection, needs backport, ready

#884 fix: prometheusadapter reporting double CPU and memory
  addons/prometheusadapter/prometheusadapter.yaml
Labels: addon/prometheusadapter

#887 kiali: set version for kiali/kiali image
  addons/kiali/kiali.yaml
Labels: addon/kiali, ready

#841 Bump kubeaddons and ksphere-testing-framework pkgs
  test/addons_test.go
  test/go.mod
  test/go.sum
  test/scripts/test-wrapper.go
Labels: ready

#891 Add automated release make targets
  .gitignore
  Makefile
  RELEASE.md
  tools/cmd/release-notes/.gitignore
  tools/cmd/release-notes/go.mod
  tools/cmd/release-notes/go.sum
  tools/cmd/release-notes/release-notes.go
Labels: ready

#892 Automated chart bump kiali-operator-1.29.1
  addons/kiali/kiali.yaml
Labels: addon/kiali, help wanted

#860 Rework tests to be more parallel
  Dispatchfile
  Makefile
  test/addons_test.go
  test/dispatch_test_install_upgrade.sh
  test/groups.yaml
  test/test-aws.sh
Labels: ci

#900 [release/3.3] Bump prometheus to 12.11.9
  addons/prometheus/prometheus.yaml
Labels: addon/prometheus, backport, ready

#868 Semi-Automated chart bump prometheus-operator-12.11.9
  addons/prometheus/prometheus.yaml
Labels: addon/prometheus, needs backport

#930 [auto-bump][chart] opsportal-0.4.0
  addons/opsportal/opsportal.yaml
Labels: addon/opsportal, ready

#932 return errors and set result to not 0 if an error occurs
  tools/cmd/release-notes/release-notes.go
Labels: ready

#931 backport tools for upcoming release
  ADDONS.md
  Makefile
  tools/cmd/release-notes/.gitignore
  tools/cmd/release-notes/.vscode/launch.json
  tools/cmd/release-notes/go.mod
  tools/cmd/release-notes/go.sum
  tools/cmd/release-notes/release-notes.go
Labels: ready

#934 prometheus: Bump prometheus to 9.3.7
  addons/prometheus/prometheus.yaml
Labels: addon/prometheus, backport, ready

#933 fix for non dispatch
  test/test-aws.sh
Labels: ready
