Repository mesosphere/kubernetes-base-addons, pull requests merged in 2021-05, with the labels that each got.

#1087 chore: make addons bump script execute only one a sprint
  Dispatchfile
Labels: ready

#1100 [auto-bump][chart] opsportal-0.8.0
  addons/opsportal/opsportal.yaml
Labels: help wanted

#1106 feat: bump opsportal to v0.8.1
  addons/opsportal/opsportal.yaml
Labels: addon/opsportal, backport

#1104 feat: bump Ambassador to v6.7.5
  addons/ambassador/ambassador.yaml
Labels: hold

#1111 release notes
  ADDONS.md
  RELEASE_NOTES.md
Labels: ready

#1112 make release notes tool work with more than 30 PRs
  tools/cmd/release-notes/release-notes.go
Labels: needs backport, ready

#1109 chore: bump dex
  addons/dex/dex.yaml
Labels: addon/dex, needs backport, ready

#1117 release 4.0.0 release notes
  RELEASE_NOTES.md
Labels: ready

#1129 Upgrade prometheus addon chart
  addons/prometheus/prometheus.yaml
  addons/prometheusadapter/prometheusadapter.yaml
  test/prometheus_test.go
Labels: addon/prometheus, chore, needs backport, ready

#1127 vsphere-csi-driver: bump to v2.2.0
  addons/vsphere-csi-driver/vsphere-csi-driver.yaml
Labels: addon/vsphere-csi-driver, needs backport

#1135 [tests] [flagger] [kiali] Update references to prometheus resources
  Dispatchfile
  Makefile
  addons/flagger/flagger.yaml
  addons/kiali/kiali.yaml
  test/dispatch_test_install_upgrade.sh
  test/run-tests.sh
  test/scripts/setup-konvoy.sh
  test/testdata/prometheus-metric-output.json
  test/testdata/prometheus-metric-tests.yaml
  test/testdata/test-nightly-group-prom-metric-tests.yaml
Labels: addon/flagger, addon/kiali, needs backport, ready

#1124 [release/3][BACKPORT] bump opsportal to 0.7.2
  addons/opsportal/opsportal.yaml
Labels: addon/opsportal, backport, ready

#1162 use internal traefik fork
  addons/traefik/traefik.yaml
Labels: addon/traefik, needs backport, ready

#1133 [auto-bump][chart] nvidia-0.3.6
  addons/nvidia/nvidia.yaml
Labels: needs backport, ready
