Repository mesosphere/kubernetes-base-addons, pull requests merged in 2022-02, with the labels that each got.

#1418 [auto-bump][chart] kube-oidc-proxy-0.3.0
  addons/kube-oidc-proxy/kube-oidc-proxy.yaml
Labels: ready, addon/kube-oidc-proxy

#1422 v4.4.0 release notes
  ADDONS.md
  RELEASE_NOTES.md
Labels: documentation

#1441 tfa: update to 3.1.0 to pull in clusterstorage
  addons/traefik-forward-auth/traefik-forward-auth.yaml
Labels: addon/traefik-forward-auth, needs backport

#1445 updating default-storage-class addon to latest chart version
  addons/defaultstorageclass-protection/defaultstorageclass-protection.yaml
Labels: addon/defaultstorageclass-protection
