Repository mesosphere/kubernetes-base-addons, pull requests merged in 2022-01, with the labels that each got.

#1329 [prometheus] Bump kube-prometheus-stack to 15.4.9
  addons/prometheus/prometheus.yaml
Labels: ready, addon/prometheus, needs backport

#1397 [prometheus] Bump kube-prometheus-stack to 15.4.10
  addons/prometheus/prometheus.yaml
Labels: addon/prometheus

#1415 [auto-bump][chart] nvidia-0.4.4
  addons/nvidia/nvidia.yaml
Labels: help wanted, addon/nvidia
